<div id="app-content" class="col-xs-12 col-sm-10">
    <div class="row">
        <div id="app-content-header">
            <ol class="breadcrumb">
                <li><a href="#99sy/syDashboard"><i class="fa fa-home fa-2x"></i></a></li>
                <li><a href="#98te/teOtherKendo">샘플화면</a></li>
            </ol>
        </div>
    </div>
    
    <!-- 주소 -->
    <div class="row">
        <div class="content-area-container col-xs-12">
        	<div data-content-box-layer data-box-title="otherKendoVO1.boxTitle">
	        	<div id="basicSearch">
	        		<form class="search-type1">
	        			<table>
	        				<colgroup>
								<col style="width: 10%;">
								<col style="width: 23%;">
								<col style="width: 10%;">
								<col style="width: 23%;">
								<col style="width: 10%;">
								<col style="width: 24%;">
	        				</colgroup>
	        				<tbody>
	        					<tr>
	        						<th>마켓명</th>
	        						<td>
	        							<co01-mcbox model="otherKendoVO1.mcb01Model" options="otherKendoVO1.mcb01Data" setting="otherKendoVO1.setting" style="width:100%;">
		        						</co01-mcbox>
		        					</td>
		        					<th>상품명</th>
	        						<td>
		        						<input type="text" 
		        						       eden-type="kor" 
		        						       class="form-control" 
		        						       title="상품명 입력" 
		        						       data-ng-model="otherKendoVO1.searchObj.entity.NM_ITEM" 
		        						       disabled="enabled"/>
		        					</td>
		        					<th>주문상태</th>
	        						<td>
		        						<co01-mcbox model="otherKendoVO1.mcb02Model" options="otherKendoVO1.mcb02Data" setting="otherKendoVO1.setting"  style="width:100%;">
		        						</co01-mcbox>
		        					</td>
	        					</tr>
	        					<tr>
	        						<th>주문번호</th>
	        						<td>
		        						<input type="text" 
		        						       eden-type="kor" 
		        						       class="form-control" 
		        						       title="주문번호 입력" 
		        						       data-ng-model="otherKendoVO1.searchObj.entity.NM_ITEM" 
		        						       disabled="enabled"/>
		        					</td>
		        					<th>구매자/수취인</th>
	        						<td>
		        						<input type="text" 
		        						       eden-type="kor" 
		        						       class="form-control" 
		        						       title="구매자/수취인 입력" 
		        						       data-ng-model="otherKendoVO1.searchObj.entity.NM_ITEM" 
		        						       disabled="enabled"/>
		        					</td>
		        					<th></th>
	        						<td>
		        					</td>
	        					</tr>
	        					<tr>
	        						<th>기간</th>
	        						<td colspan="5">
		        						<div class="frm-inline">
											<div class="frm-group">
												<select class="form-control" title="검색기간종류 선택" data-ng-options="code.CD as code.NAME for code in otherKendoVO1.perTpCdList" data-ng-model="otherKendoVO1.TP_PER">
												</select>
											</div>
											<div class="frm-group" data-date-search-group="otherKendoVO1.datesetting"></div>
										</div>
		        					</td>
	        					</tr>
	        					<!-- tr>
	        						<th>999 첨부파일</th>
	        						<td>
	        							<co02-filebox filevo="otherKendoVO1.file999VO"></co02-filebox>
	        						</td>
	        						<th>998첨부파일</th>
	        						<td>
	        							<co02-filebox filevo="otherKendoVO1.file998VO"></co02-filebox>
	        						</td>
	        						<th></th>
	        						<td>
	        						</td>
	        					</tr-->
	        					<tr>
	        						<th>997 첨부파일</th>
	        						<td>
	        							<co02-filebox filevo="otherKendoVO1.file997VO"></co02-filebox>
	        						</td>
	        						<th></th>
	        						<td>
	        						</td>
	        						<th></th>
	        						<td>
	        						</td>
	        					</tr>
	        				</tbody>
	        			</table>
	        			
						<div class="btn-group1 mt-20">
							<button type="submit" class="btn btn-primary" title="기본검색" data-ng-click="otherKendoVO1.inquiry()">검색</button>
							<button type="button" class="btn btn-danger" title="기본검색 초기화" data-ng-click="otherKendoVO1.initParam()">초기화</button>
	        				<button type="button" title="저장" data-ng-click="otherKendoVO1.fileSave()">파일저장</button>
						</div>
	        		</form>
	        	</div>
	    	</div>
        </div>
    </div>
    
    
    <div class="row">
		<div class="content-area-container col-xs-6">
			<div data-content-box-layer data-box-title="vm.gridObj.boxTitle">
				<div id="salesContent">
					<div class="box-content-article">
						<div class="article-header">
							<div class="col-xs-6 article-header-box">
								<div class="info">Total : <span class="total-count">{{vm.gridObj.grid.data.length}}</span> 건</div>
							</div>
							<div class="col-xs-6 article-header-box ta-r grid-export">
								<button data-ng-if="page.isWriteable()" type="button" class="ae-btn ae-add-btn" title="배송지연" data-ng-click="vm.gridObj.moveInsPage()">
									<i class="fa fa-plus"></i> 배송지연
								</button>
							</div>
						</div>
		                <kendo-grid options="gridSampleVO">
		                </kendo-grid>
					</div>
				</div>
			</div>
		</div>
		<div class="content-area-container col-xs-6">
			<div data-content-box-layer data-box-title="vm.gridObj.boxTitle">
				<div id="salesContent">
					<div class="box-content-article">
						<div class="article-header">
							<div class="col-xs-6 article-header-box">
								<div class="info">Total : <span class="total-count">{{vm.gridObj.grid.data.length}}</span> 건</div>
							</div>
							<div class="col-xs-6 article-header-box ta-r grid-export">
								<button data-ng-if="page.isWriteable()" type="button" class="ae-btn ae-add-btn" title="배송지연" data-ng-click="vm.gridObj.moveInsPage()">
									<i class="fa fa-plus"></i> 배송지연
								</button>
							</div>
						</div>
		                <kendo-grid options="gridSampleVO_test">
		                </kendo-grid>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
