<div id="app-content" class="col-xs-12 col-sm-10">
    <div class="row">
        <div id="app-content-header">
            <ol class="breadcrumb">
                <li><a href="#99sy/syDashboard"><i class="fa fa-home fa-2x"></i></a></li>
                <li><a href="#03sa/saOrdCcl">주문·배송 / 취소·반품·교환 / 취소처리</a></li>
            </ol>
        </div>
    </div>
    
     <div class="row">
        <!-- 검색 -->
        <div class="content-area-container col-xs-12" style="margin:0px 0px -5px 0px;">
        	<div data-content-box-layer data-box-title="ordCancelManagementDataVO.boxTitle" data-is-open="ordCancelManagementDataVO.isOpen(val)">
                <form class="search-type1" id="myForm">
                	<table>
                        <colgroup>
                            <col style="width: 7%;">
                            <col style="width: 18%;">
                            <col style="width: 7%;">
                            <col style="width: 23%;">
                            <col style="width: 7%;">
                            <col style="width: 18%;">
                            <col style="width: 7%;">
                            <col style="width: 18%;">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th>마켓명</th>
                            <td>
                            	<co01-mcbox title="마켓명" model="ordCancelManagementDataVO.ordMrkNameMo" options="ordCancelManagementDataVO.ordMrkNameOp" setting="ordCancelManagementDataVO.setting" style="width:100%;">
        						</co01-mcbox> 
                            </td>
                            <th>상품명</th>
                            <td>
                            	<input data-ng-model="ordCancelManagementDataVO.procName.value"
                            			focus="ordCancelManagementDataVO.procName.focus"
                            			title="상품명"
                            			data-eden-type="kor" 
                            			type="text" 
                            			class="form-control" style="width:100%;"/>
                            </td>		
                            <th>주문상태</th>
                            <td>            
       							<co01-mcbox id="shpbyord-status" title="주문상태" model="ordCancelManagementDataVO.ordStatusMo" options="ordCancelManagementDataVO.ordStatusOp" setting="ordCancelManagementDataVO.setting"  style="width:100%;">
        						</co01-mcbox>        						
                            </td>   
                            <th>주문번호</th>
                            <td>     
					            <input data-ng-model="ordCancelManagementDataVO.orderNo.value"
                            			focus="ordCancelManagementDataVO.orderNo.focus"
                            			title="주문번호"
                            			data-eden-type="kor" 
                            			type="text" 
                            			class="form-control" style="width:100%;"/>
                            </td>         
                        </tr>
                        <tr>
                            <th>구매자/수취인</th>
                            <td>                            	              	
                            	<input data-ng-model="ordCancelManagementDataVO.buyerName.value"
                            			focus="ordCancelManagementDataVO.buyerName.focus"
                            			title="구매자/수취인"
                            			data-eden-type="kor" 
                            			type="text" 
                            			class="form-control" style="width:100%;"/>
                            </td>
                            <th>취소상태</th>
                            <td><co01-mcbox title="취소상태" model="ordCancelManagementDataVO.cancelStatusMo" options="ordCancelManagementDataVO.cancelStatusOp" setting="ordCancelManagementDataVO.setting" style="width:100%;">
        						</co01-mcbox> </td>
                            <th></th>
                            <td></td>
                            <th></th>
                            <td></td>                            
                        </tr>
                        <tr>
                            <th>기간</th>                            
                            <td>
                            	<select ng-model="ordCancelManagementDataVO.betweenDateOptionMo"
        								ng-options="option.CD_DEF as option.NM_DEF for option in ordCancelManagementDataVO.betweenDateOptionOp"
        								class="form-control"
        								style="width: 100%">
        						</select>	
                            </td>
                            <td colspan="6">                            	              	
                            	<div class="frm-group" data-date-search-group="ordCancelManagementDataVO.datesetting" style="display:inline-block;"></div>
                            </td>
                        </tr>
                        </tbody>
                    </table>         		     
                    <div class="btn-group1 mt-10">
                        <kendo-button type="submit" class="k-primary" title="검색" data-ng-click="ordCancelManagementDataVO.inQuiry()" style="width:70px;">검색</kendo-button>
                        <kendo-button type="botton" title="초기화" data-ng-click="ordCancelManagementDataVO.inIt()" style="width:70px;">초기화</kendo-button>
                    </div>
                </form>
            </div>
        </div>
        
        <!-- 주문 목록 -->          
		<div class="content-area-container col-xs-12" style="padding:0px 0px 0px 0px;">				
			<kendo-tooltip options="grdOrdCancelManagementVO.tooltipOptions">								
		        <div id="divOrdCancelManagementGrd" kendo-grid="ordCancelManagementkg" options="grdOrdCancelManagementVO">
		        </div>	
		    </kendo-tooltip>            
        </div>
    </div>
</div>

<!-- 주문 취소 팝업 -->
<script id="ocm_popup_template" type="text/x-kendo-template">
	<div class="not_pop_title"><h4>주문 취소 거부 입력</h4></div>

	<table class="table signal" data-uid="#= uid #">
		<colgroup>
      		<col style="width: 14%;">
      		<col style="width: 30%;">
      		<col style="width: 14%;">
      		<col style="width: 30%;">
    	</colgroup>
    	<tbody>	
			<tr class="border-bottom-line border-top-line">	
				<td class="active border-right-line">
					마켓
				</td>
				<td class="border-right-line">
					#if(NM_MRK){ #
					#: NM_MRK #
					#}#
				</td>
				<td class="active border-right-line">
					상품주문번호
				</td>
				<td>
					#if(NO_MRKITEMORD){ #
					#: NO_MRKITEMORD #
					#}#
				</td>
			</tr>

			<tr class="border-bottom-line">
				<td class="active border-right-line">
					상품코드
				</td>
				<td colspan="3">
					#if(NO_MRKITEM){ #
					#: NO_MRKITEM #
					#}#	
				</td>
			</tr>
			<tr class="border-bottom-line">
				<td class="active border-right-line">
					상품명
				</td>
				<td colspan="3">
					#if(NM_MRKITEM){ #
					#: NM_MRKITEM #
					#}#
				</td>
			</tr>

			<tr class="border-bottom-line">
				<td class="active border-right-line">
					구매자
				</td>
				<td class="border-right-line">
					#if(NM_PCHR){ #
					#: NM_PCHR #
					#}#	
				</td>
				<td class="active border-right-line">
					배송방법
				</td>
				<td>
					#if(DC_SHPWAY){ #
					#: DC_SHPWAY #
					#}#			
				</td>
			</tr>

			<tr class="border-bottom-line">
				<td class="active border-right-line">
					구매수량
				</td>
				<td class="ta-r">
					#if(QT_ORD){ #
					#: QT_ORD #
					#}#	
				</td>
				<td class="active border-right-line">
				</td>
				<td>
				</td>
			</tr>

			<tr class="border-bottom-line">
				<td class="active border-right-line">
					주문취소코드
				</td>
				<td>
					<select kendo-drop-down-list
               		 	k-options="ordCancelManagementDataVO.cancelCodeOp"
						name="CD_CCLHRNKRSN"
						data-bind="value: CD_CCLHRNKRSN"
                		style="width: 100%">
					</select>
				</td>
				<td colspan="2">
				</td> 
			</tr>

			<tr class="border-bottom-line">
				<td class="active border-right-line">
					주문취소사유
				</td>
				<td colspan="3">			
					<textarea class="k-textbox k-state-disabled" name="NM_CCLHRNKRSN" data-bind="value: NM_CCLHRNKRSN" disabled="disabled" style="width:100%; height:100px; overflow-y: scroll;"></textarea>
				</td> 
			</tr>
			#if(NO_MNGMRK === 'SYMM170901_00001'){#
			<tr class="border-bottom-line">
				<td class="active border-right-line">
					주문취소 상세코드 
				</td>
				<td>
					<select kendo-drop-down-list
               		 	k-options="ordCancelManagementDataVO.cancelLowCodeOp"
						name="CD_CCLLRKRSN"
						data-bind="value: CD_CCLLRKRSN"
                		style="width: 100%">
					</select>
				</td>
				<td colspan="2">
				</td> 
			</tr>
			#}#
			#if(NO_MNGMRK === 'SYMM170901_00001'){#
			<tr class="border-bottom-line">
				<td class="active border-right-line">
					주문취소 상세사유
				</td>
				<td colspan="3">			
					<textarea class="k-textbox k-state-disabled" 
									name="NM_CCLLRKRSN" 
									data-bind="value: NM_CCLLRKRSN" 
									disabled="disabled" 
									style="width:100%; height:100px; overflow-y: scroll;">
					</textarea>
				</td> 
			</tr>
			#}#	
			<tr class="border-bottom-line">
				<td class="active border-right-line">
					<code>*</code>취소거부 구분<br/>	
				</td>
				<td>
					<select 
						name="cancel_reject_code"
						data-bind="value: cancel_reject_code"
                		style="width: 100%">
					</select>
				</td>
				<td colspan="2">
				</td> 
			</tr>
			<tr class="border-bottom-line" data-ng-if="ngIfdata(ordCancelManagementDataVO.cancelRjCdEq)">
				<td class="active border-right-line">
					<code>*</code>택배사<br/>
				</td>
				<td>
					<select
						name="CD_PARS"
						data-bind="value: CD_PARS"
                		style="width: 100%">
					</select>
				</td>
				<td colspan="2">
				</td>
			</tr>
			<tr class="border-bottom-line" data-ng-if="ngIfdata(ordCancelManagementDataVO.cancelRjCdEq)">
				<td class="active border-right-line">
					<code>*</code>송장번호<br/>
				</td>
				<td colspan="3">			
					<textarea class="k-textbox" 
						name="NO_INVO" 
						data-bind="value: NO_INVO" 
						rows="3" 
						data-ng-blur="popupUtil($event)" 
						style="width:100%; overflow-y: scroll;"></textarea>
				</td> 
			</tr>	
			<tr class="border-bottom-line" data-ng-if="ngIfdata(ordCancelManagementDataVO.cancelRjCdEqCtt)">
				<td class="active border-right-line">
					<code>*</code>취소거부 상세 사유<br/>
				</td>
				<td colspan="3">
					<textarea class="k-textbox" name="DC_CCLRJTCTT" data-bind="value: DC_CCLRJTCTT" rows="5" style="width:100%; overflow-y: scroll;"></textarea>
				</td> 
			</tr>
			<tr class="border-bottom-line" data-ng-if="ngIfdata(ordCancelManagementDataVO.cancelRjCdEq)">
				<td class="active border-right-line">
					<code>*</code>접수일자<br/>
				</td>
				<td colspan="3" class="ta-l">
					<input kendo-date-picker		
						   id="DTS_RECER"
			 			   name="DTS_RECER"
			 			   k-options="ordCancelManagementDataVO.dateOptions"
             			   data-bind="value: DTS_RECER"
						   data-ng-blur="popupUtil($event)" 
             			   style="width: 50%;" />
				</td>
			</tr>
		</tbody>
	</table>
</script>

<!-- 주문 조회 그리드 툴바 템플릿 -->
<script id="ocm-toolbar-template" type="text/x-kendo-template">
	<a class="k-button k-button-icontext k-grid-cclinfo ccl-confirm"><span class="k-icon k-i-check"></span>취소 승인</a>
	<a class="k-button k-button-icontext k-grid-edit"><span class="k-icon k-i-cancel"></span>취소 거부</a> 
</script>

<style>
.k-edit-form-container{
    width: 700px;
}
.k-popup-edit-form .k-edit-label{
    width: 20%;
    text-align: left;
}
.k-popup-edit-form .k-edit-field{
    width: 70%;
}
.k-popup-edit-form .k-edit-field > .k-textbox,
.k-popup-edit-form .k-edit-field > .k-widget:not(.k-tooltip){
    width: 98%;
}
.div-rows{
	border-bottom: solid 1px #bbdceb;	
}
.not_pop_title{
	padding: 10px;
}
.signal{    
    width: 99%;
    margin: 5px;
}
</style>
