<div data-ng-controller="sy.MrkSaCntCtrl">
    <div class="box-content-article">
        <div class="article-view">
              <!-- CHART -->
              <div data-ng-show="mrkSaCnt.tabName == 'CHART'" class="jui-chart">
                  <div class="row jui-chart-row" style="margin-top:50px;">
                      <kendo-chart options="mrkSaCnt.chart.options"></kendo-chart>
                  </div>
              </div>

              <!-- TABLE -->
              <div data-ng-show="mrkSaCnt.tabName == 'TABLE'">
                  <div class="tbl-type1 mt-5">
                  	  <kendo-grid options="mrkSaCnt.table.options">
		              </kendo-grid>
                  </div>
              </div>
        </div>
    </div>
</div>
