<div id="app-content" class="col-xs-12 col-sm-10">
    <div class="row">
        <div id="app-content-header">
            <ol class="breadcrumb">
                <li><a href="#99sy/syDashboard"><i class="fa fa-home fa-2x"></i></a></li>
                <li><a href="#99sy/syUser">?¨Ïö©?êÍ?Î¶?/a></li>
            </ol>
        </div>
    </div>

    <!-- ?†Ï??±Î°ù -->
    <div class="row">
        <div class="content-area-container col-xs-12">
            <div data-content-box-layer data-box-title="syUserVO.boxTitle">
                <form class="form-type1" id="userForm" name="userForm" novalidate>
                    <table>
                        <colgroup>
                            <col style="width: 12%">
                            <col style="width: 38%">
                            <col style="width: 12%">
                            <col style="width: 38%">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th>?¨ÏõêID<span class="form-required">* </span></th>
                            <td colspan="3">
                                <span data-ng-if="page.isWriteable() && syUserVO.kind=='insert'">
                                    <input type="text" class="form-control wid-x4" id="userDC_ID" name="userDC_ID" title="?¨ÏõêÎ≤àÌò∏ ?ÖÎ†•"
                                           maxlength="15" data-ng-model="syUserVO.param.DC_ID">
                                </span>
                                <span data-ng-if="!page.isWriteable() || syUserVO.kind=='detail'">
                                    {{syUserVO.param.DC_ID}}
                                </span>
                            </td>
                        </tr>
                        <tr data-ng-if="page.isWriteable()">
                            <th>ÎπÑÎ?Î≤àÌò∏<span data-ng-if="syUserVO.kind=='insert'" class="form-required">* </span></th>
                            <td colspan="3">
                                <input type="password" class="form-control wid-x4" id="userPw" name="userPw" title="ÎπÑÎ?Î≤àÌò∏ ?ÖÎ†•"
                                       maxlength="14"
                                       data-ng-model="syUserVO.param.DC_PWD"
                                       data-ng-change="syUserVO.isCheckPassword()">
                            </td>
                        </tr>
                        <tr data-ng-if="page.isWriteable()">
                            <th>ÎπÑÎ?Î≤àÌò∏ ?ïÏù∏<span data-ng-if="syUserVO.kind=='insert'" class="form-required">* </span></th>
                            <td colspan="3">
                                <input type="password" class="form-control wid-x4" id="userChkPw" title="ÎπÑÎ?Î≤àÌò∏?ïÏù∏ ?ÖÎ†•"
                                       maxlength="14"
                                       data-ng-model="syUserVO.confirmDC_PWD"
                                       data-ng-change="syUserVO.isCheckPassword()">
                                <span class="checkMsg">{{syUserVO.checkMsg}}</span>
                            </td>
                        </tr>
                        <tr>
                            <th>?¥Î¶Ñ<span class="form-required">* </span></th>
                            <td colspan="3">
                                <span data-ng-if="page.isWriteable()">
                                    <input type="text" class="form-control wid-x6" id="userNM_EMP" title="?¥Î¶Ñ ?ÖÎ†•"
                                           maxlength="20"
                                           data-ng-model="syUserVO.param.NM_EMP" data-eden-type="kor">
                                </span>
                                <span data-ng-if="!page.isWriteable()">
                                    {{syUserVO.param.NM_EMP}}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th>Î∂?Ñú/ÏßÅÍ∏â<span class="form-required">* </span></th>
                            <td>
                                <span data-ng-if="page.isWriteable()">
                                    <select class="form-control wid-x5" id="userDepart" title="Î∂?Ñú?†ÌÉù"
                                            data-ng-model="syUserVO.selectedDepart"
                                            data-ng-options="codeInfo.NM_DEPT for codeInfo in syUserVO.departCodeList track by codeInfo.NO_DEPT">
                                        <option value="">Î∂?Ñú?†ÌÉù</option>
                                    </select>
                                    <select class="form-control wid-x5" id="userRank" title="ÏßÅÍ∏â?†ÌÉù"
                                            data-ng-model="syUserVO.selectedRank"
                                            data-ng-options="codeInfo.NM_DEF for codeInfo in syUserVO.rankCodeList track by codeInfo.CD_DEF">
                                        <option value="">ÏßÅÍ∏â?†ÌÉù</option>
                                    </select>
                                </span>
                                <span data-ng-if="!page.isWriteable()">
                                    {{syUserVO.param.NM_DEPT}} / {{syUserVO.param.NM_RANK}}
                                </span>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>ÏßÅÍµ∞/Í∂åÌïú<span class="form-required">* </span></th>
                            <td>
                                <span data-ng-if="page.isWriteable()">
                                    <select class="form-control wid-x5" id="userWork" title="ÏßÅÍµ∞?†ÌÉù"
                                            data-ng-model="syUserVO.selectedWorkgroup"
                                            data-ng-options="codeInfo.NM_DEF for codeInfo in syUserVO.workgroupCodeList track by codeInfo.CD_DEF">
                                        <option value="">ÏßÅÍµ∞?†ÌÉù</option>
                                    </select>
                                    <select id="userAuth" class="form-control wid-x5" title="Í∂åÌïú ?†ÌÉù" 
                                    data-ng-options="role.NO_ATRT as role.NM_ATRT for role in syUserVO.roleCodeList" 
                                    data-ng-model="syUserVO.param.NO_ATRT">
                                        <option value="">Í∂åÌïú?†ÌÉù</option>
                                    </select>
                                </span>
                                <span data-ng-if="!page.isWriteable()">
                                    {{syUserVO.param.NM_OCC}} / {{syUserVO.param.NM_ATRT}}
                                </span>
                            </td>
                            <th>?∏Îìú?∞Î≤à??/th>
                            <td>
                                <span data-ng-if="page.isWriteable()">
                                    <input type="text" class="form-control wid-x6" id="userPhone" title="?∏Îìú?∞Î≤à???ÖÎ†•" data-ng-model="syUserVO.param.NO_CEPH" maxlength="13">
                                </span>
                                <span data-ng-if="!page.isWriteable()">
                                    {{syUserVO.param.NO_CEPH}}
                                </span>
                            </td>
                        </tr>
                        <tr data-ng-show="syUserVO.kind == 'detail'">
                            <th>?¨ÏßÅ?ÅÌÉú</th>
                            <td>
                                <span data-ng-if="page.isWriteable()">
                                    <select class="form-control wid-x2" id="userStatus" title="?¨ÏßÅ?ÅÌÉú?†ÌÉù" data-ng-model="syUserVO.param.CD_EMPSTAT">
                                        <option value="001">?¨ÏßÅÏ§?/option>
                                        <option value="002">?¥ÏÇ¨</option>
                                    </select>
                                </span>
                                <span data-ng-if="!page.isWriteable() && syUserVO.param.CD_EMPSTAT=='001'">?¨ÏßÅÏ§?/span>
                                <span data-ng-if="!page.isWriteable() && syUserVO.param.CD_EMPSTAT=='002'">?¥ÏÇ¨</span>
                            </td>
                            <th>?¥ÏÇ¨?ºÏûê</th>
                            <td>
                                 <span data-ng-if="page.isWriteable()">
                                     <input type="text" class="form-control wid-x5" data-jquery-date id="userRetired" placeholder="'1988-01-21' ?¨Î©ß?ºÎ°ú ?ÖÎ†•?¥Ï£º?∏Ïöî." title="?¥ÏÇ¨?ºÏûê ?ÖÎ†•"
                                            maxlength="10"
                                            data-ng-model="syUserVO.param.DT_RESI">
                                 </span>
                                 <span data-ng-if="!page.isWriteable()">
                                     {{syUserVO.param.DT_RESI}}
                                 </span>
                            </td>
                        </tr>
                        <tr>
                            <th>E-mail</th>
                            <td colspan="3">
                                <span data-ng-if="page.isWriteable()">
                                    <input type="text" class="form-control wid-x3" id="userEmail" title="emailId ?ÖÎ†•" maxlength='20' data-ng-model="syUserVO.param.email.email1" /> @
                                    <input type="text" class="form-control wid-x2" id="userDomain" title="email?ÑÎ©î???ÖÎ†•" maxlength='20'
                                           data-ng-model="syUserVO.param.email.email2"
                                           data-ng-disabled="syUserVO.param.email.disabled"/>
                                    <select class="form-control wid-x2" title="email?ÑÎ©î???†ÌÉù" data-ng-model="syUserVO.param.email.selectedDomain" data-ng-change="syUserVO.changeEmailDomain()">
                                        <option value="">ÏßÅÏ†ë?ÖÎ†•</option>
                                        <option value="edentns.com">edentns.com</option>
                                        <option value="naver.com">naver.com</option>
                                        <option value="google.com">google.com</option>
                                    </select>
                                </span>
                                <span data-ng-if="!page.isWriteable() && syUserVO.param.email.email1">
                                    {{syUserVO.param.email.email1}}@{{syUserVO.param.email.email2}}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th>SMS?òÏã†?ôÏùò</th>
                            <td>
                                <span data-ng-if="page.isWriteable()">
                                    <input type="checkbox"
									       ng-model="syUserVO.param.YN_SMS"
									       ng-true-value="Y"
									       ng-false-value="N">
                                </span>
                            </td>
                            <th>SMS?ôÏùò?ºÏãú</th>
                            <td>
                                 <span data-ng-show="syUserVO.kind == 'detail' && page.isWriteable()">
                                     {{syUserVO.param.DTS_SMS}}
                                 </span>
                            </td>
                        </tr>
                        <tr>
                            <th>?¥Î©î?ºÏàò?†Îèô??/th>
                            <td>
                                <span data-ng-if="page.isWriteable()">
                                    <input type="checkbox"
									       ng-model="syUserVO.param.YN_EMI"
									       ng-true-value="Y"
									       ng-false-value="N">
                                </span>
                            </td>
                            <th>?¥Î©î?ºÎèô?òÏùº??/th>
                            <td>
                                 <span data-ng-show="syUserVO.kind == 'detail' && page.isWriteable()">
                                     {{syUserVO.param.DTS_EMI}}
                                 </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="btn-group1 mt-20" data-ng-if="page.isWriteable()">
                        <button data-ng-if="syUserVO.kind==='insert'" type="submit" class="btn btn-primary" title="?†Ï??±Î°ù" data-ng-click="syUserVO.doInsert()">?±Î°ù</button>
                        <button data-ng-if="syUserVO.kind==='detail'" type="button" class="btn btn-primary" title="?†Ï??òÏ†ï" data-ng-click="syUserVO.doUpdate()">?òÏ†ï</button>
                        <button type="button" class="btn btn-danger" title="Ï∑®ÏÜå" data-ng-click="syUserVO.doCancel()">Ï∑®ÏÜå</button>
                    </div>
                    <div class="btn-group1 mt-20" data-ng-if="!page.isWriteable()">
                        <button type="button" class="btn btn-primary" title="?ïÏù∏" data-ng-click="syUserVO.doCancel()">?ïÏù∏</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
