<div id="app-content" class="col-xs-12 col-sm-10">
    <div class="row">
        <div id="app-content-header">
            <ol class="breadcrumb">
                <li><a href="#01ma/maDashboard"><i class="fa fa-home fa-2x"></i></a></li>
                <li><a href="#01ma/maBoard">게시판 내용</a></li>
            </ol>
        </div>
    </div>
    <!-- 게시글 상세 내용 -->
    <div class="row">
    	<div class="content-area-container col-xs-12">
    		<div data-content-box-layer data-box-title="boardInfoDataVO.boxTitle">
    			<form class="search-type1">
	                <table>
						<colgroup>
                           <col style="width: 100%;">
						</colgroup>
						<tbody>
							<tr>
								<td style="display: flex; justify-content: space-between;">
									<span style="font-size:larger; font-weight: bold;">{{boardInfoDataVO.params.DC_SBJ}}</span>
									<span>조회수 ({{boardInfoDataVO.params.CNT_SEL}})&nbsp;&nbsp;&nbsp;{{boardInfoDataVO.params.DTS_INSERT}}</span>
								</td>
							</tr>
							<tr>
								<td>
									<span>{{boardInfoDataVO.params.NM_NKNE}}&nbsp;&nbsp;{{boardInfoDataVO.params.DC_IPADDR}}</span>
									<div style="height: 418px; display:flex; border: 1px solid #c7c3c3; margin: 5px 0px; padding: 5px; overflow: scroll;"
									      ng-style="boardInfoDataVO.fileDataVO.currentDataList.length === 0 && {'height':'523px'}"> 
										<p ng-bind-html="boardInfoDataVO.params.DC_HTMLCONTENT"></p>
									</div>
									<div data-ng-if="boardInfoDataVO.fileDataVO.currentDataList.length !== 0" style="height: 105px;">
										<p style="padding: 0; margin: 0;"> 첨부파일 </p>
										<div ng-repeat="currentData in boardInfoDataVO.fileDataVO.currentDataList">
											<a href='{{boardInfoDataVO.fileUrl}}?NO_AT={{currentData.NO_AT}}&CD_AT={{currentData.CD_AT}}' download='{{currentData.NM_FILE}}'>- {{currentData.NM_FILE}}</a>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</form>
				
				<div class="btn-group1 mt-10">
					<kendo-button type="botton" title="삭제" data-ng-click="boardInfoDataVO.goDelete()" style="width:80px;"><span class="k-icon k-i-delete"></span>삭제</kendo-button>
					<kendo-button type="botton" title="목록" data-ng-click="boardInfoDataVO.goList()" style="width:80px;"><span class="k-icon k-i-undo"></span>목록</kendo-button>
				</div>
    		</div>
    	</div>
    </div>
    <!-- 댓글 리스트 -->
    <div id="commentList" class="row">
    	<div class="content-area-container col-xs-12">
    		<div data-content-box-layer data-box-title="boardCommentDataVO.boxTitle" data-open="boardCommentDataVO.open">
    			<div id="boardCommentListView" kendo-list-view k-options="boardCommentDataVO.listOptions">
    			</div>
    		</div>
    	</div>
    </div>
</div>

<script id="boardCommentTemplate" type="text/x-kendo-tmpl">
	<div style="display: flex; justify-content: space-between; margin: 10px; height: 72px;">
		<div style="width: 93px; text-align:center;" ng-style="'#:YN_DEL#' === 'N' && {'width':'97px'}">
			<dl>
				<dd style="font-weight:bold;">#:NM_NKNE#</dd>
				<dd>#:DATE_INSERT#</dd>
				<dd>#:TIME_INSERT#</dd>
				<dd>#:DC_IPADDR#</dd>
			<dl>
		</div>
		<div style="width: 100%; border: 1px solid \#c7c3c3;" ng-style="'#:YN_DEL#' === 'Y' && {'color':'blue'}">
			<textarea style="height:70px;" readonly>#:DC_COMMENT#</textarea>
		</div>
		<div data-ng-if="'#:YN_DEL#' === 'N'" style="width: 62px; margin-left:10px;">
			<a class="k-button k-delete-button" href="\\#"><span class="k-icon k-i-close"></span>삭제</a>
		</div>
	</div>
</script>