<div id="app-content" class="col-xs-12 col-sm-10">
    <div class="row">
        <div id="app-content-header">
            <ol class="breadcrumb">
                <li><a href="#99sy/syDashboard"><i class="fa fa-home fa-2x"></i></a></li>
                <li><a href="#03sa/saTkbkReq"> 주문·배송 / 취소·반품·교환 / 반품처리 </a></li>
            </ol>
        </div>
    </div>
    
    <div class="row">
        <!-- 검색 -->
        <div class="content-area-container col-xs-12" style="margin:0px 0px -5px 0px;">
        	<div data-content-box-layer data-box-title="tkbkDataVO.boxTitle" data-is-open="tkbkDataVO.isOpen(val)">
                <form class="search-type1" id="myForm">
                	<table>
                        <colgroup>
                            <col style="width: 7%;">
                            <col style="width: 18%;">
                            <col style="width: 7%;">
                            <col style="width: 23%;">
                            <col style="width: 7%;">
                            <col style="width: 18%;">
                            <col style="width: 7%;">
                            <col style="width: 18%;">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th>마켓명</th>
                            <td>
                            	<co01-mcbox title="마켓명" model="tkbkDataVO.ordMrkNameMo" options="tkbkDataVO.ordMrkNameOp" setting="tkbkDataVO.setting" style="width:100%;">
        						</co01-mcbox> 
                            </td>
                            <th>상품명</th>
                            <td>
                            	<input data-ng-model="tkbkDataVO.procName.value"
                            			focus="tkbkDataVO.procName.focus"
                            			title="상품명"
                            			data-eden-type="kor" 
                            			type="text" 
                            			class="form-control" style="width:100%;"/>
                            </td>		
                            <th>주문상태</th>
                            <td>            
       							<co01-mcbox id="shpbyord-status" title="주문상태" model="tkbkDataVO.ordStatusMo" options="tkbkDataVO.ordStatusOp" setting="tkbkDataVO.setting"  style="width:100%;">
        						</co01-mcbox>        						
                            </td>   
                            <th>주문번호</th>
                            <td>     
					            <input data-ng-model="tkbkDataVO.orderNo.value"
                            			focus="tkbkDataVO.orderNo.focus"
                            			title="주문번호"
                            			data-eden-type="kor" 
                            			type="text" 
                            			class="form-control" style="width:100%;"/>
                            </td>         
                        </tr>
                        <tr>
                            <th>구매자/수취인</th>
                            <td>                            	              	
                            	<input data-ng-model="tkbkDataVO.buyerName.value"
                            			focus="tkbkDataVO.buyerName.focus"
                            			title="구매자/수취인"
                            			data-eden-type="kor" 
                            			type="text" 
                            			class="form-control" style="width:100%;"/>
                            </td>
                            <th>반품상태</th>
                            <td>
                            	<select ng-model="tkbkDataVO.cdTkbkstatMo"
        								ng-options="option.CD_DEF as option.NM_DEF for option in tkbkDataVO.cdTkbkstat"
        								class="form-control"
        								style="width: 100%">
        						</select>	
        					</td>
                            <th></th>
                            <td></td>
                            <th></th>
                            <td></td>                            
                        </tr>
                        <tr>
                            <th>기간</th>                            
                            <td>
                            	<select ng-model="tkbkDataVO.betweenDateOptionMo"
        								ng-options="option.CD_DEF as option.NM_DEF for option in tkbkDataVO.betweenDateOptionOp"
        								class="form-control"
        								style="width: 100%">
        						</select>	
                            </td>
                            <td colspan="6">                            	              	
                            	<div class="frm-group" data-date-search-group="tkbkDataVO.datesetting" style="display:inline-block;"></div>
                            </td>
                        </tr>
                        </tbody>
                    </table>         		     
                    <div class="btn-group1 mt-10">
                        <kendo-button type="submit" class="k-primary" title="검색" data-ng-click="tkbkDataVO.inQuiry()" style="width:70px;">검색</kendo-button>
                        <kendo-button type="botton" title="초기화" data-ng-click="tkbkDataVO.inIt()" style="width:70px;">초기화</kendo-button>
                    </div>
                </form>
            </div>
        </div>
        
        <!-- 주문 목록 -->          
		<div class="content-area-container col-xs-12" style="padding:0px 0px 0px 0px;">		
			<kendo-tooltip options="grdTkbkVO.tooltipOptions">								
		        <div id="divTkbkGrd" kendo-grid="tkbkkg" options="grdTkbkVO">
		        </div>	
		    </kendo-tooltip>            
        </div>
    </div>
</div>

<!-- 주문 취소 팝업 -->
<script id="tkbk_popup_template" type="text/x-kendo-template">
<div class="not_pop_title" ng-if="tkbkDataVO.updateChange === '001'">
	<h4>반품완료 입력</h4>
</div>
<div class="not_pop_title" ng-if="tkbkDataVO.updateChange === '002'">
	<h4>반품거부 입력</h4>
</div>
<div class="not_pop_title" ng-if="tkbkDataVO.updateChange === '003'">
	<h4>반품처리 입력</h4>
</div>
<table class="table signal" data-uid="#= uid #">
	<colgroup>
      <col style="width: 14%;">
      <col style="width: 30%;">
      <col style="width: 14%;">
      <col style="width: 30%;">
    </colgroup>
    <tbody>	
	<tr class="border-bottom-line border-top-line">	
		<td class="active border-right-line">
			마켓
		</td>
		<td class="border-right-line">
			#if(NM_MRK){ #
			#: NM_MRK #
			#}#
		</td>
		<td class="active border-right-line">
			주문번호
		</td>
		<td>
			#if(NO_MRKORD){ #
			#: NO_MRKORD #
			#}#
		</td>
	</tr>
	<tr class="border-bottom-line">
		<td class="active border-right-line">
			상품코드
		</td>
		<td colspan="3">
			#if(NO_MRKITEM){ #
			#: NO_MRKITEM #
			#}#	
		</td>
	</tr>
	<tr class="border-bottom-line">
		<td class="active border-right-line">
			상품명
		</td>
		<td colspan="3">
			#if(NM_MRKITEM){ #
			#: NM_MRKITEM #
			#}#
		</td>
	</tr>
	<tr class="border-bottom-line">
		<td class="active border-right-line">
			구매자
		</td>
		<td class="border-right-line">
			#if(NM_PCHR){ #
			#: NM_PCHR #
			#}#	
		</td>
		<td class="active border-right-line">
			배송방법
		</td>
		<td>
			#if(DC_SHPWAY){ #
			#: DC_SHPWAY #
			#}#			
		</td>
	</tr>
	<tr class="border-bottom-line">
		<td class="active border-right-line">
			구매수량
		</td>
		<td class="ta-r">
			#if(QT_ORD){ #
			#: QT_ORD #
			#}#
		<td class="active border-right-line">
		</td>
		<td>
		</td>
	</tr>		
		
		<tr class="border-bottom-line" data-ng-if="tkbkDataVO.updateChange === '001'">
			<td class="active border-right-line">
				접수자
			</td>
			<td>
				{{tkbkDataVO.userInfo}}
			</td>
			<td colspan="2">
			</td> 
		</tr>
		<tr class="border-bottom-line" data-ng-if="tkbkDataVO.updateChange === '001'">
			<td class="active border-right-line">
				<code>*</code>접수일자
			</td>
			<td class="ta-l" colspan="3">
				<input kendo-date-time-picker				
			 		id="DTS_TKBKCPLT"
			 		name="DTS_TKBKCPLT"
			 		k-options="tkbkDataVO.dateOptions"
             		data-bind="value: DTS_TKBKCPLT"
             		style="width: 50%;" />
			</td> 
		</tr>
	
		<tr class="border-bottom-line" data-ng-if="['002','003'].indexOf(tkbkDataVO.updateChange) > -1">
			<td class="active border-right-line">
				반품사유코드
			</td>
			<td>
				<select kendo-drop-down-list 
					k-options="tkbkDataVO.cdTkbkrsnOp"
					name="CD_TKBKHRNKRSN"
					data-bind="value: CD_TKBKHRNKRSN"
                	style="width: 100%">
				</select>
			</td>
			<td colspan="2">
			</td> 
		</tr>
		<tr class="border-bottom-line" data-ng-if="['002','003'].indexOf(tkbkDataVO.updateChange) > -1">
			<td class="active border-right-line">
				반품사유
			</td>
			<td colspan="3">			
				<textarea class="k-textbox k-state-disabled" name="NM_TKBKHRNKRSN" data-bind="value: NM_TKBKHRNKRSN" disabled="disabled" style="width:100%; height:150px; overflow-y: scroll;"></textarea>
			</td> 
		</tr>

		<tr class="border-bottom-line" data-ng-if="tkbkDataVO.updateChange === '002'">
			<td class="active border-right-line">
				<code>*</code>반품거부코드
			</td>
			<td>
				<select kendo-drop-down-list 
					id="CD_TKBKRJT"
					k-options="tkbkDataVO.cdTkbkrjtOp"
					name="CD_TKBKRJT"
					data-bind="value: CD_TKBKRJT"
                	style="width: 100%">
				</select>
			</td>
			<td colspan="2">
			</td> 
		</tr>
		<tr class="border-bottom-line" data-ng-if="tkbkDataVO.updateChange === '002'">
			<td class="active border-right-line">
				<code>*</code>반품거부사유
			</td>
			<td colspan="3">			
				<textarea class="k-textbox" name="DC_TKBKRJTCTT" data-bind="value: DC_TKBKRJTCTT" style="width:100%; height:150px; overflow-y: scroll;"></textarea>
			</td> 
		</tr>	

		<tr class="border-bottom-line" data-ng-if="tkbkDataVO.updateChange === '003' && ngIfdata(tkbkDataVO.gCode, '#: CODE #')">
			<td class="active border-right-line">
				<code>*</code>반품상품을<br/>받으셨습니까?
			</td>
			<td class="border-right-line ta-l" colspan="3">
				<ul id="receive-group">
					<li style="float:left; margin-right: 5px;">
              			<input type="radio" name="RECEIVE_SET" id="receive-y" class="k-radio" checked="checked" required data-bind="checked: RECEIVE_SET" data-type="string" value="Y" data-ng-click="receiveCheckClickEvent($event)">
              			<label class="k-radio-label" for="receive-y">접수 </label>
					</li>
          			<li style="float:left">
              			<input type="radio" name="RECEIVE_SET" id="receive-n" class="k-radio" required data-bind="checked: RECEIVE_SET" data-type="string" value="N" data-ng-click="receiveCheckClickEvent($event)">
              			<label class="k-radio-label" for="receive-n">미접수</label>
					</li>
				</ul>
			</td>					
		</tr>
		<tr class="border-bottom-line" data-ng-show="tkbkDataVO.receiveCheckCode === 'N'">
			<td class="active border-right-line">
				<code>*</code>보류사유 
			</td>
			<td class="border-right-line ta-l">
				<select
					name="CD_HOLD"
					data-bind="value: CD_HOLD"
               		style="width: 100%">
				</select>		
			</td>
			<td class="active border-right-line">
				<span data-ng-show="tkbkDataVO.updateChange === '003' && tkbkDataVO.etcCostCode === 'Y' && ngIfdata(tkbkDataVO.gCode, '#: CODE #')">
					<code>*</code>{{tkbkDataVO.etcCostName}}
				</span> 
			</td>
			<td class="border-right-line">
				<div data-ng-show="tkbkDataVO.updateChange === '003' && tkbkDataVO.etcCostCode === 'Y' && ngIfdata(tkbkDataVO.gCode, '#: CODE #')">
					<input name="CD_HOLD_FEE" data-bind="value: CD_HOLD_FEE" kendo-numeric-text-box k-min="0" k-max="1000000000" style="width: 100%;" />
				</div>
			</td>
		</tr>		



		<tr class="border-bottom-line" data-ng-if="tkbkDataVO.updateChange === '003' && ngIfdata(tkbkDataVO.cCode, '#: CODE #')">
			<td class="active border-right-line">
				<code>*</code>환불동시 진행여부
			</td>
			<td class="ta-l">	
				<input name="NOW_YN" type="checkbox" id="eq2" class="k-checkbox" data-ng-click="nowYnCheckClickEvent($event)">
          		<label class='k-checkbox-label k-no-text' for="eq2"></label>
			</td>
			<td colspan="2">
			</td>
		</tr>



		<tr class="border-bottom-line" data-ng-show="tkbkDataVO.updateChange === '003' && ngIfdata(tkbkDataVO.sCode, '#: CODE #')">
			<td class="active border-right-line">
				<code>*</code>택배사<br/>
			</td>
			<td>
				<select
					name="CD_PARS"
					data-bind="value: CD_PARS"
               		style="width: 100%">
				</select>
			</td>
			<td colspan="2">
			</td>
		</tr>
		<tr class="border-bottom-line" data-ng-show="tkbkDataVO.updateChange === '003' && ngIfdata(tkbkDataVO.sCode, '#: CODE #')">
			<td class="active border-right-line">
				<code>*</code>송장번호
			</td>
			<td colspan="3">			
				<textarea class="k-textbox" name="NO_INVO" data-bind="value: NO_INVO" rows="2" style="width:100%; overflow-y: scroll;"></textarea>
			</td> 
		</tr>

	</tbody>
</table>
</script>

<!-- 주문 조회 그리드 툴바 템플릿 -->
<script id="tkbk_toolbar_template" type="text/x-kendo-template">
	<a class="k-button k-button-icontext k-grid-tkbk-confirm"><span class="k-icon k-i"></span>반품처리</a>
	<a class="k-button k-button-icontext k-grid-tkbk-reject"><span class="k-icon k-i"></span>반품거부</a>
	<a class="k-button k-button-icontext k-grid-tkbk-accept"><span class="k-icon k-i"></span>반품완료</a> 
</script>

<style>
.k-edit-form-container{
    width: 100%;
}
.k-popup-edit-form .k-edit-label{
    width: 20%;
    text-align: left;
}
.k-popup-edit-form .k-edit-field{
    width: 70%;
}
.k-popup-edit-form .k-edit-field > .k-textbox,
.k-popup-edit-form .k-edit-field > .k-widget:not(.k-tooltip){
    width: 98%;
}
.div-rows{
	border-bottom: solid 1px #bbdceb;	
}
.not_pop_title{
	padding: 10px;
}
.signal{
    width: 99%;
    margin: 5px;
}
.border-right-line{    
	border-right: 1px solid #eee;    
}
.border-top-line{	
	border-top: 1px solid #eee;
}
.border-bottom-line{	
	border-bottom: 1px solid #eee;
}
/* .k-grid-content > table > tbody > tr > td > div.never-fix{
	border-bottom: solid 1px #bbdceb !important;
}
.k-dirty{
	visibility: hidden; 
} */
</style>
