<div id="app-content" class="col-xs-12 col-sm-10">
    <div class="row">
        <div id="app-content-header">
            <ol class="breadcrumb">
                <li><a href="#01ma/maDashboard"><i class="fa fa-home fa-2x"></i></a></li>
                <li><a href="#01ma/MemJoinAppr">회원가입승인</a></li>
            </ol>
        </div>
    </div>
    
    <div class="row">
        <!-- 검색 -->
        <div class="content-area-container col-xs-12">
        	<div data-content-box-layer data-box-title="joinerDataVO.boxTitle">
                <form class="search-type1" id="myForm">
                	<table>
                        <tbody>
	                        <tr>
	                            <th style="width: 10%;">사업자명</th>
	                            <td style="width: 22%;">
	                            	<input class="k-textbox" title="사업자명" k-ng-model="joinerDataVO.searchText" type="text" style="width:100%;"/>
	                            </td>
	                            <th style="width: 22%;">가입자상태</th>
	                            <td style="width: 23%;">
	                            	<select kendo-multi-select title="가입자상태" 
	                            		k-ng-model="joinerDataVO.joinerStatusData" 
							            k-options="" 
							            k-value-primitive="true" style="width:100%;">
	                            	</select>
	                            </td>
	                            <th style="width: 10%;">상품명</th>
	                            <td style="width: 23%;">
	                            	<select kendo-multi-select title="상품명" 
	                            		k-ng-model="joinerDataVO.joinerNameData"
	                            		k-options=""
	                            		k-value-primitive="true" style="width:100%;">                         		
	                            	</select>      	
	                            </td>           
	                        </tr>
	                        <tr>
	                            <th style="width: 10%;">기간 </th>
	                            <td style="width: 10%;">                  
	                            	<select kendo-multi-select title="가입일" 
	                            		k-ng-model="joinerDataVO.statusDataCode"
	                            		k-options=""
	                            		k-value-primitive="true" style="width:100%;">                         		
	                            	</select>
	                            </td>
	                            <td colspan="4">       	
	                            	<div class="frm-group" data-date-search-group="joinerDataVO.datesetting"></div>
	                            </td>
	                        </tr>
                        </tbody>
                    </table>                    
                    <div class="btn-group1 mt-20">
                        <kendo-button type="submit" class="k-primary" title="검색" data-ng-click="" style="width:10%;">검색</kendo-button>
                        <kendo-button type="botton" class="" title="초기화" data-ng-click="joinerDataVO.init()">초기화</kendo-button>
                    </div>
                    <br/>
                    <p class="text-center">총  <strong>{{joinerDataVO.dataTotal}}</strong>건이 검색되었습니다.</p>
                </form>
            </div>
        </div>
                
        <!-- 승인 리스트 -->          
		<div class="content-area-container col-xs-12" style="padding:50px 0px 0px 0px;">				
	        <kendo-grid options="">
	        </kendo-grid>	            
        </div>
    </div>
</div>
