<div id="app-content" class="col-xs-12 col-sm-10">
    <div class="row">
        <div id="app-content-header">
            <ol class="breadcrumb">
                <li><a href="#01ma/maDashboard"><i class="fa fa-home fa-2x"></i></a></li>
                <li><a href="#01ma/MemJoinAppr">회원가입승인</a></li>
            </ol>
        </div>
    </div>
    
    <div class="row">
        <!-- 검색 -->
        <div class="content-area-container col-xs-12" style="margin:0px 0px -5px 0px;">
        	<div data-content-box-layer data-box-title="joinerDataVO.boxTitle" data-is-open="joinerDataVO.isOpen(val)">
                <form class="search-type1" id="myForm">
                	<table>
                        <colgroup>
                            <col style="width: 10%;">
                            <col style="width: 22%;">
                            <col style="width: 10%;">
                            <col style="width: 23%;">
                            <col style="width: 10%;">
                            <col style="width: 23%;">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th>사업자명</th>
                            <td>
                            	<input data-ng-model="joinerDataVO.searchText.value"
                            			focus="joinerDataVO.searchText.focus"
                            			title="사업자명"
                            			data-eden-type="kor" 
                            			type="text" 
                            			class="form-control" style="width:100%;"/>
                            </td>
                            <th>가입자상태</th>
                            <td>
                            	<co01-mcbox title="가입자상태" model="joinerDataVO.joinerStatusDt" options="joinerDataVO.StatusDtOptionVO" setting="joinerDataVO.setting"  style="width:100%;">
        						</co01-mcbox>
                            </td>
                            <th>상품명</th>
                            <td>     
                            	<co01-mcbox title="상품명" model="joinerDataVO.joinerProcNameDt" options="joinerDataVO.ProcNameDtOptionVO" setting="joinerDataVO.setting"  style="width:100%;">
        						</co01-mcbox>  
                            </td>           
                        </tr>
                        <tr>
                            <th>기간 </th>
                            <td colspan="5">
                            	<div class="betweenDiv">	         
        							<select ng-model="joinerDataVO.joinerBetweenDate" 
        								ng-options="option.CD_DEF as option.NM_DEF for option in joinerDataVO.BetweenDateOptionVO"
        								class="form-control" 
        								style="width: 100%">
        							</select>						 
                            	</div>               	
                            	<div class="frm-group" data-date-search-group="joinerDataVO.datesetting" style="display:inline-block;"></div>
                            </td>
                        </tr>
                        </tbody>
                    </table>         
                    					     
                    <div class="btn-group1 mt-20">
                        <kendo-button type="submit" style="width:70px;" class="k-primary" title="검색" data-ng-click="joinerDataVO.inQuiry()" >검색</kendo-button>
                        <kendo-button type="botton" style="width:70px;" title="초기화" data-ng-click="joinerDataVO.inIt()">초기화</kendo-button>
                    </div>
                    <br/>
                    <p class="text-center">총  <strong>{{joinerDataVO.dataTotal}}</strong>건이 검색되었습니다.</p>
                </form>
            </div>
        </div>
                
        <!-- 승인 리스트 -->          
		<div class="content-area-container col-xs-12" style="padding:0px 0px 0px 0px;">				
	        <div kendo-grid="kg" options="gridJoinerMemVO">
	        </div>	            
        </div>
    </div>
</div>

<script id="template" type="text/x-kendo-template">
     <tr data-uid="#= uid #">
         <td class="ta-c">
            <span class="ells"># if(CD_JOINYN === '003'){#
									</span>
							   # }else{#
									<input type="checkbox" class="checkbox" ng-click="onClick($event)"></input></span>
							   # }#
        </td>
		<td class="ta-r">
            <span class="seq ells">#= ROW_NUM #</span>
        </td>
		<td class="ta-c">
            <span class="ells">#= NO_C # - #= NM_C #</span>
        </td>
		<td class="ta-c">
            <span class="ells">#= NM_RPSTT #</span>
        </td>
		<td class="ta-c">
            <span class="ells">#= NO_BSNSRGTT #</span>
        </td>
		<td class="ta-c">
            <span class="ells">#= NO_COMMSALEREG #</span>
        </td>
		<td class="ta-l">
            <span class="ells">#= DC_ID #</span>
        </td>
		<td class="ta-l">
            <span class="ells">#= NM_EMP #</span>
        </td>
		<td class="ta-c">
            <span class="ells">#= NO_PHNE #</span>
        </td>
		<td class="ta-l">
            <span class="ells">#= DC_NEWADDR_DC_OLDADDR #</span>
        </td>
		<td class="ta-l">
            <span class="ells">#= DC_REPREMI #</span>
        </td> 
		<td class="ta-l">
            <span class="ells">
				#if(CD_JOINYN){ #
				<co04-cd-to-nm cd="#:CD_JOINYN#" nm-box="joinerDataVO.StatusDtOptionVO">
				#}#
			</span>
        </td> 
		<td class="ta-l">
            <span class="ells">
				#if(CD_JOINITEM){ #
				<co04-cd-to-nm cd="#:CD_JOINITEM#" nm-box="joinerDataVO.ProcNameDtOptionVO">
				#}#	
			</span>
        </td> 
		<td class="ta-c">
            <span class="ells">#= DTS_JOIN #</span>
        </td> 
		<td class="ta-c">
            <span class="ells">#= DTS_JOINREQ #</span>
        </td> 
    </tr>
</script>

<style>
.betweenDiv{
	width:13%;
	display:inline-block; 
	margin-right:5px;
}
.ells{
	text-overflow: ellipsis; 
	white-space: nowrap; 
	overflow:hidden;
}
</style>   
