<div id="app-content" class="col-xs-12 col-sm-10">
    <div class="row">
        <div id="app-content-header">
            <ol class="breadcrumb">
                <li><a href="#99sy/syDashboard"><i class="fa fa-home fa-2x"></i></a></li>
                <li><a href="#02it/itSaleItem/list">판매상품관리</a></li>
            </ol>
        </div>
    </div>
    
    <div class="row">
        <!-- 검색 -->
        <div class="content-area-container col-xs-12" style="margin:0px 0px -5px 0px;">
        	<div data-content-box-layer data-box-title="saleItemDataVO.boxTitle" data-is-open="saleItemDataVO.isOpen(val)">
                <form class="search-type1" id="myForm">
                	<table>
                        <colgroup>
                            <col style="width: 7%;">
                            <col style="width: 18%;">
                            <col style="width: 7%;">
                            <col style="width: 23%;">
                            <col style="width: 7%;">
                            <col style="width: 18%;">
                            <col style="width: 7%;">
                            <col style="width: 18%;">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th>상품코드</th>
                            <td>
                            	<input data-ng-model="saleItemDataVO.signItem.value"
                            			focus="saleItemDataVO.signItem.focus"
                            			title="상품코드"
                            			data-eden-type="kor" 
                            			type="text" 
                            			class="form-control" style="width:100%;"/>
                            </td>
                            <th>과세구분</th>
                            <td>
                            	<co01-mcbox id="SaleList_tax" title="과세구분" model="saleItemDataVO.taxClftIds" options="saleItemDataVO.taxClftList" setting="saleItemDataVO.setting"  style="width:100%;">
        						</co01-mcbox> 
                            </td>		
                            <th>상품명</th>
                            <td>            
       							<input data-ng-model="saleItemDataVO.nmItem.value"
                            			focus="saleItemDataVO.nmItem.focus"
                            			title="상품명"
                            			data-eden-type="kor" 
                            			type="text" 
                            			class="form-control" style="width:100%;"/>       						
                            </td>   
                            <th>성인인증</th>
                            <td>
							    <co01-mcbox id="SaleList_adul" title="과세구분" model="saleItemDataVO.adulYnIds" options="saleItemDataVO.adulYnList" setting="saleItemDataVO.setting"  style="width:100%;">
        						</co01-mcbox>
                            </td>         
                        </tr>
                        <tr>
                            <th>제조사</th>
                            <td>                            	              	
                            	<input data-ng-model="saleItemDataVO.nmMnfr.value"
                            			focus="saleItemDataVO.nmMnfr.focus"
                            			title="구매자"
                            			data-eden-type="kor" 
                            			type="text" 
                            			class="form-control" style="width:100%;"/>
                            </td>
                            <th>상품구분</th>
                            <td>                            	              	
                            	<co01-mcbox id="SaleList_iClft" title="상품구분" model="saleItemDataVO.iClftIds" options="saleItemDataVO.iClftList" setting="saleItemDataVO.setting"  style="width:100%;">
        						</co01-mcbox>
                            </td>
                            <th>상품종류</th>
                            <td>                            	              	
                            	<co01-mcbox id="SaleList_iKind" title="상품종류" model="saleItemDataVO.iKindIds" options="saleItemDataVO.iKindList" setting="saleItemDataVO.setting"  style="width:100%;">
        						</co01-mcbox>
                            </td>
                            <th>마켓종류</th>
                            <td>                            	              	
                            	<co01-mcbox id="SaleList_cmrk" title="마켓종류" model="saleItemDataVO.cmrkIds" options="saleItemDataVO.cmrkList" setting="saleItemDataVO.cmrkSetting"  style="width:100%;">
        						</co01-mcbox>
                            </td>                            
                        </tr>
                        </tbody>
                    </table>         		     
                    <div class="btn-group1 mt-10">
                        <kendo-button type="submit" class="k-primary" title="검색" data-ng-click="saleItemDataVO.inQuiry()" style="width:70px;" >검색</kendo-button>
                        <kendo-button type="submit" title="초기화" data-ng-click="saleItemDataVO.init()" style="width:70px;" >초기화</kendo-button>
                    </div>
                </form>
            </div>
        </div>
                
        <!-- 승인 리스트 -->          
		<div class="content-area-container col-xs-12" style="padding:0px 0px 0px 0px;">				
	        <div id="divSaleVO" kendo-grid="gridSaleVO" options="gridSaleVO">
	        </div>	            
        </div>
    </div>
</div>

<!-- cs 조회 그리드 -->
<script id="Sale_template" type="text/x-kendo-template">
	<tr data-uid="#= uid #" ng-dblclick="grdDblClickGo('#: CD_ITEM #')">
		<td class="ta-c">
			<div class="custom-style-checkbox">
				<input class='k-checkbox' data-role='checkbox' type='checkbox' ng-click="onSaleGrdCkboxClick($event)" id="#= uid #_row">
				<label class='k-checkbox-label k-no-text' style="vertical-align:middle;" for="#= uid #_row"></label>
			<div>		
      	</td>
		<td class="ta-l" style="padding:0">
          	<div class="custom-style">
							  # if(CD_SIGNITEM !== "" && CD_SIGNITEM !== null && CD_SIGNITEM !== "undefined"){ # 
							  #: CD_SIGNITEM # 
							  # }else{ } #
			</div>
			<div class="custom-style"># if(ID_CTGR !== "" && ID_CTGR !== null && ID_CTGR !== "undefined"){ # 
							  #: ID_CTGR # 
							  # }else{ } #
			</div>
      	</td>
		<td class="ta-l" style="padding:0">
          	<div class="custom-style">
							  # if(NM_ITEM !== "" && NM_ITEM !== null && NM_ITEM !== "undefined"){ #
                  	    	  #: NM_ITEM  # 
                      	      # }else{ } #
			</div>
			<div class="custom-style"># if(DC_ITEMABBR !== "" && DC_ITEMABBR !== null && DC_ITEMABBR !== "undefined"){ # 
							  #: DC_ITEMABBR # 
							  # }else{  #
							  #: "-" #
                              #}	 # 	
			</div>
      	</td>
		<td class="ta-r" style="padding:0">
         	<div class="custom-style"># if(AM_PRCCLFT_S !== "" && AM_PRCCLFT_S !== null && AM_PRCCLFT_S !== "undefined"){ #
							  #= kendo.toString(AM_PRCCLFT_S,'C0', 'ko-KR') #
							  # }else{ #
								0
							  #}#
			</div>
			<div class="custom-style"># if(AM_PRCCLFT_B !== "" && AM_PRCCLFT_B !== null && AM_PRCCLFT_B !== "undefined"){ #
							  #= kendo.toString(AM_PRCCLFT_B,'C0', 'ko-KR') #
							  # }else{ #
								0
							  #}#
			</div>
      	</td>
		<td class="ta-l" style="padding:0">
          	<div class="custom-style">
							   # if(NM_MNFR !== "" && NM_MNFR !== null && NM_MNFR !== "undefined"){ #
							   #: NM_MNFR #
							   # }else{  #
							   #: "-" #
                               #}	# 	
			</div>
			<div class="custom-style"> 
							   # if(CD_ITEMCLFT !== "" && CD_ITEMCLFT !== null && CD_ITEMCLFT !== "undefined"){ #	
							   #: CD_ITEMCLFT #
							   # }else{ }	# 
			</div>
     	</td>
		<td class="ta-l" style="padding:0">
          	<div class="custom-style"> 
							   # if(CD_TAXCLFT !== "" && CD_TAXCLFT !== null && CD_TAXCLFT !== "undefined"){ #	
							   #: CD_TAXCLFT #
							   # }else{ }	# 
			</div>
			<div class="custom-style"> 
							   # if(YN_ADULCTFC == "Y"){ #	
							   #: "인증" #
							   # }else{  #
							   #: "비인증" #
                               #}	#  
			</div>
      	</td>
		<td class="ta-c" style="padding:0">
          	<div class="custom-style">
							  # if(SF_M !== "" && SF_M !== null && SF_M !== "undefined"){ #
				    		  #: "등록" 	#
							  # }else{  #
							  #: "미등록" #
                              #}	# 
			</div>
			<div class="custom-style"> 
							  # if(SF_DI !== "" && SF_DI !== null && SF_DI !== "undefined"){ #
							  #: "등록" 	#
							  # }else{  #
							  #: "미등록" #
                              #}	# 	
			</div>
      	</td>
		<td class="ta-c" style="padding:0">
          	<div class="custom-style"> 
							  # if(SF_DE !== "" && SF_DE !== null && SF_DE !== "undefined"){ #
							  #: "등록" 	#
							  # }else{  #
							  #: "미등록" #
                              #}	# 						  
			</div>
			<div class="custom-style"> 
							  # if(CD_OPTTP !== "" && CD_OPTTP !== null && CD_OPTTP !== "undefined"){ #
							  #: CD_OPTTP # 
							  # }else{ }	 #
			</div>
      	</td>
		<td class="ta-c" style="padding:0">
          	<div class="custom-style">
							# if( (NM_MD !== "" && NM_MD !== null && NM_MD !== "undefined") || (NM_CTF !== "" && NM_CTF !== null && NM_CTF !== "undefined") || (NM_MNFRER !== "" && NM_MNFRER !== null && NM_MNFRER !== "undefined") || (NO_CSMADVPHNE !== "" && NO_CSMADVPHNE !== null && NO_CSMADVPHNE !== "undefined")  || (CD_CTFOBJ !== "" && CD_CTFOBJ !== null && CD_CTFOBJ !== "undefined") || (CD_CTFINFO !== "" && CD_CTFINFO !== null && CD_CTFINFO !== "undefined") ){ #
							#: "인증" #
							# }else{ #
							#: "미인증" #
							# }	 	 #
			</div>
			<div class="custom-style">
						    # if(CD_ITEMKIND !== "" && CD_ITEMKIND !== null && CD_ITEMKIND !== "undefined"){ #
							#: CD_ITEMKIND # 
							# }else{ }	 	  #
			</div>
      	</td> 
		<td class="ta-l" style="padding:0">
          	<div class="custom-style">
						    # if(NM_BRD !== "" && NM_BRD !== null && NM_BRD !== "undefined"){ #
							#: NM_BRD #
							# }else{ #
							#: "-"   #
							# }	 	 #
			</div>
			<div class="custom-style">
							# if(CD_ITEMSTAT !== "" && CD_ITEMSTAT !== null && CD_ITEMSTAT !== "undefined"){ #	
							#: CD_ITEMSTAT # 
							# }else{ }	 	 #
			</div>
      	</td>
		<td class="ta-c" style="padding:0">
          	<div class="custom-style">
							# if(S_CD_ITEM !== "" && S_CD_ITEM !== null && S_CD_ITEM !== "undefined"){ #	
							#: S_CD_ITEM # 
							# }else{ #
							#: "-"   #
							# }	 	 #
			</div>
			<div class="custom-style">
							# if(CD_BDLITEMCPST !== "" && CD_BDLITEMCPST !== null && CD_BDLITEMCPST !== "undefined" ){ #  
							#: CD_BDLITEMCPST # 
							# }else{ #
							#: "-"   #
							# }	 	 #
			</div>
      	</td>
		<td class="ta-l" style="padding:0">
          	<div class="custom-style">
							# if(DTS_INSERT !== "" && DTS_INSERT !== null && DTS_INSERT !== "undefined"){ #	
							#: DTS_INSERT # 
							# }else{ }	 	 #
			</div>
			<div class="custom-style">
							# if(DTS_VLD !== "" && DTS_VLD !== null && DTS_VLD !== "undefined" ){ #  
							#: DTS_VLD # 
							# }else{ #
							#: "-"   #
							# }	 	 #
			</div>
      	</td>
	</tr>			
</script>

<!-- cs 조회 그리드 -->
<script id="Sale_alt_template" type="text/x-kendo-template">
	<tr class="k-alt" data-uid="#= uid #" ng-dblclick="grdDblClickGo('#: CD_ITEM #')">
		<td class="ta-c">
			<div class="custom-style-checkbox">
        		<input class='k-checkbox' data-role='checkbox' type='checkbox' ng-click="onSaleGrdCkboxClick($event)" id="#= uid #_alt">
				<label class='k-checkbox-label k-no-text' style="vertical-align:middle;" for="#= uid #_alt"></label>
			</div>
      	</td>
		<td class="ta-l" style="padding:0">
          	<div class="custom-style">
							  # if(CD_SIGNITEM !== "" && CD_SIGNITEM !== null && CD_SIGNITEM !== "undefined"){ # 
							  #: CD_SIGNITEM # 
							  # }else{ } #
			</div>
			<div class="custom-style"># if(ID_CTGR !== "" && ID_CTGR !== null && ID_CTGR !== "undefined"){ # 
							  #: ID_CTGR # 
							  # }else{ } #
			</div>
      	</td>
		<td class="ta-l" style="padding:0">
          	<div class="custom-style">
							  # if(NM_ITEM !== "" && NM_ITEM !== null && NM_ITEM !== "undefined"){ #
                  	    	  #: NM_ITEM  # 
                      	      # }else{ } #
			</div>
			<div class="custom-style"># if(DC_ITEMABBR !== "" && DC_ITEMABBR !== null && DC_ITEMABBR !== "undefined"){ # 
							  #: DC_ITEMABBR # 
							  # }else{  #
							  #: "-" #
                              #}	 # 	
			</div>
      	</td>
		<td class="ta-r" style="padding:0">
         	<div class="custom-style"># if(AM_PRCCLFT_S !== "" && AM_PRCCLFT_S !== null && AM_PRCCLFT_S !== "undefined"){ #
							  #= kendo.toString(AM_PRCCLFT_S,'C0', 'ko-KR') #
							  # }else{ #
								0
							  #}#
			</div>
			<div class="custom-style"># if(AM_PRCCLFT_B !== "" && AM_PRCCLFT_B !== null && AM_PRCCLFT_B !== "undefined"){ #
							  #= kendo.toString(AM_PRCCLFT_B,'C0', 'ko-KR') #
							  # }else{ #
								0
							  #}#
			</div>
      	</td>
		<td class="ta-l" style="padding:0">
          	<div class="custom-style">
							   # if(NM_MNFR !== "" && NM_MNFR !== null && NM_MNFR !== "undefined"){ #
							   #: NM_MNFR #
							   # }else{  #
							   #: "-" #
                               #}	# 	
			</div>
			<div class="custom-style"> 
							   # if(CD_ITEMCLFT !== "" && CD_ITEMCLFT !== null && CD_ITEMCLFT !== "undefined"){ #	
							   #: CD_ITEMCLFT #
							   # }else{ }	# 
			</div>
     	</td>
		<td class="ta-l" style="padding:0">
          	<div class="custom-style"> 
							   # if(CD_TAXCLFT !== "" && CD_TAXCLFT !== null && CD_TAXCLFT !== "undefined"){ #	
							   #: CD_TAXCLFT #
							   # }else{ }	# 
			</div>
			<div class="custom-style"> 
							   # if(YN_ADULCTFC == "Y"){ #	
							   #: "인증" #
							   # }else{  #
							   #: "비인증" #
                               #}	#  
			</div>
      	</td>
		<td class="ta-c" style="padding:0">
          	<div class="custom-style">
							  # if(SF_M !== "" && SF_M !== null && SF_M !== "undefined"){ #
				    		  #: "등록" 	#
							  # }else{  #
							  #: "미등록" #
                              #}	# 
			</div>
			<div class="custom-style"> 
							  # if(SF_DI !== "" && SF_DI !== null && SF_DI !== "undefined"){ #
							  #: "등록" 	#
							  # }else{  #
							  #: "미등록" #
                              #}	# 	
			</div>
      	</td>
		<td class="ta-c" style="padding:0">
          	<div class="custom-style"> 
							  # if(SF_DE !== "" && SF_DE !== null && SF_DE !== "undefined"){ #
							  #: "등록" 	#
							  # }else{  #
							  #: "미등록" #
                              #}	# 						  
			</div>
			<div class="custom-style"> 
							  # if(CD_OPTTP !== "" && CD_OPTTP !== null && CD_OPTTP !== "undefined"){ #
							  #: CD_OPTTP # 
							  # }else{ }	 #
			</div>
      	</td>
		<td class="ta-c" style="padding:0">
          	<div class="custom-style">
							# if( (NM_MD !== "" && NM_MD !== null && NM_MD !== "undefined") || (NM_CTF !== "" && NM_CTF !== null && NM_CTF !== "undefined") || (NM_MNFRER !== "" && NM_MNFRER !== null && NM_MNFRER !== "undefined") || (NO_CSMADVPHNE !== "" && NO_CSMADVPHNE !== null && NO_CSMADVPHNE !== "undefined")  || (CD_CTFOBJ !== "" && CD_CTFOBJ !== null && CD_CTFOBJ !== "undefined") || (CD_CTFINFO !== "" && CD_CTFINFO !== null && CD_CTFINFO !== "undefined") ){ #
							#: "인증" #
							# }else{ #
							#: "미인증" #
							# }	 	 #
			</div>
			<div class="custom-style">
						    # if(CD_ITEMKIND !== "" && CD_ITEMKIND !== null && CD_ITEMKIND !== "undefined"){ #
							#: CD_ITEMKIND # 
							# }else{ }	 	  #
			</div>
      	</td> 
		<td class="ta-l" style="padding:0">
          	<div class="custom-style">
						    # if(NM_BRD !== "" && NM_BRD !== null && NM_BRD !== "undefined"){ #
							#: NM_BRD #
							# }else{ #
							#: "-"   #
							# }	 	 #
			</div>
			<div class="custom-style">
							# if(CD_ITEMSTAT !== "" && CD_ITEMSTAT !== null && CD_ITEMSTAT !== "undefined"){ #	
							#: CD_ITEMSTAT # 
							# }else{ }	 	 #
			</div>
      	</td>
		<td class="ta-c" style="padding:0">
          	<div class="custom-style">
							# if(S_CD_ITEM !== "" && S_CD_ITEM !== null && S_CD_ITEM !== "undefined"){ #	
							#: S_CD_ITEM # 
							# }else{ #
							#: "-"   #
							# }	 	 #
			</div>
			<div class="custom-style">
							# if(CD_BDLITEMCPST !== "" && CD_BDLITEMCPST !== null && CD_BDLITEMCPST !== "undefined" ){ #  
							#: CD_BDLITEMCPST # 
							# }else{ #
							#: "-"   #
							# }	 	 #
			</div>
      	</td>
		<td class="ta-l" style="padding:0">
          	<div class="custom-style">
							# if(DTS_INSERT !== "" && DTS_INSERT !== null && DTS_INSERT !== "undefined"){ #	
							#: DTS_INSERT # 
							# }else{ }	 	 #
			</div>
			<div class="custom-style">
							# if(DTS_VLD !== "" && DTS_VLD !== null && DTS_VLD !== "undefined" ){ #  
							#: DTS_VLD # 
							# }else{ #
							#: "-"   #
							# }	 	 #
			</div>
      	</td>
	</tr>			
</script>
<!-- 그리드 툴바 템플릿 -->
<script id="Sale-toolbar-template" type="text/x-kendo-template">
	<button class="k-button k-button-icontext k-grid-edit" ng-click="saleItemInsert('sale')"><span class="k-icon k-edit"></span>판매등록</button>
	<button class="k-button k-button-icontext k-grid-edit" ng-click="saleItemInsert('new')"><span class="k-icon k-edit"></span>신규등록</button>    
    <button class="k-button k-button-icontext k-grid-delete" ng-click="saleItemDelete(this)"><span class="k-icon k-delete"></span>삭제</button>
</script>

<!-- 검색시 유효성 검사 경고창 -->
<script id="notificationTemplate" type="text/x-kendo-template">
	<p style="width: 19em; padding:1em; white-space:nowrap">#:kValue# {{ngValue}}</p>
</script>

<span kendo-notification="notf1" k-options="notf1Options"></span>

<style>
.not_pop_title{
	padding: 10px;
}
.k-edit-form-container{
    width: 900px;
}
.k-popup-edit-form .k-edit-label{
    width: 20%;
    text-align: left;
}
.k-popup-edit-form .k-edit-field{
    width: 70%;
}
.k-popup-edit-form .k-edit-field > .k-textbox,
.k-popup-edit-form .k-edit-field > .k-widget:not(.k-tooltip){
    width: 98%;
}
.signal{    
    width: 99%;
    margin: 5px;
}
.border-right-line{    
	border-right: 1px solid #eee;    
}
.border-top-line{	
	border-top: 1px solid #eee;
}
.border-bottom-line{	
	border-bottom: 1px solid #eee;
}
.k-edit-form-container .k-edit-buttons{
	border-style: none;
}
#example{
    min-height: 200px;
}
#example .title {
    font-weight: bold;
    margin-bottom: 25px;
}
.search-wrapper {
    width: 100%;
}
.query-match {
	color: red;
}
.select-all-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
}
.selected-count {
    float: right;
    color: #aaa;
}
.k-treeview {
    border-width: 1px!important;
    padding: 5px;
}
.selectedName {
    padding: 5px 10px;
    background: #aaa;
    color: white;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
} 
.class-target-dropdown{
	width:65%; 
	display:inline-block; 
	vertical-align:middle;
}
.class-target-button{
	width:33%; 
	display:inline-block; 
	vertical-align:middle; 
	text-align:right;
}
.ells{
	text-overflow: ellipsis; 
	white-space: nowrap; 
	overflow:hidden;
}
</style>
</div>
