<div id="app-content" class="col-xs-12 col-sm-10">
    <div class="row">
        <div id="app-content-header">
            <ol class="breadcrumb">
                <li><a href="#99sy/syDashboard"><i class="fa fa-home fa-2x"></i></a></li>
                <li><a href="#02it/itSaleItem/list">판매상품관리</a></li>
            </ol>
        </div>
    </div>
    
	<div class="row">
        <!-- 상품 정보 -->
        <div class="content-area-container col-xs-12">
        	<div data-content-box-layer data-box-title="saleInfoDataVO.itemInfo.boxTitle">
        		<form class="search-type1">
	                <table>
	                	<colgroup>
	                           <col style="width: 10%;">
	                           <col style="width: 44%;">
	                           <col style="width: 10%;">
	                           <col style="width: 36%;">
	                       </colgroup>
	                       <tbody>
	                       <tr>
	                       		<th><span class="form-required">* </span>상품분류</th>
	                       		<td>
								   <span data-ng-if="page.isWriteable()">
                                    <select class="form-control wid-x5" id="ctgr1" title="대분류선택"
                                            data-ng-model="saleInfoDataVO.selectedCtgr1" style="width: 130px" ng-change="saleInfoDataVO.ctgrChange('1')"
                                            data-ng-options="ctgr.NM_CTGR for ctgr in saleInfoDataVO.itemCtgrList1 track by ctgr.ID_CTGR">
                                        <option value="">대분류선택</option>
                                    </select>
                                    <select class="form-control wid-x5" id="ctgr2" title="중분류선택"
                                            data-ng-model="saleInfoDataVO.selectedCtgr2" style="width: 130px" ng-change="saleInfoDataVO.ctgrChange('2')"
                                            data-ng-options="ctgr.NM_CTGR for ctgr in saleInfoDataVO.itemCtgrList2 track by ctgr.ID_CTGR">
                                        <option value="">중분류선택</option>
                                    </select>
                                    <select class="form-control wid-x5" id="ctgr3" title="소분류선택"
                                            data-ng-model="saleInfoDataVO.selectedCtgr3" style="width: 130px" ng-change="saleInfoDataVO.ctgrChange('3')"
                                            data-ng-options="ctgr.NM_CTGR for ctgr in saleInfoDataVO.itemCtgrList3 track by ctgr.ID_CTGR">
                                        <option value="">소분류선택</option>
                                    </select>
                                    <select class="form-control wid-x5" id="ctgr4" title="세분류선택"
                                            data-ng-model="saleInfoDataVO.selectedCtgr4" style="width: 130px"
                                            data-ng-options="ctgr.NM_CTGR for ctgr in saleInfoDataVO.itemCtgrList4 track by ctgr.ID_CTGR">
                                        <option value="">세분류선택</option>	
                                    </select>
                                </span>
                                <span data-ng-if="!page.isWriteable()">{{saleInfoDataVO.selectedCtgr1.NM_CTGR}} - {{saleInfoDataVO.selectedCtgr2.NM_CTGR}} - {{saleInfoDataVO.selectedCtgr3.NM_CTGR}}</span>
	                       		</td>
	                       		<th><span class="form-required">* </span>브랜드</th>
	                       		<td>
	                       			<span style="width: 100%" data-ng-if="page.isWriteable()">
	                                   <input type="text" class="form-control wid-x8" id="NM_BRD" name="NM_BRD" title="브랜드 입력"
	                                          maxlength="15" data-ng-model="saleInfoDataVO.param.NM_BRD">
	                               </span>
	                               <span data-ng-if="!page.isWriteable()">{{saleInfoDataVO.param.NM_BRD}}</span>
	                       		</td>
	                       	</tr>
	                       	<tr>
	                       		<th><span class="form-required">* </span>고객사상품코드</th>
	                       		<td colspan="3">
	                       		   <span data-ng-if="page.isWriteable()">
	                                   <input type="text" class="form-control wid-x4" id="CD_CUSTCMPITEM_NW" name="CD_CUSTCMPITEM_NW" title="상품코드 입력"
	                                          maxlength="15" data-ng-model="saleInfoDataVO.param.CD_CUSTCMPITEM_NW" ng-change = "saleInfoDataVO.duplChange()">
	                               <kendo-button ng-click ="saleInfoDataVO.duplCheck()" id="duple">중복확인</kendo-button>
	                               <!-- <kendo-button ng-click ="saleInfoDataVO.itemCopyModal()">상품복사등록</kendo-button> -->
	                               </span>
	                               <span data-ng-if="!page.isWriteable()">{{saleInfoDataVO.param.CD_CUSTCMPITEM_NW}}</span>
                                </td>
	                       	</tr>
	                       	<tr>
	                       		<th><span class="form-required">* </span>상품명</th>
	                       		<td style="width: 100%">
								   <span data-ng-if="page.isWriteable()">
	                                   <input type="text" class="form-control wid-x8" id="NM_ITEM" name="NM_ITEM" title="상품명 입력"
	                                          maxlength="100" data-ng-model="saleInfoDataVO.param.NM_ITEM">
	                               </span>
	                               <span data-ng-if="!page.isWriteable()">{{saleInfoDataVO.param.NM_ITEM}}</span>
	                       		</td>
	                       		<th>상품약어</th>
	                       		<td>
	                       		   <span style="width: 100%" data-ng-if="page.isWriteable()">
	                                   <input type="text" class="form-control wid-x8" id="DC_ITEMABBR" name="DC_ITEMABBR" title="상품약어 입력"
	                                          maxlength="15" data-ng-model="saleInfoDataVO.param.DC_ITEMABBR">
	                               </span>
	                               <span data-ng-if="!page.isWriteable()">{{saleInfoDataVO.param.DC_ITEMABBR}}</span>
	                       		</td>
	                       	</tr>
	                       	<tr>
	                       		<th><span class="form-required">* </span>상품상태</th>
	                       		<td>
	                       		   <span data-ng-if="page.isWriteable()">
								   <select class="form-control wid-x5" id="CD_ITEMSTAT" title="상품상태"
                                            data-ng-model="saleInfoDataVO.param.CD_ITEMSTAT" style="width: 150px"
                                            data-ng-options="item.CD_DEF as item.NM_DEF for item in saleInfoDataVO.iStatList">
                                        <option value="">상태선택</option>
                                   </select>
                                    </span>
                                    <span data-ng-if="!page.isWriteable()">
                                    	{{saleInfoDataVO.param.NM_ITEMSTAT}}
                                    </span>
	                       		</td>
	                       		<th><span class="form-required">* </span>모델명</th>
	                       		<td>
	                       		   <span style="width: 100%" data-ng-if="page.isWriteable()">
	                                   <input type="text" class="form-control wid-x8" id="NM_MD" name="NM_MD" title="모델 입력"
	                                          maxlength="15" data-ng-model="saleInfoDataVO.param.NM_MD">
	                               </span>
	                               <span data-ng-if="!page.isWriteable()">{{saleInfoDataVO.param.NM_MD}}</span>
	                       		</td>
	                       	</tr><tr>
	                       		<th><span class="form-required">* </span>원산지</th> 
	                       		<td>
	                       			<p data-ng-if="page.isWriteable()">
	                       				<div data-ng-repeat = "list in saleInfoDataVO.cooKindList" style="float: left;">
		                         		<input type="radio" name="taxRadio" data-ng-model="saleInfoDataVO.param.CD_COOKIND" value="{{list.CD_DEF}}">
		                         		<label >
		                         			{{list.NM_DEF}}
		                         		</label>
										</div>
		                            </p>
		                            <span data-ng-if="!page.isWriteable()" >
		                            	{{saleInfoDataVO.param.NM_TAXCLFT}}
		                            </span>
								    <span data-ng-if="page.isWriteable()">
                                    <select class="form-control wid-x5" id="coo1" title="원산지선택"
                                            data-ng-model="saleInfoDataVO.selectedCoo1" style="width: 150px" ng-change="saleInfoDataVO.cooChange('1')"
                                            data-ng-options="coo.NM_COO for coo in saleInfoDataVO.itemCooList1 track by coo.CD_COO">
                                        <option value="">원산지선택</option>
                                    </select>
                                    <select class="form-control wid-x5" id="coo2" title="원산지선택"
                                            data-ng-model="saleInfoDataVO.selectedCoo2" style="width: 150px" ng-change="saleInfoDataVO.cooChange('2')"
                                            data-ng-options="coo.NM_COO for coo in saleInfoDataVO.itemCooList2 track by coo.CD_COO">
                                        <option value="">원산지선택</option>
                                    </select>
                                    <select class="form-control wid-x5" id="coo3" title="원산지선택"
                                            data-ng-model="saleInfoDataVO.selectedCoo3" style="width: 150px"
                                            data-ng-options="coo.NM_COO for coo in saleInfoDataVO.itemCooList3 track by coo.CD_COO">
                                        <option value="">원산지선택</option>
                                    </select>
                                	</span>
                                <span data-ng-if="!page.isWriteable()">{{saleInfoDataVO.selectedCoo1.NM_COO}} - {{saleInfoDataVO.selectedCoo2.NM_COO}} - {{saleInfoDataVO.selectedCoo3.NM_COO}}</span>
	                       		</td>
	                       		<th><span class="form-required">* </span>사은품</th>
	                       		<td>
	                       		   <span style="width: 100%" data-ng-if="page.isWriteable()">
	                                   <input type="text" class="form-control wid-x8" id="NM_FGFT" name="NM_FGFT" title="사은품 입력"
	                                          maxlength="15" data-ng-model="saleInfoDataVO.param.NM_FGFT">
	                               </span>
	                               <span data-ng-if="!page.isWriteable()">{{saleInfoDataVO.param.NM_FGFT}}</span>
	                       		</td>
	                       	</tr><tr>
	                       		<th><span class="form-required">* </span>사은품증정기간</th>
	                       		<td>
	                       		   <span data-ng-if="page.isWriteable()">
							        <div>
							            <input kendo-date-picker data-ng-model="saleInfoDataVO.param.DT_FGFTPRESSTART" style="width: 30%;" />
							            &nbsp;&nbsp;-&nbsp;&nbsp;
							            <input kendo-date-picker data-ng-model="saleInfoDataVO.param.DT_FGFTPRESEND" style="width: 30%;" />
							        </div>
							        </span>
							        <span data-ng-if="!page.isWriteable()">
                                    	{{saleInfoDataVO.param.DT_FGFTPRESSTART}} -  {{saleInfoDataVO.param.DT_FGFTPRESEND}}
                                    </span>
	                       		</td>
	                       		<th><span class="form-required">* </span>사은품정보</th>
	                       		<td>
	                       		   <span data-ng-if="page.isWriteable()">
	                       		   <span style="width: 100%" data-ng-if="page.isWriteable()">
	                                   <input type="text" class="form-control wid-x8" id="INFO_FGFT" name="INFO_FGFT" title="사은품정보 입력"
	                                          maxlength="50" data-ng-model="saleInfoDataVO.param.INFO_FGFT">
	                               </span>
	                               <span data-ng-if="!page.isWriteable()">{{saleInfoDataVO.param.INFO_FGFT}}</span>
	                       		</td>
	                       	</tr><tr>
	                       		<th><span class="form-required">* </span>A/S전화번호</th>
	                       		<td>
	                       		   <span data-ng-if="page.isWriteable()">
	                       		   <span style="width: 100%" data-ng-if="page.isWriteable()">
	                                   <input type="text" class="form-control wid-x8" id="NO_ASPHNE" name="NO_ASPHNE" title="AS전화번호 입력"
	                                          maxlength="13" data-ng-model="saleInfoDataVO.param.NO_ASPHNE">
	                               </span>
	                               <span data-ng-if="!page.isWriteable()">{{saleInfoDataVO.param.NO_ASPHNE}}</span>
	                       		</td>
	                       		<th><span class="form-required">* </span>A/S안내</th>
	                       		<td>
	                       		   <span data-ng-if="page.isWriteable()">
	                       		   <span style="width: 100%" data-ng-if="page.isWriteable()">
	                                   <input type="text" class="form-control wid-x8" id="GUI_AS" name="GUI_AS" title="AS안내 입력"
	                                          maxlength="50" data-ng-model="saleInfoDataVO.param.GUI_AS">
	                               </span>
	                               <span data-ng-if="!page.isWriteable()">{{saleInfoDataVO.param.GUI_AS}}</span>
	                       		</td>
	                       	</tr><tr>
	                       		<th><span class="form-required">* </span>대표이미지</th>
	                       		<td>
								   <div class="file-ins-input">
			                           <co02-filebox filevo="saleInfoDataVO.fileMainVO" id="fileMainVO"></co02-filebox>
			                        </div>
	                       		</td>
	                       		<th><span class="form-required">* </span>추가이미지</th>
	                       		<td>
	                       		   <div class="file-ins-input">
			                           <co02-filebox filevo="saleInfoDataVO.fileDImageVO" id="fileDImageVO"></co02-filebox>
			                        </div>
	                       		</td>
	                       	</tr>
	                       	<tr>
	                       		<th><span class="form-required">* </span>상세설명</th>
	                       		<td colspan="3">
								   <div>
					               		<textarea kendo-editor id="kEditDet" name="HTML_DETEXPL" k-ng-model="saleInfoDataVO.param.HTML_DETEXPL" k-options="editorDetVO.kEditor" style="text-align:left; height:200px;"></textarea>
					               </div>
	                       		</td>
	                       	</tr>
	                       </tbody>
	                </table>
                </form>
            </div>
        </div>        
    </div>
	
	<div class="row">
        <!-- 판매 정보  -->
        <div class="content-area-container col-xs-12">
        	<div data-content-box-layer data-box-title="saleInfoDataVO.sellInfo.boxTitle">
        		<form class="search-type1">
	                <table class="table-bordered">
	                	<colgroup>
	                           <col style="width: 13%;">
	                           <col style="width: 20%;">
	                           <col style="width: 13%;">
	                           <col style="width: 20%;">
	                           <col style="width: 13%;">
	                           <col style="width: 20%;">
	                       </colgroup>
	                       <tbody>
	                       	<tr>
	                       		<th><span class="form-required">* </span>판매가</th>
	                       		<td>
	                       		   <span style="width: 100%" data-ng-if="page.isWriteable()">
	                                   <input type="text" class="form-control wid-x4" id="S_ITEMPRC" name="S_ITEMPRC" title="판매가" data-eden-type="kor"
	                                          maxlength="8" data-ng-model="saleInfoDataVO.param.S_ITEMPRC" style="width: 95%;text-align: right;" ng-keyup="saleInfoDataVO.inputNumber(saleInfoDataVO.param.S_ITEMPRC, 'S')">
	                               </span>
	                               <span data-ng-if="!page.isWriteable()">
	                               		{{saleInfoDataVO.param.S_ITEMPRC}}
	                               </span>
	                       		</td>
	                       		<th><span class="form-required">* </span>재고수량</th>
	                       		<td colspan="3">
	                       			<span style="width: 100%" data-ng-if="page.isWriteable()">
	                                   <input type="text" class="form-control wid-x2" id="QT_SSPL" name="QT_SSPL" title="재고수량" data-eden-type="kor"
	                                          maxlength="8" data-ng-model="saleInfoDataVO.param.QT_SSPL" style="width: 95%;text-align: right;">
	                               </span>
	                               <span data-ng-if="!page.isWriteable()">
	                               		{{saleInfoDataVO.param.QT_SSPL}}
	                               </span>
	                       		</td>
	                       	</tr>
	                       	<tr>
	                       		<th><span class="form-required">* </span>시중가</th>
		                       	<td style="border: 0px">
		                       		<span style="width: 100%" data-ng-if="page.isWriteable()">
	                                   <input type="text" class="form-control wid-x4" id="B_ITEMPRC" name="B_ITEMPRC" title="시중가" data-eden-type="kor"
	                                          maxlength="8" data-ng-model="saleInfoDataVO.param.B_ITEMPRC" style="width: 95%;text-align: right;" ng-keyup="saleInfoDataVO.inputNumber(saleInfoDataVO.param.B_ITEMPRC, 'B')">
	                               </span>
	                               <span data-ng-if="!page.isWriteable()">
	                               		{{saleInfoDataVO.param.B_ITEMPRC}}
	                               </span>
		                        </td>
	                            <th><span class="form-required">* </span>포털가격비교사이트등록여부</th>
	                            <td style="border: 0px">
	                            	<span data-ng-if="page.isWriteable()">
		                       			<input type="radio" name="portRaBtn"
			                             		data-ng-model="saleInfoDataVO.param.YN_PORTPRCCOMPSITERGTT" value="Y">가능 
			                         	<input type="radio" name="portRaBtn"
			                         	 		data-ng-model="saleInfoDataVO.param.YN_PORTPRCCOMPSITERGTT" value="N">불가능
		                         	</span>
		                         	<span data-ng-if="!page.isWriteable() && saleInfoDataVO.param.YN_PORTPRCCOMPSITERGTT =='Y'">
		                         		가능
		                         	</span>
		                         	<span data-ng-if="!page.isWriteable() && saleInfoDataVO.param.YN_PORTPRCCOMPSITERGTT =='N'">
		                         		불가능
		                         	</span>
	                            </td>
	                            <th><span class="form-required">* </span>청소년구매여부</th>
	                       		<td>
	                       			<span data-ng-if="page.isWriteable()">
		                       			<input type="radio" name="adulRaBtn"
			                             		data-ng-model="saleInfoDataVO.param.YN_TEENPCHS" value="Y">가능 
			                         	<input type="radio" name="adulRaBtn"
			                         	 		data-ng-model="saleInfoDataVO.param.YN_TEENPCHS" value="N">불가능
		                         	</span>
		                         	<span data-ng-if="!page.isWriteable() && saleInfoDataVO.param.YN_TEENPCHS =='Y'">
		                         		가능
		                         	</span>
		                         	<span data-ng-if="!page.isWriteable() && saleInfoDataVO.param.YN_TEENPCHS =='N'">
		                         		불가능
		                         	</span>
		                        </td>
	                       	</tr>
	                       	<tr>
	                       		<th><span class="form-required">* </span>부가세종류</th>
	                       		<td>
	                       			<span data-ng-if="page.isWriteable()">
	                       		    <div data-ng-repeat = "list in saleInfoDataVO.taxList" style="float: left;">
		                         		<input type="radio" name="taxRadio" data-ng-model="saleInfoDataVO.param.CD_TAXCLFT" value="{{list.CD_DEF}}" data-ng-change="saleInfoDataVO.taxChange()" >
		                         		<label >
		                         			{{list.NM_DEF}}
		                         		</label>
		                            </div>
		                            </span>
		                            <span data-ng-if="!page.isWriteable()" >
		                            	{{saleInfoDataVO.param.NM_TAXCLFT}}
		                            </span>
                                </td>
	                       		<th><span class="form-required">* </span>판매기간</th>
	                       		<td colspan="3">
	                       			<span data-ng-if="page.isWriteable()">
							        <div>
							            <input kendo-date-picker data-ng-model="saleInfoDataVO.param.DT_SALESTART" style="width: 20%;" />
							            &nbsp;&nbsp;-&nbsp;&nbsp;
							            <input kendo-date-picker data-ng-model="saleInfoDataVO.param.DT_SALEEND" style="width: 20%;" />
							        </div>
							        </span>
							        <span data-ng-if="!page.isWriteable()">
                                    	{{saleInfoDataVO.param.DT_SALESTART}} -  {{saleInfoDataVO.param.DT_SALEEND}}
                                    </span>
	                            </td>
	                       	</tr>
	                       	<tr>
	                       		<th><span class="form-required">* </span>유효일</th>
	                       		<td>
	                       		   <span data-ng-if="page.isWriteable()">
							        <div>
							            <input kendo-date-picker data-ng-model="saleInfoDataVO.param.DT_VLD" style="width: 70%;" />
							        </div>
							        </span>
							        <span data-ng-if="!page.isWriteable()">
                                    	{{saleInfoDataVO.param.DT_VLD}}
                                    </span>
	                       		</td>
	                       		<th><span class="form-required">* </span>제조일자</th>
	                       		<td colspan="3">
	                       			<span data-ng-if="page.isWriteable()">
							        <div>
							            <input kendo-date-picker data-ng-model="saleInfoDataVO.param.DT_MNFT" style="width: 20%;" />
							        </div>
							        </span>
							        <span data-ng-if="!page.isWriteable()">
                                    	{{saleInfoDataVO.param.DT_MNFT}}
                                    </span>
	                       		</td>
	                       	</tr>
	                       </tbody>
	                </table>
                </form>
            </div>
        </div>        
    </div>
	
	<div class="row">
        <!-- 옵션 정보 -->
        <div class="content-area-container col-xs-12">
        	<div data-content-box-layer data-box-title="saleInfoDataVO.opInfo.boxTitle">
        		<form class="search-type1">
                	<table class="table-bordered">
	                	<colgroup>
                           <col style="width: 13%;">
                           <col style="width: 20%;">
                           <col style="width: 13%;">
                           <col style="width: 20%;">
                           <col style="width: 13%;">
                           <col style="width: 20%;">
                       </colgroup>
	                       <tbody>
	                       	<tr>
	                       		<th>옵션유형 선택</th>
	                       		<td colspan="3">
	                       		<span data-ng-if="page.isWriteable()">
	                       			<div data-ng-repeat = "list in saleInfoDataVO.optList" style="float: left">
		                         		<input type="radio" name="optRadio" data-ng-model="saleInfoDataVO.param.CD_OPTTP" value="{{list.CD_DEF}}" data-ng-change="saleInfoDataVO.optChange()">
		                         		<label>
		                         			{{list.NM_DEF}}
		                         		</label>
		                         	</div>
		                        </span>
		                        <span data-ng-if="!page.isWriteable()">
		                        	{{saleInfoDataVO.param.NM_OPTTP}}
		                        </span>
		                        </td>
	                       		<th></th>
	                       		<td></td>
	                       	</tr>
	                       	<!-- <tr>
	                       		<th>상품옵션종류</th>
	                       		<td colspan="5">
									<kendo-button data-ng-if="saleInfoDataVO.param.CD_OPTTP!='001' && page.isWriteable()" ng-click = "saleInfoDataVO.basicOptGet(saleInfoDataVO.param.CD_OPTTP)">기본옵션조회 및 설정</kendo-button>
	                                <kendo-button data-ng-if="saleInfoDataVO.param.CD_OPTTP!='001' && page.isWriteable()" ng-click = "saleInfoDataVO.otherOptCopy(saleInfoDataVO.param.CD_OPTTP)">다른상품옵션복사하기</kendo-button>
								</td>
	                       	</tr> -->
	                       	<tr data-ng-if="saleInfoDataVO.param.CD_OPTTP!='001' && page.isWriteable()">
	                       		<th>옵션명1</th>
	                       		<td>
	                       		   <span style="width: 100%" data-ng-if="page.isWriteable()">
	                                   <input type="text" class="form-control wid-x4" id="NM_OPT1" name="NM_OPT1" title="옵션명" data-eden-type="kor"
	                                          maxlength="30" data-ng-model="saleInfoDataVO.param.NM_OPT1" style="width: 95%;" placeholder="EX) 색상">
	                               </span>
								</td>
								<th>옵션값1</th>
	                       		<td colspan="3">
	                       			<span style="width: 100%" data-ng-if="page.isWriteable()">
	                                   <input type="text" class="form-control wid-x4" id="VAL_OPT1" name="VAL_OPT1" title="옵션값" data-eden-type="kor"
	                                          maxlength="50" data-ng-model="saleInfoDataVO.param.VAL_OPT1" style="width: 45%;" placeholder="EX) 빨강,노랑,초록">
	                                </span>
								</td>
	                       	</tr>
	                       	<tr data-ng-if="(saleInfoDataVO.param.CD_OPTTP=='003' || saleInfoDataVO.param.CD_OPTTP=='004') && page.isWriteable()">
	                       		<th>옵션명2</th>
	                       		<td>
	                       		   <span style="width: 100%" data-ng-if="page.isWriteable()">
	                                   <input type="text" class="form-control wid-x4" id="NM_OPT2" name="NM_OPT2" title="옵션명" data-eden-type="kor"
	                                          maxlength="30" data-ng-model="saleInfoDataVO.param.NM_OPT2" style="width: 95%;">
	                               </span>
								</td>
								<th>옵션값2</th>
	                       		<td colspan="3">
	                       			<span style="width: 100%" data-ng-if="page.isWriteable()">
	                                   <input type="text" class="form-control wid-x4" id="VAL_OPT2" name="VAL_OPT2" title="옵션값" data-eden-type="kor"
	                                          maxlength="50" data-ng-model="saleInfoDataVO.param.VAL_OPT2" style="width: 45%;">
	                                </span>
								</td>
	                       	</tr>
	                       	<tr data-ng-if="saleInfoDataVO.param.CD_OPTTP=='004' && page.isWriteable()">
	                       		<th>옵션명3</th>
	                       		<td>
	                       		   <span style="width: 100%" data-ng-if="page.isWriteable()">
	                                   <input type="text" class="form-control wid-x4" id="NM_OPT3" name="NM_OPT3" title="옵션명" data-eden-type="kor"
	                                          maxlength="30" data-ng-model="saleInfoDataVO.param.NM_OPT3" style="width: 95%;">
	                               </span>
								</td>
								<th>옵션값3</th>
	                       		<td colspan="3">
	                       			<span style="width: 100%" data-ng-if="page.isWriteable()">
	                                   <input type="text" class="form-control wid-x4" id="VAL_OPT3" name="VAL_OPT3" title="옵션값" data-eden-type="kor"
	                                          maxlength="50" data-ng-model="saleInfoDataVO.param.VAL_OPT3" style="width: 45%;">
	                                </span>
								</td>
	                       	</tr>
	                       </tbody>
	                </table>
	                <div style="margin: 10px;margin-left: 190px">
	                	<kendo-button data-ng-if="saleInfoDataVO.param.CD_OPTTP!='001' && page.isWriteable()" type="botton" title="옵션목록으로 적용" data-ng-click="saleInfoDataVO.optListing()" style="width:150px;">옵션목록으로 적용↓</kendo-button>
	                </div>
	                <div data-ng-if="saleInfoDataVO.param.CD_OPTTP=='002'"> <kendo-grid options = "gridOpt002VO" id = "gridOpt002"></kendo-grid> </div>
	                <div data-ng-if="saleInfoDataVO.param.CD_OPTTP=='003'"> <kendo-grid options = "gridOpt003VO" id = "gridOpt003"></kendo-grid> </div>
	                <div data-ng-if="saleInfoDataVO.param.CD_OPTTP=='004'"> <kendo-grid options = "gridOpt004VO" id = "gridOpt004"></kendo-grid> </div>
                </form>
            </div>
        </div>        
    </div>
	
	<div class="row">
        <!-- 추가상품 -->
        <div class="content-area-container col-xs-12">
        	<div data-content-box-layer data-box-title="saleInfoDataVO.addInfo.boxTitle">
        		<form class="search-type1">
                	<table class="table-bordered">
	                	<colgroup>
                           <col style="width: 13%;">
                           <col style="width: 20%;">
                           <col style="width: 13%;">
                           <col style="width: 20%;">
                           <col style="width: 13%;">
                           <col style="width: 20%;">
                       </colgroup>
	                       <tbody>
	                       	<tr>
	                       		<th>사용여부</th>
	                       		<td colspan="5">
	                       		<span data-ng-if="page.isWriteable()">
		                       			<input type="radio" name="portRaBtn"
			                             		data-ng-model="saleInfoDataVO.param.YN_USE" value="Y">가능 
			                         	<input type="radio" name="portRaBtn"
			                         	 		data-ng-model="saleInfoDataVO.param.YN_USE" value="N">불가능
		                         	</span>
		                         	<span data-ng-if="!page.isWriteable() && saleInfoDataVO.param.YN_USE =='Y'">
		                         		가능
		                         	</span>
		                         	<span data-ng-if="!page.isWriteable() && saleInfoDataVO.param.YN_USE =='N'">
		                         		불가능
		                         	</span>
		                        </td>
	                       	</tr>
	                       	<tr>
	                       		<th>정렬순서</th>
	                       		<td colspan="5">
	                       		<span data-ng-if="page.isWriteable()">
								   <select class="form-control wid-x5" id="CD_SORTORD" title="정렬순서"
                                            data-ng-model="saleInfoDataVO.param.CD_SORTORD" style="width: 150px"
                                            data-ng-options="item.CD_DEF as item.NM_DEF for item in saleInfoDataVO.addSortList">
                                        <option value="">정렬순서선택</option>
                                    </select>
                                 </span>
                                 <span data-ng-if="!page.isWriteable()">
                                 	{{saleInfoDataVO.param.NM_SORTORD}}
                                 </span>
								</td>
	                       	</tr>
	                       	<tr>
	                       		<th>추가상품 갯수</th>
	                       		<td colspan="5">
	                       		<span data-ng-if="page.isWriteable()">
								   <select class="form-control wid-x5" id="addItemNo" title="추가상품갯수"
                                            data-ng-model="saleInfoDataVO.addItemNo" style="width: 150px"
                                            data-ng-options="item.ID as item.LABEL for item in saleInfoDataVO.addItemList">
                                        <option value="">갯수선택</option>
                                    </select>
                                 </span>
                                 <span data-ng-if="!page.isWriteable()">
                                 	{{saleInfoDataVO.param.addItemNo}}
                                 </span>
								</td>
	                       	</tr>
	                       	<tr data-ng-if="saleInfoDataVO.addItemNo >= 1 && page.isWriteable()">
	                       		<th>추가상품명</th>
	                       		<td>
	                       		<span style="width: 100%" data-ng-if="page.isWriteable()">
                                   <input type="text" class="form-control wid-x4" id="NM_ADDITEM1" name="NM_ADDITEM1" title="추가상품명" data-eden-type="kor"
                                          maxlength="30" data-ng-model="saleInfoDataVO.param.NM_ADDITEM1" style="width: 95%;">
                                </span>
								</td>
								<th>추가상품값</th>
	                       		<td>
	                       		<span style="width: 100%" data-ng-if="page.isWriteable()">
                                   <input type="text" class="form-control wid-x4" id="VAL_ADDITEM1" name="VAL_ADDITEM1" title="추가상품값" data-eden-type="kor"
                                          maxlength="30" data-ng-model="saleInfoDataVO.param.VAL_ADDITEM1" style="width: 95%;">
                                </span>
								</td>
								<th>추가상품가격</th>
	                       		<td>
	                       		<span style="width: 100%" data-ng-if="page.isWriteable()">
                                   <input type="text" class="form-control wid-x4" id="PRC_ADDITEM1" name="PRC_ADDITEM1" title="추가상품가격" data-eden-type="kor"
                                          maxlength="30" data-ng-model="saleInfoDataVO.param.PRC_ADDITEM1" style="width: 95%;">
                                </span>
								</td>
	                       	</tr>
	                       	<tr data-ng-if="saleInfoDataVO.addItemNo >= 2 && page.isWriteable()">
	                       		<th>추가상품명</th>
	                       		<td>
	                       		<span style="width: 100%" data-ng-if="page.isWriteable()">
                                   <input type="text" class="form-control wid-x4" id="NM_ADDITEM2" name="NM_ADDITEM2" title="추가상품명" data-eden-type="kor"
                                          maxlength="30" data-ng-model="saleInfoDataVO.param.NM_ADDITEM2" style="width: 95%;">
                                </span>
								</td>
								<th>추가상품값</th>
	                       		<td>
	                       		<span style="width: 100%" data-ng-if="page.isWriteable()">
                                   <input type="text" class="form-control wid-x4" id="VAL_ADDITEM2" name="VAL_ADDITEM2" title="추가상품값" data-eden-type="kor"
                                          maxlength="30" data-ng-model="saleInfoDataVO.param.VAL_ADDITEM2" style="width: 95%;">
                                </span>
								</td>
								<th>추가상품가격</th>
	                       		<td>
	                       		<span style="width: 200%" data-ng-if="page.isWriteable()">
                                   <input type="text" class="form-control wid-x4" id="PRC_ADDITEM2" name="PRC_ADDITEM2" title="추가상품가격" data-eden-type="kor"
                                          maxlength="30" data-ng-model="saleInfoDataVO.param.PRC_ADDITEM2" style="width: 95%;">
                                </span>
								</td>
	                       	</tr>
	                       	<tr data-ng-if="saleInfoDataVO.addItemNo >= 3 && page.isWriteable()">
	                       		<th>추가상품명</th>
	                       		<td>
	                       		<span style="width: 100%" data-ng-if="page.isWriteable()">
                                   <input type="text" class="form-control wid-x4" id="NM_ADDITEM3" name="NM_ADDITEM3" title="추가상품명" data-eden-type="kor"
                                          maxlength="30" data-ng-model="saleInfoDataVO.param.NM_ADDITEM3" style="width: 95%;">
                                </span>
								</td>
								<th>추가상품값</th>
	                       		<td>
	                       		<span style="width: 100%" data-ng-if="page.isWriteable()">
                                   <input type="text" class="form-control wid-x4" id="VAL_ADDITEM3" name="VAL_ADDITEM3" title="추가상품값" data-eden-type="kor"
                                          maxlength="30" data-ng-model="saleInfoDataVO.param.VAL_ADDITEM3" style="width: 95%;">
                                </span>
								</td>
								<th>추가상품가격</th>
	                       		<td>
	                       		<span style="width: 100%" data-ng-if="page.isWriteable()">
                                   <input type="text" class="form-control wid-x4" id="PRC_ADDITEM3" name="PRC_ADDITEM3" title="추가상품가격" data-eden-type="kor"
                                          maxlength="30" data-ng-model="saleInfoDataVO.param.PRC_ADDITEM3" style="width: 95%;">
                                </span>
								</td>
	                       	</tr>
	                       	<tr data-ng-if="saleInfoDataVO.addItemNo >= 4 && page.isWriteable()">
	                       		<th>추가상품명</th>
	                       		<td>
	                       		<span style="width: 100%" data-ng-if="page.isWriteable()">
                                   <input type="text" class="form-control wid-x4" id="NM_ADDITEM4" name="NM_ADDITEM4" title="추가상품명" data-eden-type="kor"
                                          maxlength="30" data-ng-model="saleInfoDataVO.param.NM_ADDITEM4" style="width: 95%;">
                                </span>
								</td>
								<th>추가상품값</th>
	                       		<td>
	                       		<span style="width: 100%" data-ng-if="page.isWriteable()">
                                   <input type="text" class="form-control wid-x4" id="VAL_ADDITEM4" name="VAL_ADDITEM4" title="추가상품값" data-eden-type="kor"
                                          maxlength="30" data-ng-model="saleInfoDataVO.param.VAL_ADDITEM4" style="width: 95%;">
                                </span>
								</td>
								<th>추가상품가격</th>
	                       		<td>
	                       		<span style="width: 100%" data-ng-if="page.isWriteable()">
                                   <input type="text" class="form-control wid-x4" id="PRC_ADDITEM4" name="PRC_ADDITEM4" title="추가상품가격" data-eden-type="kor"
                                          maxlength="30" data-ng-model="saleInfoDataVO.param.PRC_ADDITEM4" style="width: 95%;">
                                </span>
								</td>
	                       	</tr>
	                       	<tr data-ng-if="saleInfoDataVO.addItemNo >= 5 && page.isWriteable()">
	                       		<th>추가상품명</th>
	                       		<td>
	                       		<span style="width: 100%" data-ng-if="page.isWriteable()">
                                   <input type="text" class="form-control wid-x4" id="NM_ADDITEM5" name="NM_ADDITEM5" title="추가상품명" data-eden-type="kor"
                                          maxlength="30" data-ng-model="saleInfoDataVO.param.NM_ADDITEM5" style="width: 95%;">
                                </span>
								</td>
								<th>추가상품값</th>
	                       		<td>
	                       		<span style="width: 100%" data-ng-if="page.isWriteable()">
                                   <input type="text" class="form-control wid-x4" id="VAL_ADDITEM5" name="VAL_ADDITEM5" title="추가상품값" data-eden-type="kor"
                                          maxlength="30" data-ng-model="saleInfoDataVO.param.VAL_ADDITEM5" style="width: 95%;">
                                </span>
								</td>
								<th>추가상품가격</th>
	                       		<td>
	                       		<span style="width: 100%" data-ng-if="page.isWriteable()">
                                   <input type="text" class="form-control wid-x4" id="PRC_ADDITEM5" name="PRC_ADDITEM5" title="추가상품가격" data-eden-type="kor"
                                          maxlength="30" data-ng-model="saleInfoDataVO.param.PRC_ADDITEM5" style="width: 95%;">
                                </span>
								</td>
	                       	</tr>
	                       </tbody>
	                </table>
	                <div style="margin: 10px;margin-left: 190px">
	                	<kendo-button data-ng-if="page.isWriteable()" type="botton" title="목록으로 적용" data-ng-click="saleInfoDataVO.addItemListing()" style="width:150px;">목록으로 적용↓</kendo-button>
	                </div>
	                <div data-ng-if="page.isWriteable()"> <kendo-grid options = "gridAddVO" id = "gridAddVO"></kendo-grid> </div>
	                <table class="table-bordered">
	                	<colgroup>
                           <col style="width: 13%;">
                           <col style="width: 20%;"> 
                           <col style="width: 13%;">
                           <col style="width: 20%;">
                           <col style="width: 13%;">
                           <col style="width: 20%;">
                       </colgroup>
	                	<tbody>
							<tr>
								<th>
									추가구성 상품 상세설명
								</th>
								<td colspan="5">
									<textarea kendo-editor id="kEditAdd" name="HTML_DETEXPL" k-ng-model="saleInfoDataVO.param.HTML_ADDDETEXPL" k-options="editorAddVO.kEditor" style="text-align:left; height:200px;"></textarea>
								</td>
							</tr>	                	
	                	</tbody>
	                </table>
                </form>
            </div>
        </div>        
    </div>
	
	<div class="row">
        <!-- 고시 정보 -->
        <div class="content-area-container col-xs-12">
        	<div data-content-box-layer data-box-title="saleInfoDataVO.licenseInfo.boxTitle">
        		<form class="search-type1">
                	<table class="table-bordered">
	                	<colgroup>
                           <col style="width: 12%;">
                           <col style="width: 38%;">
                           <col style="width: 12%;">
                           <col style="width: 38%;">
                       </colgroup>
	                       <tbody>
	                       	<tr>
	                       		<th><span class="form-required">* </span>상품군</th>
	                       		<td colspan="3">
								   <span data-ng-if="page.isWriteable()">
								   		<select class="form-control wid-x5" id="liog" title="상품군선택"
                                            data-ng-model="saleInfoDataVO.param.CD_LIOG" style="width: 30%"
                                            data-ng-options="liog.NM_LIOG for liog in saleInfoDataVO.liogList track by liog.CD_LIOG"
                                            ng-change="saleInfoDataVO.liogChange()">
                                        <option value="">상품군선택</option>
                                    	</select>
		                       			<input type="checkbox" ng-model = "saleInfoDataVO.itemDetailYN" id="checkDetail" ng-click = "saleInfoDataVO.allDetail()"
								          ng-true-value="Y" ng-false-value="N">
			                        </span>
		                            	상품상세 참조로 전체 입력
	                       		</td>
	                       	</tr>
	                       </tbody>
	                </table>
	                <table class="table-bordered">
	                	<colgroup>
                           <col style="width: 30%;">
                           <col style="width: 70%;">
                       </colgroup>
	                       <tbody>
		                       <tr ng-repeat = "liog in saleInfoDataVO.param.ANNOINFOARTILIST">
			                       <th><span class="form-required">* </span>{{liog.NM_ANNOINFOARTI}}</th>
			                       <td ><input type="text" class="form-control wid-x5" id="VAL_ANNOINFOARTI" title="고시정보 입력"
						                maxlength="30" data-ng-model="liog.VAL_ANNOINFOARTI"></td>
		                       </tr>
	                       </tbody>
	                </table>
                </form>
            </div>
        </div>        
    </div>
   	
	<div class="btn-group1 mt-20">
		<kendo-button data-ng-if="page.isWriteable()" type="botton" title="저장" data-ng-click="saleInfoDataVO.goSave()" style="width:80px;"><span class="k-icon k-i-save"></span>저장</kendo-button>
		<!-- <kendo-button type="botton" title="미리보기" data-ng-click="saleInfoDataVO.goPreview()" style="width:80px;"><span class="k-icon k-i-window"></span>미리보기</kendo-button> -->
		<kendo-button type="botton" title="목록" data-ng-click="saleInfoDataVO.goBack()" style="width:80px;"><span class="k-icon k-i-undo"></span>취소</kendo-button>
	</div>
    </br></br>
</div>

<!-- 주문 취소 팝업 div-->
<div kendo-window="win" k-options = "saleInfoDataVO.ordCancelPopOptions"></div> 
            
<!-- 인증정보 사용x template -->
<script id="ctfcTable_template" type="text/x-kendo-template">
<form id="ctfcTable_form">
<button style='margin:10px' data-ng-if='page.isWriteable()' class='ng-scope k-button addStorfCtfc' data-role='button' role='button' tabindex='0'>추가</button>
<table class='table-bordered' style='margin-left: 60px;width: 94%'>
	<colgroup>
		<col style='width: 10%'>
		<col style='width: 35%'>
		<col style='width: 35%'>
		<col style='width: 20%'>
	</colgroup>
    <tbody>	
	<tr style='height: 60px;'><td style='text-align: center'>번호</td>
                	<td style='text-align: center'>인증항목</td>
                	<td style='text-align: center'>인증번호</td>
                	<td style='text-align: center'>삭제</td>
	</tr>
    <tr>
<td>1</td>
<td style='width: 150px;text-align: center'>
<select class='form-control wid-x6 ng-pristine ng-valid' id='ctfcInfo' title='인증정보'
		data-ng-model='saleInfoDataVO.param.STORF.CTFCINFO[0].CD_CTFCINFO' style='width: 150px;'>
		<option value=''>인증정보선택</option>
		</select></td>
		<td style='width: 150px;text-align: center'><input type='text' class='form-control wid-x6' id='CTFCINFO' name='CTFCINFO' title='인증번호 입력'
			       data-ng-model='saleInfoDataVO.param.STORF.CTFCINFO[0].VAL'></td>
		<td style='text-align: center'><a class="k-button k-button-icontext deleteStorfCtfc">삭제</a></td></tr>
	</tr>
	
	</tbody>
</table>	
</div>
</form>
</script>     
                       
<style>
.k-edit-form-container{
    width: 920px;
}
.k-popup-edit-form .k-edit-label{
    width: 20%;
    text-align: left;
}
.k-popup-edit-form .k-edit-field{
    width: 70%;
}
.k-popup-edit-form .k-edit-field > .k-textbox,
.k-popup-edit-form .k-edit-field > .k-widget:not(.k-tooltip){
    width: 98%;
}
.not_pop_title{
	padding: 10px;
}
.signal{    
    width: 99%;
    margin: 5px;
}
.border-right-line{    
	border-right: 1px solid #eee;    
}
.border-top-line{	
	border-top: 1px solid #eee;
}
.border-bottom-line{	
	border-bottom: 1px solid #eee;
}
span.k-widget.k-tooltip-validation{
	position: absolute;
	margin: 3px;
	display: block;
}
</style>