.clearfix{clear:both}
.wrap{ width:100%;}
img{width:100%;}
h3{font-size:28px;font-weight:bold;text-align:center;}
h3 span{color:#0066b3;font-weight:bold;}
/*상단*/
.header{position:fixed; width:100%;padding-top:20px;padding-bottom:20px;background-color:#fff;}
.header .menu_list{width:1170px; margin:0 auto;font-size:17px;}
.header ul li:first-child{float:left;}
.header ul li:last-child{float:right;line-height:30px;margin-top:9px;}
.header .menu li{float:left;width:80px;text-align:center;margin-right:10px;font-weight:bold;}
.header .menu li:nth-child(3){width:90px;}
.header .menu li:nth-child(4){width:100px;background-color:#0066b3;}
.header .menu li:nth-child(4) a{color:#fff;}
.header .menu li:last-child{width:125px;background-color:#0066b3;margin:0px;}
.header .menu li:last-child a{color:#fff;}
.title{background: url(/assets/img/main-page/title-1.jpg)   center no-repeat;height:350px;} 
.title h1{color:#0066b3;font-size:35px;font-weight:bold;margin-top:10px;}
.title-txt {width:1170px; margin:0 auto;padding-top:130px;}
.title dl{width:50%;margin-top:30px;}
.title dl img{width:100%;}
.title dt{float:left;width:117px;}
.title dd{float:left;padding:0 !important;margin:8px;margin-bottom:3px;margin-top:9px;}

/*마켓 매니저 소개*/
.info{width:1170px; margin:0 auto;text-align:center;margin-top:60px;}
.info div{margin-top:10px;color:#727272}
.info ul{width:100%;}
.info ul li{float:left;width:570px;margin-top:25px}
.info ul li:nth-child(2n){margin-left:2%;}
.info ul dd{width:130px;margin:0 auto;line-height:30px;text-align:cetner;margin-top:20px;border-radius:20px;background-color:#525252;color:#fff;}


/*마켓 매니저의 특징*/
.char{width:100%;text-align:center;margin-top:60px;padding-bottom:60px;background-color:#0066b3}
.char div{width:1170px; margin:0 auto;margin-top:50px;}
.char dl{width:17%;float:left;margin-left:10%;color:#fff;}
.char dl:first-child{margin-left:2%;}
.char dl dd{margin-top:10px;}
.char dl h4{display:inline-block;border-bottom:2px solid #fff;padding-bottom:5px;font-size:19px;font-weight:bold;margin-top:15px;}


/*마켓 매니저의 주요기능*/
.function{width:1170px; margin:0 auto;margin-top:50px;}
.function dl{margin-top:30px;width:45%;margin-left:3%;border:1px solid #ccc;border-top:4px solid #0066b3;padding:10px;float:left;}
.function dt{font-size:16px;font-weight:bold;color:#0066b3;line-height:40px;}
.function dd{color:#727272}
.function ol li{background: url(/assets/img/main-page/list.jpg) left center no-repeat; padding-left: 10px;}
.no-function {border-top:4px solid #9c9c9c !important;}
.no-function dt{color:#9c9c9c;}
.no-function dt span{font-size:13px;padding:2px 5px;border:2px solid #9c9c9c;font-weight:bold;margin-right:5px;}
.no-function ol li{background: url(/assets/img/main-page/list-2.jpg) left center no-repeat; padding-left: 10px;}

/*하단*/
.footer{width:100%;text-align:center;color:#fff;line-height:50px;background-color:#3a3a3a;}
.footer img{width:20px;margin-right:10px;}

.logo{width:1170px;margin:0 auto;}


/*모바일 메뉴*/
.btn{display:none;}
#menu{display:none;}

@media only screen and (max-width: 1170px) {
	.header .menu_list{width:95%;}
	.info{width:95%;}
	.function{width:95%;}
	.title-txt{width:95%;}
	.char div{width:95%;}
	.info ul li{width:49%;}	
	.function dl{height:100px;}
	.function dl:nth-child(2n){margin-left:1%;}
	.logo{width:95%;}
		.title{width:100%;}
	.title dl{box-sizing:border-box;width:50% !important;}
	.title dt{width:23% !important;}
	.title dd{width:65%;}
}


@media only screen and (max-width: 960px) {
	
	
	.function dl{height:130px;width:44%;}
		.title dl{box-sizing:border-box;width:70% !important;}
	.title dt{width:23% !important;}
	.title dd{width:71%;}
}

@media only screen and (max-width: 728px) {
	.header .menu {display:none;}
	.btn { width: 45px; height: 45px; position: absolute; right:15px; top:20px;  z-index: 1;  background-size: 100%;  background-repeat: no-repeat;  background-position: center;  cursor: pointer;  display:block;}
	.mobile_close{width:45px;height:45px;margin-right:15px;margin-top:20px;float:right;}.menu_footer{padding-left:10px;padding-top:70px;}
	#menu {display:block;font-size:18px; width: 200px;  height: 100%;  position: fixed; top: 0px;  right: -202px;  z-index: 1002;  background-color: #0066b3;  text-align: left;  line-height:40px;  transition: All 0.5s ease;  -webkit-transition: All 0.5s ease;  -moz-transition: All 0.5s ease;  -o-transition: All 0.5s ease;}
	#menu.open {  right: 0px;}
	.menu_footer li a{color:#fff;}
}


@media only screen and (max-width: 640px) {
	.info ul li{width:100%;}	
	.info ul li:nth-child(2n){margin:0;margin-top:20px;}
	.char{padding:0px;}
	.char dl{width:45%;height:300px;margin-left:3%;}
	.char dl img{width:50%;}
	.char dl:nth-child(2n){margin-left:5%;}
	.function dl{width:95%;margin-left:0 !important;}
	
	
	.title h2{font-size:20px;}
	.title h1{font-size:30px;}
		.title dl{width:100% !important;}
	.title dt{width:25% !important;}
	.title dd{width:67%;}
	
}

@media only screen and (max-width: 480px) {
	

}


@media only screen and (max-width: 320px) {
	
}