<div id="app-content" class="col-xs-12 col-sm-10">
    <div class="row">
        <div id="app-content-header">
            <ol class="breadcrumb">
                <li><a href="#99sy/syDashboard"><i class="fa fa-home fa-2x"></i></a></li>
                <li><a href="#99sy/syAtrt">시스템 / 권한관리</a></li>
            </ol>
        </div>
    </div>
    
    <div class="row">
        <div class="content-area-container col-xs-12">
            <div class="app-content-search ">
                <div class="col-xs-6">
                </div>
                <div class="col-xs-6 ta-r">
                    <button data-ng-if="page.isWriteable()" type="button" class="ae-btn ae-save-btn" title="" data-ng-click="syAtrtVO.save()"><i class="fa fa-floppy-o"></i> 저장</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <!-- 권한정보 Layer -->
        <div class="content-area-container col-xs-5">
            <div data-content-box-layer data-box-title="syAtrtVO.boxTitle" data-content-height="margin-bottom:-10px;">
                <div class="box-content-article"> 
                	<div class="article-header">
		                <div class="col-xs-6 article-header-box">
		                    <button data-ng-if="page.isWriteable()" type="button" class="ae-btn ae-add-btn" title="사용자코드 추가" data-ng-click="syAtrtVO.add()"><i class="fa fa-plus"></i> 추가</button>
		                    <button data-ng-if="page.isWriteable()" type="button" class="ae-btn ae-delete-btn" title="사용자코드 삭제" data-ng-click="syAtrtVO.delete()"><i class="fa fa-times"></i> 삭제</button>
		                </div>
		            </div>
	                <div class="article-view">
	                    <div style="display:flex; height:{{syAtrtVO.height}};" data-ui-grid="syAtrtVO.options" ui-grid-auto-resize ui-grid-selection ui-grid-edit ui-grid-cellnav></div>
	                </div>
            	</div>
            </div>
        </div>
        <!--/ 권한정보 END -->

        <!-- 메뉴정보 Layer -->
        <div class="content-area-container col-xs-7" data-ng-controller="sy.AtrtMenuCtrl">
            <div data-content-box-layer data-box-title="menuVO.boxTitle" data-content-height="margin-bottom:-10px;">
                <div class="box-content-article">
                    <div class="article-header">
                        <div class="col-xs-6 article-header-box ta-r">
                        </div>
                    </div>
                    <div class="article-view">
                        <div data-edt-tree="menuVO.options"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ 메뉴정보 END -->
    </div>
</div>