<div id="app-content" class="col-xs-12 col-sm-10">
    <div class="row">
        <div id="app-content-header">
            <ol class="breadcrumb">
                <li><a href="#99sy/syDashboard"><i class="fa fa-home fa-2x"></i></a></li>
                <li><a href="#03sa/saEchgReq">취소·반품·교환 / 교환요청 </a></li>
            </ol>
        </div>
    </div>
    
    <div class="row">
        <!-- 검색 -->
        <div class="content-area-container col-xs-12" style="margin:0px 0px -5px 0px;" id="searchId">
        	<div data-content-box-layer data-box-title="echgDataVO.boxTitle" data-is-open="echgDataVO.isOpen(val)">
                <form class="search-type1" id="myForm">
                	<table>
                        <colgroup>
                            <col style="width: 7%;">
                            <col style="width: 18%;">
                            <col style="width: 7%;">
                            <col style="width: 23%;">
                            <col style="width: 7%;">
                            <col style="width: 18%;">
                            <col style="width: 7%;">
                            <col style="width: 18%;">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th>마켓명</th>
                            <td>
                            	<co01-mcbox title="마켓명" model="echgDataVO.ordMrkNameMo" options="echgDataVO.ordMrkNameOp" setting="echgDataVO.setting" style="width:100%;">
        						</co01-mcbox> 
                            </td>
                            <th>상품명</th>
                            <td>
                            	<input data-ng-model="echgDataVO.procName.value"
                            			focus="echgDataVO.procName.focus"
                            			title="상품명"
                            			data-eden-type="kor" 
                            			type="text" 
                            			class="form-control" style="width:100%;"/>
                            </td>		
                            <th>주문상태</th>
                            <td>            
       							<co01-mcbox id="shpbyord-status" title="주문상태" model="echgDataVO.ordStatusMo" options="echgDataVO.ordStatusOp" setting="echgDataVO.setting"  style="width:100%;">
        						</co01-mcbox>        						
                            </td>   
                            <th>주문번호</th>
                            <td>     
					            <input data-ng-model="echgDataVO.orderNo.value"
                            			focus="echgDataVO.orderNo.focus"
                            			title="주문번호"
                            			data-eden-type="kor" 
                            			type="text" 
                            			class="form-control" style="width:100%;"/>
                            </td>         
                        </tr>
                        <tr>
                            <th>구매자/수취인</th>
                            <td>                            	              	
                            	<input data-ng-model="echgDataVO.buyerName.value"
                            			focus="echgDataVO.buyerName.focus"
                            			title="구매자/수취인"
                            			data-eden-type="kor" 
                            			type="text" 
                            			class="form-control" style="width:100%;"/>
                            </td>
                            <th>교환상태</th>
                            <td>
                            	<select ng-model="echgDataVO.echgStatusMo"
        								ng-options="option.CD_DEF as option.NM_DEF for option in echgDataVO.echgStatusOp"
        								class="form-control"
        								style="width: 100%">
        						</select>	
        					</td>
                            <th></th>
                            <td></td>
                            <th></th>
                            <td></td>                            
                        </tr>
                        <tr>
                            <th>기간</th>                            
                            <td>
                            	<select ng-model="echgDataVO.betweenDateOptionMo"
        								ng-options="option.CD_DEF as option.NM_DEF for option in echgDataVO.betweenDateOptionOp"
        								class="form-control"
        								style="width: 100%">
        						</select>	
                            </td>
                            <td colspan="6">                            	              	
                            	<div class="frm-group" data-date-search-group="echgDataVO.datesetting" style="display:inline-block;"></div>
                            </td>
                        </tr>
                        </tbody>
                    </table>         		     
                    <div class="btn-group1 mt-10">
                        <kendo-button type="submit" class="k-primary" title="검색" data-ng-click="echgDataVO.inQuiry()" 
                        	analytics-on="click" analytics-event="pc/click" analytics-category="교환주문" analytics-label="교환주문 조회" 
                        style="width:70px;">검색</kendo-button>
                        <kendo-button type="botton" title="초기화" data-ng-click="echgDataVO.inIt()" style="width:70px;">초기화</kendo-button>
                    </div>
                </form>
            </div>
        </div>
        
        <!-- 주문 목록 -->          
		<div class="content-area-container col-xs-12" style="padding:0px 0px 0px 0px;">	
			<kendo-tooltip options="grdEchgVO.tooltipOptions">						
		        <div id="divEchgGrd" kendo-grid="echgkg" options="grdEchgVO">
		        </div>	            
		    </kendo-tooltip>
        </div>
    </div>
</div>

<!-- 교환 팝업 -->
<script id="echg_popup_template" type="text/x-kendo-template">
<div class="not_pop_title">
	<h4 ng-bind="echgDataVO.inputPopupHeaderTitle"></h4>
</div>
<table class="table signal" data-uid="#= uid #">
	<colgroup>
      <col style="width: 17%;">
      <col style="width: 27%;">
      <col style="width: 17%;">
      <col style="width: 27%;">
    </colgroup>
    <tbody>	
	<tr class="border-bottom-line border-top-line">	
		<td class="active border-right-line">
			마켓
		</td>
		<td class="border-right-line">
			#if(NM_MRK){ #
			#: NM_MRK #
			#}#
		</td>
		<td class="active border-right-line">
			상품주문번호
		</td>
		<td>
			#if(NO_MRKITEMORD){ #
			#: NO_MRKITEMORD #
			#}#
		</td>
	</tr>
	<tr class="border-bottom-line">
		<td class="active border-right-line">
			상품코드
		</td>
		<td colspan="3">
			#if(NO_MRKITEM){ #
			#: NO_MRKITEM #
			#}#	
		</td>
	</tr>
	<tr class="border-bottom-line">
		<td class="active border-right-line">
			상품명
		</td>
		<td colspan="3">
			#if(NM_MRKITEM){ #
			#: NM_MRKITEM #
			#}#
		</td>
	</tr>
	<tr class="border-bottom-line">
		<td class="active border-right-line">
			구매자
		</td>
		<td class="border-right-line">
			#if(NM_PCHR){ #
			#: NM_PCHR #
			#}#	
		</td>
		<td class="active border-right-line">
			배송방법
		</td>
		<td>
			#if(DC_SHPWAY){ #
			#: DC_SHPWAY #
			#}#			
		</td>
	</tr>
	<tr class="border-bottom-line">
		<td class="active border-right-line">
			구매수량
		</td>
		<td class="ta-r">
			#if(QT_ORD){ #
			#: QT_ORD #
			#}#
		<td class="active border-right-line">
			교환요청수량
		</td>
		<td class="ta-r">
			#if(QT_ECHG){ #
			#: QT_ECHG #
			#}#
		</td>
	</tr>	
	<tr class="border-bottom-line">
		<td class="active border-right-line">
			교환사유코드
		</td>
		<td colspan="2">
			<select kendo-drop-down-list options="echgDataVO.ddlDefaultOp" name="NM_ECHGHRNKRSN" style="width: 100%">
				<option>#: NM_ECHGHRNKRSN #</option>
			</select>
		</td>
		<td>
		</td> 
	</tr>
	<tr class="border-bottom-line">
		<td class="active border-right-line">
			교환요청내용
		</td>
		<td colspan="3">			
			<textarea class="k-textbox k-state-disabled" name="DC_ECHGRSNCTT" data-bind="value: DC_ECHGRSNCTT" disabled="disabled" style="width:100%; height:100px; overflow-y: scroll;"></textarea>
		</td>
	</tr>

	<tr class="border-bottom-line" data-ng-if="echgDataVO.updateChange === '004'">
		<td class="active border-right-line">
			반품변경사유코드
		</td>
		<td colspan="2">			
		    <select kendo-drop-down-list options="echgDataVO.ddlDefaultOp" style="width: 100%">
				<option>#: NM_ECHGHRNKRSN #</option>
			</select>
		</td> 
		<td class="border-right-line">
		</td>
	</tr>		
		
	<tr class="border-bottom-line" data-ng-if="echgDataVO.updateChange === '004'">
		<td class="active border-right-line">
			<code>*</code>반품변경 상세사유 
		</td>
		<td class="border-right-line" colspan="3">			
			<textarea class="k-textbox" name="DC_TKBKRSNCTT" data-bind="value: DC_TKBKRSNCTT" placeholder="상세 사유를 200자 이내로 입력하세요." style="width:100%; height:50px; overflow-y: scroll;"></textarea>
		</td> 
	</tr>
		
	<tr class="border-bottom-line" data-ng-if="(('003' === echgDataVO.updateChange && echgDataVO.cCode.indexOf('#: CODE #') > -1) || ('004' === echgDataVO.updateChange && ['170104','170102','170103'].indexOf('#: CODE #') > -1))">
		<td class="active border-right-line">			
			<span data-ng-if="['170104','170102','170902'].indexOf('#: CODE #') > -1"><code>*</code>교환상품을<br/>받으셨습니까?</span>
			<span data-ng-if="['170103'].indexOf('#: CODE #') > -1"><code>*</code>교환완료<br/> 동시처리</span>
		</td>
		<td>
			<ul id="receive-group">
				<li style="float:left; margin-right: 5px;">
              		<input type="radio" name="RECEIVE_SET" id="receive-y" class="k-radio" required data-bind="checked: RECEIVE_SET" data-type="string" value="Y" data-ng-click="echgDataVO.receiveChkClkEvt($event)">
              		<label class="k-radio-label" for="receive-y">예 </label>
				</li>
          		<li style="float:left">
              		<input type="radio" name="RECEIVE_SET" id="receive-n" class="k-radio" required data-bind="checked: RECEIVE_SET" data-type="string" value="N" data-ng-click="echgDataVO.receiveChkClkEvt($event)">
             		<label class="k-radio-label" for="receive-n">아니오</label>
				</li>
			</ul>	
		</td>
		<td colspan="2">
		</td>
	</tr>

	<tr class="border-bottom-line" data-ng-show="echgDataVO.receiveChk === false && echgDataVO.updateChange === '004' && echgDataVO.gCode.indexOf('#: CODE #') > -1">
		<td class="active border-right-line">
			<code>*</code>보류사유  
		</td>
		<td class="border-right-line ta-l">
			<select
				name="CD_HOLD"
				data-bind="value: CD_HOLD"
              		style="width: 100%">
			</select>		
		</td>
		<td class="active border-right-line">
			<span data-ng-show="echgDataVO.updateChange === '004' && echgDataVO.etcCostCode === 'Y' && echgDataVO.gCode.indexOf('#: CODE #') > -1">
				<code>*</code>{{echgDataVO.etcCostName}}
			</span> 
		</td>
		<td class="border-right-line">
			<div data-ng-show="echgDataVO.updateChange === '004' && echgDataVO.etcCostCode === 'Y' && echgDataVO.gCode.indexOf('#: CODE #') > -1">
				<input name="CD_HOLD_FEE" data-bind="value: CD_HOLD_FEE" kendo-numeric-text-box k-options="echgDataVO.cdHoldFee" style="width: 100%;" />
			</div>
		</td>
	</tr>		
	
	<tr class="border-bottom-line" data-ng-if="echgDataVO.updateChange === '004' && echgDataVO.eCode.indexOf('#: CODE #') > -1 && ('#: NM_ECHGLRKRSN #' === '구매자' || '#: NM_ECHGLRKRSN #' === '구매자 귀책')">
		<td class="active border-right-line">
			<code>*</code>반품배송비<br/>전달방법
		</td>
		<td class="border-right-line" colspan="3">
			<select
				name="transform_pay_reason"
				data-bind="value: transform_pay_reason"
             	style="width: 100%">
			</select>
		</td>
	</tr>

	<tr class="border-bottom-line" data-ng-if="((echgDataVO.updateChange === '001' && echgDataVO.ngIfdata(echgDataVO.procShowCode, echgDataVO.procShowMrkCode, '#: CODE #')) || 
				(echgDataVO.updateChange === '004' && echgDataVO.sCode.indexOf('#: CODE #') > -1 && '#: DC_ECHGSHPCOSTAPVL #' === '선결제 완료 (교환완료시 교환배송비 정산이 진행됩니다.)' && echgDataVO.receiveChk === false) ||
				(echgDataVO.updateChange === '004' && echgDataVO.sCode.indexOf('#: CODE #') > -1 && echgDataVO.receiveChk === true))">
		<td class="active border-right-line">
			<code>*</code>회수 택배사<br/>
		</td>
		<td>
			<select kendo-drop-down-list 
				k-options="echgDataVO.cdParsDDL"
				k-data-source="echgDataVO.cdParsDDL.dataSource"
				name="CD_PARS"
				data-bind="value: CD_PARS_INPUT"
             	style="width: 100%">
			</select>
		</td>
		<td colspan="2">
		</td>
	</tr>

	<tr class="border-bottom-line" data-ng-if="((echgDataVO.updateChange === '001' && echgDataVO.ngIfdata(echgDataVO.procShowCode, echgDataVO.procShowMrkCode, '#: CODE #')) || 
				(echgDataVO.updateChange === '004' && echgDataVO.sCode.indexOf('#: CODE #') > -1 && '#: DC_ECHGSHPCOSTAPVL #' === '선결제 완료 (교환완료시 교환배송비 정산이 진행됩니다.)' && echgDataVO.receiveChk === false) ||
				(echgDataVO.updateChange === '004' && echgDataVO.sCode.indexOf('#: CODE #') > -1 && echgDataVO.receiveChk === true)
				)">
		<td class="active border-right-line">
			<code>*</code>회수 송장번호
		</td>
		<td colspan="3" menual-shw-wrn="echgDataVO.menualShwWrn" menual-shw-wrn-no-ord='#: NO_ORD #'>			
			<input class="k-textbox" name="NO_INVO" data-bind="value: NO_INVO_INPUT" 
				data-ng-trim="true"
				placeholder="송장번호는  숫자 또는 숫자와 '-'(특수문자) 조합으로만 가능합니다."
				autocomplete="off"
			    style="width:100%;"/>
		</td>
	</tr>	
	
	<tr data-ng-if="echgDataVO.updateChange === '004' &&
					((echgDataVO.gCode.indexOf('#: CODE #') > -1 && echgDataVO.receiveChk === true) ||
					(echgDataVO.eCode.indexOf('#: CODE #') > -1 && ('#: NM_ECHGLRKRSN #' === '구매자' || '#: NM_ECHGLRKRSN #' === '구매자 귀책')) ||
					(echgDataVO.sCode.indexOf('#: CODE #') > -1 && '#: DC_ECHGSHPCOSTAPVL #' === '선결제 완료 (교환완료시 교환배송비 정산이 진행됩니다.)'))">
		<td class="ta-l" colspan="4">
			<div>
				<span style="display: inline-block; vertical-align:top; width:3%;">
					<code>*</code>
				</span>
				<span data-ng-if="echgDataVO.gCode.indexOf('#: CODE #') > -1" class="span-alert-msg">
					반품변경시 이미 결제되었던 교환배송비는 반품배송비로 전환되지않습니다. <br/>
					구매자와 반품배송비에 대해 합의 후에 처리하시기 바랍니다
				</span>	
				<span data-ng-if="echgDataVO.eCode.indexOf('#: CODE #') > -1" class="span-alert-msg">
					반품처리가 완료되면 구매자에게 자동으로 환불처리가 됩니다.
					구매자가 교환배송비를 결제(카드/포인트)했을 경우 교환배송비가 자동환불 됩니다. 
					(교환배송비 재계산에 따라서 발생하는 반품배송비는 구매자와 협의 후 박스에 동봉 또는 판매자에게 직접송금 의 방법을 사용하시기 바랍니다.)
				</span>
				<span data-ng-if="echgDataVO.sCode.indexOf('#: CODE #') > -1" class="span-alert-msg">
					<code>*</code><mark>고객께서 이미 교환배송비를 결제한 경우, 회수 택배사를 입력해야 합니다.</mark>
				</span>
			</div>						
		</td>
	</tr>

	<tr class="border-bottom-line" data-ng-if="echgDataVO.updateChange === '003' && echgDataVO.ngIfdata(echgDataVO.completeShowCode, echgDataVO.completeShowMrkCode, '#: CODE #')">
		<td class="active border-right-line">
			<code>*</code>재발송 택배사<br/>
		</td>
		<td>
			<select kendo-drop-down-list 
				k-options="echgDataVO.cdParsDDL"
				k-data-source="echgDataVO.cdParsDDL.dataSource"
				name="CD_PARS"
				data-bind="value: CD_PARS_INPUT"
             	style="width: 100%">
			</select>
		</td>
		<td colspan="2">
		</td>
	</tr>

	<tr class="border-bottom-line" data-ng-if="echgDataVO.updateChange === '003' && echgDataVO.ngIfdata(echgDataVO.completeShowCode, echgDataVO.completeShowMrkCode, '#: CODE #')">
		<td class="active border-right-line">
			<code>*</code>재발송 송장번호
		</td>
		<td colspan="3" menual-shw-wrn="echgDataVO.menualShwWrn" menual-shw-wrn-no-ord='#: NO_ORD #'>
			<input class="k-textbox" name="NO_INVO" data-bind="value: NO_INVO_INPUT" 
			data-ng-trim="true"
			placeholder="송장번호는  숫자 또는 숫자와 '-'(특수문자) 조합으로만 가능합니다."
			autocomplete="off"
		    style="width:100%;"/>
		</td>		
	</tr>
	
	<tr class="border-bottom-line" data-ng-if="echgDataVO.ngIfdata(echgDataVO.completeShowCode, echgDataVO.completeShowMrkCode, '#: CODE #')">
		<td class="active border-right-line">
			교환완료자
		</td>
		<td class="ta-l">
			{{echgDataVO.userInfo}}
		</td>
		<td class="active border-right-line"> 
			<code>*</code> 
			<span data-ng-if="'#: CODE #' === '170106' || '#: CODE #' === '170103'">교환완료일자</span>
			<span data-ng-if="'#: CODE #' === '170104' || '#: CODE #' === '170102' || '#: CODE #' === '170902'">회수상품 접수일</span> 
		</td>
		<td class="ta-l">
			<input kendo-date-time-picker
		 		id="DTS_RECER"
		 		name="DTS_RECER"
		 		k-options="echgDataVO.dateOptions"
           		data-bind="value: DTS_RECER"
				data-ng-blur="popupUtil($event)"
           		style="width: 100%;" />
		</td> 
	</tr>

	<tr class="border-bottom-line" data-ng-if="echgDataVO.updateChange === '002' && echgDataVO.ngIfdata(echgDataVO.rejectShowCode, echgDataVO.rejectDivShowMrkCode, '#: CODE #')">
		<td class="active border-right-line">
			<code>*</code>교환요청<br/>거부코드
		</td>
		<td colspan="2">
			<select kendo-drop-down-list 
				k-options="echgDataVO.rjtDDL"
				k-data-source="echgDataVO.rjtDDL.dataSource"
				name="CD_ECHGRJTRSN"
				data-bind="value: CD_ECHGRJTRSN"
                style="width: 100%">
			</select>
		</td>
		<td>
		</td> 
	</tr>

	<tr class="border-bottom-line" data-ng-if="echgDataVO.updateChange === '002' && echgDataVO.ngIfdata(echgDataVO.rejectShowCode, echgDataVO.rejectDetailShowMrkCode, '#: CODE #')">
		<td class="active border-right-line">
			<code>*</code>교환요청 거부사유
		</td>
		<td colspan="3">			
			<textarea class="k-textbox" name="DC_ECHGRJTCTT" data-bind="value: DC_ECHGRJTCTT" style="width:100%; height:150px; overflow-y: scroll;"></textarea>
		</td> 
	</tr>

	</tbody>
</table>
</script>

 <!-- 주문 조회 그리드 -->
 <script id="echg_template" type="text/x-kendo-template">
   	<tr data-uid="#= uid #" class="k-grid-row">
 		<td class="ta-c">
         	<div class="custom-style-checkbox">
         		<input class='k-checkbox' data-role='checkbox' type='checkbox' ng-click="onOrdGrdCkboxClick($event)" id="#= uid #">
 				<label class='k-checkbox-label k-no-text' for="#= uid #" style='vertical-align:middle;'></label>
 			</div>	
       	</td>
 		<td class="ta-l" style="padding:0">
           	<div class="custom-style">
 				# if(NO_ORD){ 			# 
 				#: NO_ORD 				# 
 				# }						#
 			</div>
 			<div class="custom-style">
 				# if(NO_APVL){ 			# 
 				#: NO_APVL 	    		#  
 				# }						#
				# if(NO_MRKORD){ 		#	
 					&nbsp;/&nbsp; 
 				#: NO_MRKORD 			#
 				# }						# 
 			</div>
       	</td>
 		<td class="ta-l" style="padding:0">
           	<div class="custom-style">
 				# if(NM_MRK){ 			#
                #: NM_MRK  				# 
             	# } 					#
 			</div>
 			<div class="custom-style">
 				# if(NO_MRKITEMORD){ 	# 
 				#: NO_MRKITEMORD 		# 
 				# }   					#
 			</div>
       	</td>
 		<td class="ta-l" style="padding:0">
          	<div class="custom-style">
 				# if(NO_MRKITEM){ 		#
           		#: NO_MRKITEM 			# 
             	# }    					#
 			</div>
 			<div class="custom-style">
 				# if(NO_MRKREGITEM){ 	#	 
 				#: NO_MRKREGITEM 		# 
 				# }					   	#
 			</div>
       	</td>
 		<td style="padding:0">
           	<div class="ta-l custom-style">
 				# if(NM_MRKITEM){ 		#
 				#: NM_MRKITEM 			#
 				# }						#
 				# if(NM_MRKOPT){ 		#	
 					&nbsp;/&nbsp; 
 				#: NM_MRKOPT 			#
 				# }						# 
 			</div>
 			<div class="ta-c custom-style">
 				# if(NM_MRKOPT){ 		#
 				#: NM_MRKOPT 			#	
 				# }						#
 			</div>
      	</td>
 		<td class="ta-r" style="padding:0">
           	<div class="custom-style">
 				# if(QT_ORD){ 			#
 				#: QT_ORD 				#
     			# }						#
 			</div>
 			<div class="custom-style">
 				# if(QT_ECHG){ 			#
 				#: QT_ECHG 				#
 				# }						#
 			</div>
       	</td>
 		<td style="padding:0">
           	<div class="ta-c custom-style">
 				# if(NM_PCHR){ 			#
 				#: NM_PCHR 				#
 				# }						# 
 			</div>
 			<div class="ta-r custom-style"> 
 				# if(AM_ORDSALEPRC){ 	#
 				#= kendo.toString(AM_ORDSALEPRC,'C0', 'ko-KR') #
 				# }else{ 				#
 					0
 				#}						#
 			</div>
       	</td>
 		<td class="ta-c" style="padding:0">
           	<div class="custom-style">		
 				# if(NO_PCHRPHNE){ 		#					  
 				#: NO_PCHRPHNE 			#		
 				# } 	 				#						  
 			</div>
 			<div class="ta-c custom-style"> 
 				# if(NM_CONS){ 			#
 				#: NM_CONS 				# 
 				# }	 					#
 			</div>
       	</td>
		<td class="ta-c" style="padding:0">
           	<div class="custom-style">
 				# if(CD_PARS_ECHG){		#
 				#: CD_PARS_ECHG 		#
 				# }	  					#
 			</div>
 			<div class="custom-style">
 				# if(NO_INVO_ECHG){ 	#
 				#: NO_INVO_ECHG 		# 
 				# }	 	  				#
 			</div>
       	</td> 
 		<td class="ta-l" style="padding:0">
           	<div class="custom-style">
 				# if(DC_PCHREMI){ 		#
 				#: DC_PCHREMI 			#
 				# }	  					#
 			</div>
 			<div class="custom-style">
 				# if(NO_CONSPHNE){ 		#
 				#: NO_CONSPHNE 			# 
 				# }	 	  				#
 			</div>
       	</td> 
 		<td class="ta-c" style="padding:0">
           	<div class="custom-style">
 				# if(NM_ECHGHRNKRSN){ 	#
 				#: NM_ECHGHRNKRSN		#
 				# }	 	 				#
 			</div>
 			<div class="custom-style">
 				# if(DC_CONSNEWADDR){ 	#	
 				#: DC_CONSNEWADDR 		# 
 				# }	 	 				#
 			</div>
       	</td>
 		<td class="ta-c" style="padding:0">
 			<div class="custom-style">
 				# if(NM_ORDSTAT){ 		#
 				#:	NM_ORDSTAT			#
 				# }	   					#
 			</div>
 			<div class="custom-style">
 				# if(DC_SHPWAY){ 		#
 				#: DC_SHPWAY 			#
 				# }	   					#
 			</div>
 		</td>
 		<td class="ta-c" style="padding:0">          	
 			<div class="custom-style">
 				# if(DTS_ORD){ 			#  
 				#: DTS_ORD 				#	 
 				# }	 					#
 			</div>
 			<div class="custom-style">
 				# if(DTS_ECHGREQ){ 		#
				#:DTS_ECHGREQ# 
 				# }	 					#
 			</div>
       	</td>
 		<td style="padding:0">
         	<div class="ta-c custom-style">
 				# if(DT_SND){  			#
 				#: DT_SND				#
 				# }	 	 				#		
 			</div>
 			<div class="ta-c custom-style">				 
 				# if(DTS_ECHGAPPRRJT){	#
				#:DTS_ECHGAPPRRJT		#
 				# }	 					#
 			</div>
       	</td>
 		<td style="padding:0">
         	<div class="ta-c never-fix custom-style">
 				# if(CD_PARS){ 			#
 				#: CD_PARS 				#
 				# }						# 
 			</div>
 			<div class="ta-c custom-style">
 				# if(NO_INVO){  		# 
 				#: NO_INVO				# 
 				# }						#	 
 			</div>
       	</td>
		<td style="padding:0">
         	<div class="ta-c custom-style">
 				# if(NO_ECHGCPLT){ 		#
 				#: NO_ECHGCPLT 			#
 				# } 					# 
 			</div>
 			<div class="ta-c custom-style">
				# if(DTS_ECHGCPLT){		#
				#: DTS_ECHGCPLT 		#   
 				# }	 					#
 			</div>
       	</td>
 		<td style="padding:0">
         	<div class="ta-c custom-style">
 				# if(YN_CONN !== 'N'){ 	#
 					Y
 				# }else{ 				#
					N
			 	# }						#
 			</div>
 			<div class="ta-c custom-style">
				# if(NM_ECHGSTAT){  	# 
 				#:		NM_ECHGSTAT		#
 				# }						# 
 			</div>
       	</td>
 	</tr>			
 </script>
 
<!-- 교환 요청 그리드 툴바 템플릿 -->
<script id="echg_toolbar_template" type="text/x-kendo-template">
	<a class="k-button k-button-icontext k-grid-echg confirm"
				analytics-on="click" analytics-event="pc/click" analytics-category="교환주문" analytics-label="교환처리"><span class="k-icon k-i-custom"></span>교환처리</a>
	<a class="k-button k-button-icontext k-grid-echg reject"
				analytics-on="click" analytics-event="pc/click" analytics-category="교환주문" analytics-label="교환거부"><span class="k-icon k-i-cancel"></span>교환거부</a>
	<a class="k-button k-button-icontext k-grid-echg complete"
				analytics-on="click" analytics-event="pc/click" analytics-category="교환주문" analytics-label="교환완료"><span class="k-icon k-i-check"></span>교환완료</a>
	<a class="k-button k-button-icontext k-grid-echg change"
				analytics-on="click" analytics-event="pc/click" analytics-category="교환주문" analytics-label="교환에서 반품으로 변경"><span class="k-icon k-i-undo"></span>반품으로 변경</a>
</script>

<style>
.k-edit-form-container{
    width: 100%;
}
.k-popup-edit-form .k-edit-label{
    width: 20%;
    text-align: left;
}
.k-popup-edit-form .k-edit-field{
    width: 70%;
}
.k-popup-edit-form .k-edit-field > .k-textbox,
.k-popup-edit-form .k-edit-field > .k-widget:not(.k-tooltip){
    width: 98%;
}
.k-grid-content > table > tbody > tr > td > div.custom-style-checkbox{
 	position: relative;
    top: -7px;
} 
.span-alert-msg{
	display: inline-block; 
	width:95%;
}
</style>
