<div id="app-content" class="col-xs-12 col-sm-10">
    <div class="row">
        <div id="app-content-header">
            <ol class="breadcrumb">
                <li><a href="#99sy/syDashboard"><i class="fa fa-home fa-2x"></i></a></li>
                <li><a href="#02it/itSaleSiteItem">판매Site별 등록상품관리</a></li>
            </ol>
        </div>
    </div>
    <div class="row">
        <!-- 검색 -->
        <div class="content-area-container col-xs-12" style="margin:0px 0px -5px 0px;">
        	<div data-content-box-layer data-box-title="saleItemDataVO.boxTitle" data-is-open="saleItemDataVO.isOpen(val)">
                <form class="search-type1" id="myForm">
                	<table>
                        <colgroup>
                            <col style="width: 6%;">
                            <col style="width: 13%;">
                            <col style="width: 6%;">
                            <col style="width: 14%;">
                            <col style="width: 7%;">
                            <col style="width: 18%;">
                            <col style="width: 7%;">
                            <col style="width: 29%;">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th>상품코드</th>
                            <td>
                            	<input data-ng-model="saleItemDataVO.signItem.value"
                            			focus="saleItemDataVO.signItem.focus"
                            			title="상품코드"
                            			data-eden-type="kor" 
                            			type="text" 
                            			class="form-control" style="width:100%;"/>
                            </td>
                            <th>판매SITE</th>
                            <td>                            	              	
                            	<co01-mcbox id="SaleList_cmrk" title="판매SITE" model="saleItemDataVO.cmrkIds" options="saleItemDataVO.cmrkList" setting="saleItemDataVO.cmrkSetting"  style="width:100%;">
        						</co01-mcbox>
                            </td>  
                            <th>상품분류</th>
                            <td colspan="3">                            	              	
                            	<select class="form-control wid-x5" id="ctgr1" title="대분류선택"
                                         data-ng-model="saleItemDataVO.selectedCtgr1" style="width: 150px" ng-change="saleItemDataVO.ctgrChange('1')"
                                         data-ng-options="ctgr.NM_CTGR for ctgr in saleItemDataVO.itemCtgrList1 track by ctgr.ID_CTGR">
                                     <option value="">대분류선택</option>
                                 </select>
                                 <select class="form-control wid-x5" id="ctgr2" title="중분류선택"
                                         data-ng-model="saleItemDataVO.selectedCtgr2" style="width: 150px" ng-change="saleItemDataVO.ctgrChange('2')"
                                         data-ng-options="ctgr.NM_CTGR for ctgr in saleItemDataVO.itemCtgrList2 track by ctgr.ID_CTGR">
                                     <option value="">중분류선택</option>
                                 </select>
                                 <select class="form-control wid-x5" id="ctgr3" title="소분류선택"
                                         data-ng-model="saleItemDataVO.selectedCtgr3" style="width: 150px"
                                         data-ng-options="ctgr.NM_CTGR for ctgr in saleItemDataVO.itemCtgrList3 track by ctgr.ID_CTGR">
                                     <option value="">소분류선택</option>
                                 </select>
                            </td>		
                            
                        </tr>
                        <tr>
                            <th>상품명</th>
                            <td>            
       							<input data-ng-model="saleItemDataVO.nmItem.value"
                            			focus="saleItemDataVO.nmItem.focus"
                            			title="상품명"
                            			data-eden-type="kor" 
                            			type="text" 
                            			class="form-control" style="width:100%;"/>
                            </td>
                            <th>상품상태</th>
                            <td>                            	              	
                            	<co01-mcbox id="SaleList_iStat" title="상품상태" model="saleItemDataVO.iStatIds" options="saleItemDataVO.iStatList" setting="saleItemDataVO.setting"  style="width:100%;">
        						</co01-mcbox>
                            </td>                   
                        </tr>
                        <tr>
                            <th>일시</th>                            
                            <td>
                            	<select ng-model="saleItemDataVO.selectedDateOption"
        								ng-options="option.CD_DEF as option.NM_DEF for option in saleItemDataVO.dateOption"
        								class="form-control" style="width: 100%">
        						</select>	
                            </td>
                            <td colspan="6">                            	              	
                            	<div class="frm-group" data-date-search-group="saleItemDataVO.datesetting" style="display:inline-block;"></div>
                            </td>
                        </tr>
                        </tbody>
                    </table>         		     
                    <div class="btn-group1 mt-10">
                        <kendo-button type="submit" class="k-primary" title="검색" data-ng-click="saleItemDataVO.inQuiry()" style="width:70px;" >검색</kendo-button>
                        <kendo-button type="submit" title="초기화" data-ng-click="saleItemDataVO.init()" style="width:70px;" >초기화</kendo-button>
                    </div>
                </form>
            </div>
        </div>
                
        <!-- SALESITE 리스트 -->          
		<div class="content-area-container col-xs-12" style="padding:0px 0px 0px 0px;">				
	        <div id="divSaleVO" kendo-grid="gridSaleVO" options="gridSaleVO">
	        </div>	            
        </div>
    </div>
</div>

<!-- SALESITE 조회 그리드 -->
<script id="sale_template" type="text/x-kendo-template">
	<tr data-uid="#= uid #" ng-dblclick="grdDblClickGo('#: NO_MRKREGITEM #')">
		<td class="ta-c">
			<div class="custom-style-checkbox">
        		<input class='k-checkbox' data-role='checkbox' type='checkbox' ng-click="onSaleGrdCkboxClick($event)" id="#= uid #_row">
				<label class='k-checkbox-label k-no-text' style="vertical-align:middle;" for="#= uid #_alt"></label>
			</div>
      	</td>
		<td class="ta-l" style="padding:0">
          	<div class="custom-style">
							  # if(NO_MRK !== "" && NO_MRK !== null && NO_MRK !== "undefined"){ #
                  	    	  #: NO_MRK  # 
                      	      # }else{ } #
			</div>
      	</td>
		<td class="ta-l" style="padding:0">
          	<div class="custom-style">
							  # if(CD_SIGNITEM !== "" && CD_SIGNITEM !== null && CD_SIGNITEM !== "undefined"){ # 
							  #: CD_SIGNITEM # 
							  # }else{ } #
			</div>
      	</td>
		<td class="ta-l" style="padding:0">
          	<div class="custom-style">
							  # if(NO_MRKITEM !== "" && NO_MRKITEM !== null && NO_MRKITEM !== "undefined"){ #
                  	    	  #: NO_MRKITEM  # 
                      	      # }else{ } #
			</div>
      	</td>
		<td class="ta-l" style="padding:0">
         	<div class="custom-style"># if(NM_ITEM !== "" && NM_ITEM !== null && NM_ITEM !== "undefined"){ #
							  #: NM_ITEM #
							  # }else{  #
							   #: "-" #
                               #}	# 
			</div>
      	</td>
		<td class="ta-l" style="padding:0">
          	<div class="custom-style"> 
							   # if(CD_ITEM !== "" && CD_ITEM !== null && CD_ITEM !== "undefined"){ #	
							   #: CD_ITEM #
							   # }else{ }	# 
			</div>
      	</td>
		<td class="ta-l" style="padding:0">
          	<div class="custom-style">
							  # if(NM_CTGR !== "" && NM_CTGR !== null && NM_CTGR !== "undefined"){ #
				    		  #: NM_CTGR #
							  # }else{  #
							  #: "-" #
                              #}	# 
			</div>
      	</td>
		<td class="ta-r" style="padding:0">
          	<div class="custom-style"> 
							  # if(AM_ITEMPRC !== "" && AM_ITEMPRC !== null && AM_ITEMPRC !== "undefined"){ #
							  #= kendo.toString(AM_ITEMPRC , 'C0', 'ko-KR') # 
							  # }else{  #
							  #: "-" #
                              #}	# 						  
			</div>
      	</td>
		<td class="ta-r" style="padding:0">
          	<div class="custom-style">
							수수료
			</div>
      	</td> 
		<td class="ta-r" style="padding:0">
          	<div class="custom-style">
						    # if(QT_SALE !== "" && QT_SALE !== null && QT_SALE !== "undefined"){ #
							#: QT_SALE #
							# }else{ #
							#: "-"   #
							# }	 	 #
			</div>
      	</td>
		<td class="ta-c" style="padding:0">
          	<div class="custom-style">
							# if(DTS_INSERT !== "" && DTS_INSERT !== null && DTS_INSERT !== "undefined"){ #	
							#: DTS_INSERT # 
							# }else{ #
							#: "-"   #
							# }	 	 #
			</div>
      	</td>
		<td class="ta-c" style="padding:0">
          	<div class="custom-style">
							# if(DTS_SALESTART !== "" && DTS_SALESTART !== null && DTS_SALESTART !== "undefined"){ #	
							#: DTS_SALESTART # 
							# }else{ }	 	 #
			</div>
      	</td>
		<td class="ta-c" style="padding:0">
          	<div class="custom-style">
							# if(DTS_SALEEND !== "" && DTS_SALEEND !== null && DTS_SALEEND !== "undefined"){ #	
							#: DTS_SALEEND # 
							# }else{ }	 	 #
			</div>
      	</td>
	</tr>			
</script>

<!-- SALESITE 조회 그리드 -->
<script id="alt_sale_template" type="text/x-kendo-template">
	<tr class="k-alt" data-uid="#= uid #" ng-dblclick="grdDblClickGo('#: NO_MRKREGITEM #')">
		<td class="ta-c">
			<div class="custom-style-checkbox">
        		<input class='k-checkbox' data-role='checkbox' type='checkbox' ng-click="onSaleGrdCkboxClick($event)" id="#= uid #_alt">
				<label class='k-checkbox-label k-no-text' style="vertical-align:middle;" for="#= uid #_alt"></label>
			</div>
      	</td>
		<td class="ta-l" style="padding:0">
          	<div class="custom-style">
							  # if(NO_MRK !== "" && NO_MRK !== null && NO_MRK !== "undefined"){ #
                  	    	  #: NO_MRK  # 
                      	      # }else{ } #
			</div>
      	</td>
		<td class="ta-l" style="padding:0">
          	<div class="custom-style">
							  # if(CD_SIGNITEM !== "" && CD_SIGNITEM !== null && CD_SIGNITEM !== "undefined"){ # 
							  #: CD_SIGNITEM # 
							  # }else{ } #
			</div>
      	</td>
		<td class="ta-l" style="padding:0">
          	<div class="custom-style">
							  # if(NO_MRKITEM !== "" && NO_MRKITEM !== null && NO_MRKITEM !== "undefined"){ #
                  	    	  #: NO_MRKITEM  # 
                      	      # }else{ } #
			</div>
      	</td>
		<td class="ta-l" style="padding:0">
         	<div class="custom-style"># if(NM_ITEM !== "" && NM_ITEM !== null && NM_ITEM !== "undefined"){ #
							  #: NM_ITEM #
							  # }else{  #
							   #: "-" #
                               #}	# 
			</div>
      	</td>
		<td class="ta-l" style="padding:0">
          	<div class="custom-style"> 
							   # if(CD_ITEM !== "" && CD_ITEM !== null && CD_ITEM !== "undefined"){ #	
							   #: CD_ITEM #
							   # }else{ }	# 
			</div>
      	</td>
		<td class="ta-l" style="padding:0">
          	<div class="custom-style">
							  # if(NM_CTGR !== "" && NM_CTGR !== null && NM_CTGR !== "undefined"){ #
				    		  #: NM_CTGR #
							  # }else{  #
							  #: "-" #
                              #}	# 
			</div>
      	</td>
		<td class="ta-r" style="padding:0">
          	<div class="custom-style"> 
							  # if(AM_ITEMPRC !== "" && AM_ITEMPRC !== null && AM_ITEMPRC !== "undefined"){ #
							  #= kendo.toString(AM_ITEMPRC , 'C0', 'ko-KR') # 
							  # }else{  #
							  #: "-" #
                              #}	# 						  
			</div>
      	</td>
		<td class="ta-r" style="padding:0">
          	<div class="custom-style">
							수수료
			</div>
      	</td> 
		<td class="ta-r" style="padding:0">
          	<div class="custom-style">
						    # if(QT_SALE !== "" && QT_SALE !== null && QT_SALE !== "undefined"){ #
							#: QT_SALE #
							# }else{ #
							#: "-"   #
							# }	 	 #
			</div>
      	</td>
		<td class="ta-c" style="padding:0">
          	<div class="custom-style">
							# if(DTS_INSERT !== "" && DTS_INSERT !== null && DTS_INSERT !== "undefined"){ #	
							#: DTS_INSERT # 
							# }else{ #
							#: "-"   #
							# }	 	 #
			</div>
      	</td>
		<td class="ta-c" style="padding:0">
          	<div class="custom-style">
							# if(DTS_SALESTART !== "" && DTS_SALESTART !== null && DTS_SALESTART !== "undefined"){ #	
							#: DTS_SALESTART # 
							# }else{ }	 	 #
			</div>
      	</td>
		<td class="ta-c" style="padding:0">
          	<div class="custom-style">
							# if(DTS_SALEEND !== "" && DTS_SALEEND !== null && DTS_SALEEND !== "undefined"){ #	
							#: DTS_SALEEND # 
							# }else{ }	 	 #
			</div>
      	</td>
	</tr>			
</script>

<!-- 그리드 툴바 템플릿 -->
<script id="sale-toolbar-template" type="text/x-kendo-template">
	<button class="k-button k-button-icontext k-grid-edit" ng-click="saleItemDataVO.saleItemGet()"><span class="k-icon k-i-edit"></span>등록된상품가져오기</button>
	<button class="k-button k-button-icontext" ng-click="saleItemDataVO.saleItemInsert()"><span class="k-icon k-i-add"></span>등록</button>
	<button class="k-button k-button-icontext k-grid-delete" ng-click="saleItemDataVO.saleItemDelete()"><span class="k-icon k-i-delete"></span>삭제</button>
</script>

<!-- 검색시 유효성 검사 경고창 -->
<script id="notificationTemplate" type="text/x-kendo-template">
	<p style="width: 19em; padding:1em; white-space:nowrap">#:kValue# {{ngValue}}</p>
</script>

<span kendo-notification="notf1" k-options="notf1Options"></span>

<style>
.not_pop_title{
	padding: 10px;
}
.k-edit-form-container{
    width: 900px;
}
.k-popup-edit-form .k-edit-label{
    width: 20%;
    text-align: left;
}
.k-popup-edit-form .k-edit-field{
    width: 70%;
}
.k-popup-edit-form .k-edit-field > .k-textbox,
.k-popup-edit-form .k-edit-field > .k-widget:not(.k-tooltip){
    width: 98%;
}
.signal{    
    width: 99%;
    margin: 5px;
}
.border-right-line{    
	border-right: 1px solid #eee;    
}
.border-top-line{	
	border-top: 1px solid #eee;
}
.border-bottom-line{	
	border-bottom: 1px solid #eee;
}
.k-edit-form-container .k-edit-buttons{
	border-style: none;
}
#example{
    min-height: 200px;
}
#example .title {
    font-weight: bold;
    margin-bottom: 25px;
}
.search-wrapper {
    width: 100%;
}
.query-match {
	color: red;
}
.select-all-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
}
.selected-count {
    float: right;
    color: #aaa;
}
.k-treeview {
    border-width: 1px!important;
    padding: 5px;
}
.selectedName {
    padding: 5px 10px;
    background: #aaa;
    color: white;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
} 
.class-target-dropdown{
	width:65%; 
	display:inline-block; 
	vertical-align:middle;
}
.class-target-button{
	width:33%; 
	display:inline-block; 
	vertical-align:middle; 
	text-align:right;
}
.ells{
	text-overflow: ellipsis; 
	white-space: nowrap; 
	overflow:hidden;
}
</style>
</div>