<div id="app-content" class="col-xs-12 col-sm-10">
    <div class="row">
        <div id="app-content-header">
            <ol class="breadcrumb">
                <li><a href="#99sy/syDashboard"><i class="fa fa-home fa-2x"></i></a></li>
                <li><a href="#03sa/saOrd">주문관리  / 주문</a></li>
            </ol>
        </div>
    </div>
    
	<div class="row">
        <!-- 주문 정보 -->
        <div class="content-area-container col-xs-12">
        	<div data-content-box-layer data-box-title="ordInfoDataVO.orderInfo.boxTitle">
        		<form class="search-type1">
	                <table>
	                	<colgroup>
	                           <col style="width: 10%;">
	                           <col style="width: 20%;">
	                           <col style="width: 10%;">
	                           <col style="width: 20%;">
	                           <col style="width: 10%;">
	                           <col style="width: 20%;">
	                       </colgroup>
	                       <tbody>
	                       	<tr>
	                       		<th>마켓명</th>
	                       		<td>{{ordInfoDataVO.ds.NM_MRK}}</td>
	                       		<th>마켓ID</th>
	                       		<td>{{ordInfoDataVO.ds.DC_MRKID}}</td>
	                       		<th>주문번호</th>
	                       		<td>{{ordInfoDataVO.ds.NO_MRKORD}}</td>
	                       	</tr>
	                       	<tr>
	                       		<th>판매자 URL</th>
	                       		<td>{{ordInfoDataVO.ds.DC_SALEMNGURL}}</td>
	                       		<th>매핑여부</th>
	                       		<td>{{ordInfoDataVO.ds.YN_CONN}}</td>
	                       		<th>주문상태</th>
	                       		<td>
	                       			<co04-cd-to-nm cd="{{ordInfoDataVO.ds.CD_ORDSTAT}}" nm-box="ordInfoDataVO.ordStatusOp">	                       			
	                       		</td>
	                       	</tr>
	                       </tbody>
	                </table>
                </form>
            </div>
        </div>        
    </div>
    
    <div class="row">
        <!-- 상품 정보  -->
        <div class="content-area-container col-xs-12">
        	<div data-content-box-layer data-box-title="ordInfoDataVO.procInfo.boxTitle">
        		<form class="search-type1">
                <table class="table-bordered">
                	<colgroup>
                           <col style="width: 10%;">
                           <col style="width: 20%;">
                           <col style="width: 10%;">
                           <col style="width: 20%;">
                           <col style="width: 10%;">
                           <col style="width: 20%;">
                       </colgroup>
                       <tbody>
                       	<tr>
                       		<th>상품코드</th>
                       		<td>{{ordInfoDataVO.ds.CD_MRKSSPL}}</td>
                       		<th>상품번호</th>
                       		<td>{{ordInfoDataVO.ds.NO_MRKITEM}}</td>
                       		<th>상품명</th>
                       		<td>{{ordInfoDataVO.ds.NM_MRKITEM}}</td>
                       	</tr>
                       	<tr>
                       		<th>추가구성</th>
                       		<td>{{ordInfoDataVO.ds.DC_MRKADDCPST}}</td>
                       		<th>사은품</th>
                       		<td>{{ordInfoDataVO.ds.DC_MRKGIFT}}</td>
                       		<th>옵션정보</th>
                       		<td>{{ordInfoDataVO.ds.NM_MRKOPT}}</td>
                       	</tr>
                       </tbody>
                </table>
                </form>
            </div>
        </div>        
    </div>
    
    <div class="row">
        <!-- 구매자 정보 -->
        <div class="content-area-container col-xs-12">
        	<div data-content-box-layer data-box-title="ordInfoDataVO.buyerInfo.boxTitle">
        		<form class="search-type1">
                <table class="table-bordered">
                	<colgroup>
                           <col style="width: 10%;">
                           <col style="width: 20%;">
                           <col style="width: 10%;">
                           <col style="width: 20%;">
                           <col style="width: 10%;">
                           <col style="width: 20%;">
                       </colgroup>
                       <tbody>
                       	<tr>
                       		<th>구매자 ID</th>
                       		<td>{{ordInfoDataVO.ds.ID_PCHR}}</td>
                       		<th>구매자 이름</th>
                       		<td>{{ordInfoDataVO.ds.NM_PCHR}}</td>
                       		<th>핸드폰 번호</th>
                       		<td>{{ordInfoDataVO.ds.NO_PCHRHDPH}}</td>
                       	</tr>
                       	<tr>
                       		<th>전화번호</th>
                       		<td>{{ordInfoDataVO.ds.NO_PCHRPHNE}}</td>
                       		<th>이메일</th>
                       		<td>{{ordInfoDataVO.ds.DC_PCHREMI}}</td>
                       		<th></th>
                       		<td></td>
                       	</tr>
                       </tbody>
                </table>
                </form>
            </div>
        </div>        
    </div>
    
    <div class="row">
        <!-- 수령인 정보 -->
        <div class="content-area-container col-xs-12">
        	<div data-content-box-layer data-box-title="ordInfoDataVO.receiveInfo.boxTitle">
        		<form class="search-type1">
                <table class="table-bordered">
                	<colgroup>
                           <col style="width: 10%;">
                           <col style="width: 20%;">
                           <col style="width: 10%;">
                           <col style="width: 20%;">
                           <col style="width: 10%;">
                           <col style="width: 20%;">
                       </colgroup>
                       <tbody>
                       	<tr>
                       		<th>이름</th>
                       		<td>{{ordInfoDataVO.ds.NM_CONS}}</td>
                       		<th>전화번호</th>
                       		<td>{{ordInfoDataVO.ds.NO_CONSPHNE}}</td>
                       		<th>핸드폰번호</th>
                       		<td>{{ordInfoDataVO.ds.NO_CONSHDPH}}</td>
                       	</tr>
                       	<tr>
                       		<th>우편번호</th>
                       		<td>{{ordInfoDataVO.ds.NO_CONSPOST}}</td>
                       		<th>배송요청 사항</th>
                       		<td colspan="3">{{ordInfoDataVO.ds.DC_PCHRREQCTT}}</td>
                       	</tr>
                       	<tr>
                       		<th>주소(도로명)</th>
                       		<td colspan="5">{{ordInfoDataVO.ds.DC_CONSNEWADDR}}</td>
                       	</tr>
                       	<tr>
                       		<th>주소(지번)</th>
                       		<td colspan="5">{{ordInfoDataVO.ds.DC_CONSOLDADDR}}</td>
                       	</tr>
                       	<tr>
                       		<th>주문시간</th>
                       		<td>{{ordInfoDataVO.ds.DTS_ORD}}</td>
                       		<th>수량</th>
                       		<td>{{ordInfoDataVO.ds.QT_ORD}}</td>
                       		<th>금액</th>
                       		<td>{{ordInfoDataVO.ds.AM_ORDSALEPRC | number:0}}</td>
                       	</tr>
                       	<tr>
                       		<th>결제번호</th>
                       		<td>{{ordInfoDataVO.ds.NO_APVL}}</td>
                       		<th>주문번호</th>
                       		<td>{{ordInfoDataVO.ds.NO_MRKORD}}</td>
                       		<th>입금일</th>
                       		<td>{{ordInfoDataVO.ds.DT_DPST}}</td>
                       	</tr>
                       </tbody>
                </table>
                </form>
            </div>
        </div>        
    </div>
    
    <div class="row">
        <!-- 배송정보 -->
        <div class="content-area-container col-xs-12">
        	<div data-content-box-layer data-box-title="ordInfoDataVO.deliveryInfo.boxTitle">
        		<form class="search-type1">
                <table class="table-bordered">
                	<colgroup>
                           <col style="width: 10%;">
                           <col style="width: 20%;">
                           <col style="width: 10%;">
                           <col style="width: 20%;">
                           <col style="width: 10%;">
                           <col style="width: 20%;">
                       </colgroup>
                       <tbody>
                       	<tr>
                       		<th>배송번호</th>
                       		<td>{{ordInfoDataVO.ds.NO_SHP}}</td>
                       		<th>배송비 결제 내용</th>
                       		<td>{{ordInfoDataVO.ds.DC_SHPCOSTAPVL}}</td>
                       		<th>배송비</th>
                       		<td>{{ordInfoDataVO.ds.AM_SHPCOST | number:0}}</td>
                       	</tr>
                       	<tr>
                       		<th>배송지연일</th>
                       		<td>{{ordInfoDataVO.ds.DTS_SHPDLY}}</td>
                       		<th>배송지연 에고일</th>
                       		<td>{{ordInfoDataVO.ds.DTS_SHPDLYFNTC}}</td>
                       		<th>배송비 상태</th>
                       		<td>{{ordInfoDataVO.ds.DC_SHPCOSTSTAT}}</td>
                       	</tr>
                       </tbody>
                </table>
                </form>
            </div>
        </div>        
    </div>
   	
	<div class="btn-group1 mt-20">
		<kendo-button type="submit" class="k-primary" title="주문확정" data-ng-click="ordInfoDataVO.doOrdConfirm()" ng-if="ordInfoDataVO.buttonHidden('002')" style="width:80px;"><span class="k-icon k-i-check"></span>주문확정</kendo-button>
		<kendo-button type="botton" title="주문취소" data-ng-click="ordInfoDataVO.ordCancelPopOptionsOpen()" ng-if="ordInfoDataVO.buttonHidden('006')" style="width:80px;"><span class="k-icon k-i-delete"></span>주문취소</kendo-button>
		<kendo-button type="botton" title="목록" data-ng-click="ordInfoDataVO.goBack()" style="width:80px;"><span class="k-icon k-i-undo"></span>목록</kendo-button>
	</div>
    
</div>

<!-- 주문 취소 팝업 div-->
<div kendo-window="win" k-options = "ordInfoDataVO.ordCancelPopOptions"></div> 
            
<!-- 주문 취소 팝업 template -->
<script id="ordinfo_popup_template" type="text/x-kendo-template">
<form id="ordercancel_form" kendo-validator="validator" ng-submit="validate($event)" k-options="myValidatorOptions">
<div class="k-edit-form-container">
<div class="not_pop_title"><h4>주문 취소 입력</h4></div>
<table class="signal">
	<colgroup>
      <col style="width: 14%;">
      <col style="width: 30%;">
      <col style="width: 14%;">
      <col style="width: 30%;">
    </colgroup>
    <tbody>	
	<tr class="border-bottom-line border-top-line">	
		<td class="border-right-line">
			마켓
		</td>
		<td class="border-right-line">
			{{ordInfoDataVO.ds.NM_MRK}}
		</td>
		<td class="border-right-line">
			주문번호
		</td>
		<td>
			{{ordInfoDataVO.ds.NO_MRKORD}}
		</td>
	</tr>
	<tr class="border-bottom-line">
		<td class="border-right-line">
			상품코드
		</td>
		<td colspan="3">
			{{ordInfoDataVO.ds.CD_MRKSSPL}}
		</td>
	</tr>
	<tr class="border-bottom-line">
		<td class="border-right-line">
			상품명
		</td>
		<td colspan="3">
			{{ordInfoDataVO.ds.NM_MRKITEM}}
		</td>
	</tr>
	<tr class="border-bottom-line">
		<td class="border-right-line">
			구매자
		</td>
		<td class="border-right-line">
			{{ordInfoDataVO.ds.NM_PCHR}}
		</td>
		<td class="border-right-line">
			배송방법
		</td>
		<td>	
			{{ordInfoDataVO.ds.DC_SHPWAY}}
		</td>
	</tr>
	<tr class="border-bottom-line">
		<td class="border-right-line">
			구매수량
		</td>
		<td colspan="3">
			{{ordInfoDataVO.ds.QT_ORD}}
		</td> 
	</tr>
	<tr class="border-bottom-line">
		<td class="border-right-line">
			<code>*</code>취소사유코드
		</td>
		<td>
			<span ng-if="ordInfoDataVO.cancelCodeOptions.dataSource">
				<select kendo-drop-down-list
					name="CD_CCLRSN"
            		k-options = "ordInfoDataVO.cancelCodeOptions"
					k-ng-model="ordInfoDataVO.inputs.CD_CCLRSN"				
					data-required-msg="취소 사유코드를 입력해 주세요."
					required
                    style="width: 100%;">
				</select>	
			</span>
		</td>
		<td colspan="2">
		</td> 
	</tr>
	<tr class="border-bottom-line">
		<td class="border-right-line">
			<code>*</code>주문취소사유
		</td>
		<td colspan="3">			
			<textarea class="k-textbox" 
					  name="DC_CCLRSNCTT" 
			 		  data-ng-model="ordInfoDataVO.inputs.DC_CCLRSNCTT"
					  data-required-msg="주문취소사유를 입력해 주세요."
					  data-lengthy-msg="주문취소사유를 1000자 이내로 입력해 주세요."
					  lengthy
					  required
					  style="width:100%; height:150px;"></textarea>
		</td> 
	</tr>
	</tbody>
</table>
<div class="k-edit-buttons k-state-default">
	<kendo-button type="submit" class="k-primary" ng-click="ordInfoDataVO.doOrdCancel()"><span class="k-icon k-i-save"></span>저장</kendo-button>
	<kendo-button type="button" ng-click="ordInfoDataVO.ordCancelPopOptionsClose()"><span class="k-icon k-i-cancel"></span>닫기</kendo-button>        
</div>	
</div>
</form>
</script>     
                       
<style>
.k-edit-form-container{
    width: 920px;
}
.k-popup-edit-form .k-edit-label{
    width: 20%;
    text-align: left;
}
.k-popup-edit-form .k-edit-field{
    width: 70%;
}
.k-popup-edit-form .k-edit-field > .k-textbox,
.k-popup-edit-form .k-edit-field > .k-widget:not(.k-tooltip){
    width: 98%;
}
.not_pop_title{
	padding: 10px;
}
.signal{    
    width: 99%;
    margin: 5px;
}
span.k-widget.k-tooltip-validation{
	position: absolute;
	margin: 3px;
	display: block;
}
</style>