<div id="app-content" class="col-xs-12 col-sm-10">
    <div class="row">
        <div id="app-content-header">
            <ol class="breadcrumb">
                <li><a href="#99sy/syDashboard"><i class="fa fa-home fa-2x"></i></a></li>
                <li><a href="#03sa/saShpStdbyOrd">주문·배송 / 배송준비 </a></li>
            </ol>
        </div>
    </div>
    
    <div class="row">
        <!-- 검색 -->
        <div class="content-area-container col-xs-12" style="margin:0px 0px -5px 0px;" id="searchId">
        	<div data-content-box-layer data-box-title="shpbyordDataVO.boxTitle" data-is-open="shpbyordDataVO.isOpen(val)">
                <form class="search-type1" id="myForm">
                	<table>
                        <colgroup>
                            <col style="width: 7%;">
                            <col style="width: 18%;">
                            <col style="width: 7%;">
                            <col style="width: 23%;">
                            <col style="width: 7%;">
                            <col style="width: 18%;">
                            <col style="width: 7%;">
                            <col style="width: 18%;">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th>마켓명</th>
                            <td>
                            	<co01-mcbox title="마켓명" model="shpbyordDataVO.ordMrkNameMo" options="shpbyordDataVO.ordMrkNameOp" setting="shpbyordDataVO.setting" style="width:100%;">
        						</co01-mcbox> 
                            </td>
                            <th>상품명</th>
                            <td>
                            	<input data-ng-model="shpbyordDataVO.procName.value"
                            			focus="shpbyordDataVO.procName.focus"
                            			title="상품명"
                            			data-eden-type="kor" 
                            			type="text" 
                            			class="form-control" style="width:100%;"/>
                            </td>		
                            <th>주문상태</th>
                            <td>            
       							<co01-mcbox id="shpbyord-status" title="주문상태" model="shpbyordDataVO.ordStatusMo" options="shpbyordDataVO.ordStatusOp" setting="shpbyordDataVO.setting"  style="width:100%;">
        						</co01-mcbox>        						
                            </td>   
                            <th>주문번호</th>
                            <td>     
					            <input data-ng-model="shpbyordDataVO.orderNo.value"
                            			focus="shpbyordDataVO.orderNo.focus"
                            			title="주문번호"
                            			data-eden-type="kor" 
                            			type="text" 
                            			class="form-control" style="width:100%;"/>
                            </td>         
                        </tr>
                        <tr>
                            <th>구매자/수취인</th>
                            <td>                            	              	
                            	<input data-ng-model="shpbyordDataVO.buyerName.value"
                            			focus="shpbyordDataVO.buyerName.focus"
                            			title="구매자/수취인"
                            			data-eden-type="kor" 
                            			type="text" 
                            			class="form-control" style="width:100%;"/>
                            </td>
                            <th></th>
                            <td></td>
                            <th></th>
                            <td></td>
                            <th></th>
                            <td></td>                            
                        </tr>
                        <tr>
                            <th>기간</th>                            
                            <td>
                            	<select ng-model="shpbyordDataVO.betweenDateOptionMo"
        								ng-options="option.CD_DEF as option.NM_DEF for option in shpbyordDataVO.betweenDateOptionOp"
        								class="form-control"
        								style="width: 100%">
        						</select>	
                            </td>
                            <td colspan="6">                            	              	
                            	<div class="frm-group" data-date-search-group="shpbyordDataVO.datesetting" style="display:inline-block;"></div>
                            </td>
                        </tr>
                        </tbody>
                    </table>         		     
                    <div class="btn-group1 mt-10">
                        <kendo-button type="submit" class="k-primary" title="검색" data-ng-click="shpbyordDataVO.inQuiry()" 
                        analytics-on="click" analytics-event="pc/click" analytics-category="배송준비" analytics-label="배송준비 조회"  
                        style="width:70px;">검색</kendo-button>
                        <kendo-button type="botton" title="초기화" data-ng-click="shpbyordDataVO.inIt()" style="width:70px;">초기화</kendo-button>
                    </div>
                </form>
            </div>
        </div>
        
        <!-- 주문 목록 -->          
		<div class="content-area-container col-xs-12" style="padding:0px 0px 0px 0px;">				
	        <div id="divShpbyordGrd" kendo-grid="shpbyordkg" options="grdShpbyordVO">
	        </div>	            
        </div>
        
        <div id="dialog-alert" kendo-dialog="win2" k-title="'주문상태 변경 오류'"
        	k-on-close="dialogVisible = false" k-width="450"
        	k-on-open="dialogVisible = true"
            k-width="600" k-height="200" k-visible="false">
            <div>
            	<span data-ng-repeat="item in shpbyordDataVO.chkOrdStatList">
            		({{item.NM_MRK}}) 의 주문번호 {{item.NO_ORD}} 상품명 {{item.NM_MRKITEM}}<span ng-if="!$last && shpbyordDataVO.chkOrdStatList.length > 1">,</span>
            	</span>
            	<br/>
				<span>의 주문상태가 변경 되어 배송정보등록이 처리 되지 않았습니다. </span><br/>
				<span>주문·배송종합 메뉴에서 해당 주문들의 주문상태를 확인 후 다시 처리해 주세요. </span><br/>
			</div>  
        </div>
    </div>
</div>

<!-- 주문 조회 그리드 툴바 템플릿 -->
<script id="shpbyord-toolbar-template" type="text/x-kendo-template">
	<div class="row">   
		<div class="col-xs-6" style="padding:0px;">   
			<div style="margin-left:15px;">
				<a class="k-button k-button-icontext k-grid-delivery-info" ng-click = "grdShpbyordVO.deliveryInfo()"><span class="k-icon k-i-add"></span>배송정보등록</a>
				<a class="k-button k-button-icontext k-grid-edit" ng-click = "grdShpbyordVO.ordCancel()"><span class="k-icon k-i-close"></span>주문취소</a>       
				<a class="k-button k-button-icontext" ng-click = "grdShpbyordVO.exportExcel()"><span class="k-icon k-i-excel"></span>Excel다운로드</a>
				<span class="text-left" style="padding-left:5px;">배송정보등록은 {{shpbyordDataVO.importCnt}}건 까지 가능합니다.</span>				
			</div>
		</div>
		<div class="col-xs-6" style="padding:0px;">
			<div style="margin-right:35px;">    
				<p class="text-right" style="margin:0px;">총  <strong>{{shpbyordDataVO.dataTotal}}</strong> 건 검색</p>
			</div>
		</div>
	</div>
</script>

<style>
#dialog-alert{
	overflow : auto !important;
}
.k-edit-form-container{
    width: 900px;
}
.k-popup-edit-form .k-edit-label{
    width: 20%;
    text-align: left;
}
.k-popup-edit-form .k-edit-field{
    width: 70%;
}
.k-popup-edit-form .k-edit-field > .k-textbox,
.k-popup-edit-form .k-edit-field > .k-widget:not(.k-tooltip){
    width: 98%;
}
#divShpbyordGrd table{
    min-width: 1300px;
}
.k-grid table tr td div.k-state-focused-custom
{
	background: #f99;
	color: #fff; 
}
.k-grid td{
    white-space: nowrap;
    text-overflow: ellipsis;
}
.k-grid-content > table > tbody > tr > td{
	text-align: left;
}
.k-popup-edit-form .k-edit-label{
    width: 20%;
    text-align: left;
}
.k-popup-edit-form .k-edit-field{
    width: 70%;
}
.k-popup-edit-form .k-edit-field > .k-textbox,
.k-popup-edit-form .k-edit-field > .k-widget:not(.k-tooltip){
    width: 98%;
}
</style>
