<div id="app-content" class="col-xs-12 col-sm-10">	
    <div class="row">
        <div id="app-content-header">
            <ol class="breadcrumb">
                <li><a href="#99sy/syDashboard"><i class="fa fa-home fa-2x"></i></a></li>
                <li><a href="#03sa/saOrd">주문관리  / 주문</a></li>
            </ol>
        </div>
    </div>
    
    <form id="ordershp_form" kendo-validator="validator" ng-submit="validate($event)" k-options="myValidatorOptions">    
	<div class="row">		
        <!-- 주문 정보 -->
        <div class="content-area-container col-xs-12">
        	<div data-content-box-layer data-box-title="ordInfoDataVO.orderInfo.boxTitle">        		
                <table class="table table-bordered">
                	   <colgroup>
                           <col style="width: 10%;">
                           <col style="width: 20%;">
                           <col style="width: 10%;">
                           <col style="width: 20%;">
                           <col style="width: 10%;">
                           <col style="width: 20%;">
                       </colgroup>
                       <tbody>
                       	<tr>
                       		<th>마켓명</th>
                       		<td>{{ordInfoDataVO.ds.NM_MRK}}</td>
                       		<th>마켓ID</th>
                       		<td>{{ordInfoDataVO.ds.DC_MRKID}}</td>
                       		<th>주문번호</th>
                       		<td>{{ordInfoDataVO.ds.NO_MRKORD}}</td>
                       	</tr>
                       	<tr>
                       		<th>판매자 URL</th>
                       		<td>{{ordInfoDataVO.ds.DC_SALEMNGURL}}</td>
                       		<th>매핑여부</th>
                       		<td>{{ordInfoDataVO.ds.YN_CONN}}</td>
                       		<th>주문상태</th>
                       		<td>
                       			<co04-cd-to-nm cd="{{ordInfoDataVO.ds.CD_ORDSTAT}}" nm-box="ordInfoDataVO.ordStatusOp">                       			                		
                       		</td>
                       	</tr>
                       </tbody>
                </table>                
            </div>
        </div>        
    </div>
    
    <div class="row">
        <!-- 상품 정보  -->
        <div class="content-area-container col-xs-12">
        	<div data-content-box-layer data-box-title="ordInfoDataVO.procInfo.boxTitle">
                <table class="table table-bordered">
                	<colgroup>
                           <col style="width: 10%;">
                           <col style="width: 20%;">
                           <col style="width: 10%;">
                           <col style="width: 20%;">
                           <col style="width: 10%;">
                           <col style="width: 20%;">
                       </colgroup>
                       <tbody>
                       	<tr>
                       		<th>상품코드</th>
                       		<td>{{ordInfoDataVO.ds.CD_MRKSSPL}}</td>
                       		<th>상품번호</th>
                       		<td>{{ordInfoDataVO.ds.NO_MRKITEM}}</td>
                       		<th>상품명</th>
                       		<td>{{ordInfoDataVO.ds.NM_MRKITEM}}</td>
                       	</tr>
                       	<tr>
                       		<th>추가구성</th>
                       		<td>{{ordInfoDataVO.ds.DC_MRKADDCPST}}</td>
                       		<th>사은품</th>
                       		<td>{{ordInfoDataVO.ds.DC_MRKGIFT}}</td>
                       		<th>옵션정보</th>
                       		<td>{{ordInfoDataVO.ds.NM_MRKOPT}}</td>
                       	</tr>
                       </tbody>
                </table>
            </div>
        </div>        
    </div>
    
    <div class="row">
        <!-- 구매자 정보 -->
        <div class="content-area-container col-xs-12">
        	<div data-content-box-layer data-box-title="ordInfoDataVO.buyerInfo.boxTitle">
                <table class="table table-bordered">
                	<colgroup>
                           <col style="width: 10%;">
                           <col style="width: 20%;">
                           <col style="width: 10%;">
                           <col style="width: 20%;">
                           <col style="width: 10%;">
                           <col style="width: 20%;">
                       </colgroup>
                       <tbody>
                       	<tr>
                       		<th>구매자 ID</th>
                       		<td>{{ordInfoDataVO.ds.ID_PCHR}}</td>
                       		<th>구매자 이름</th>
                       		<td>{{ordInfoDataVO.ds.NM_PCHR}}</td>
                       		<th>핸드폰 번호</th>
                       		<td>{{ordInfoDataVO.ds.NO_PCHRHDPH}}</td>
                       	</tr>
                       	<tr>
                       		<th>전화번호</th>
                       		<td>{{ordInfoDataVO.ds.NO_PCHRPHNE}}</td>
                       		<th>이메일</th>
                       		<td>{{ordInfoDataVO.ds.DC_PCHREMI}}</td>
                       		<th></th>
                       		<td></td>
                       	</tr>
                       </tbody>
                </table>
            </div>
        </div>        
    </div>
    
    <div class="row">
        <!-- 수령인 정보 -->
        <div class="content-area-container col-xs-12">
        	<div data-content-box-layer data-box-title="ordInfoDataVO.receiveInfo.boxTitle">
                <table class="table table-bordered">
                	<colgroup>
                           <col style="width: 10%;">
                           <col style="width: 20%;">
                           <col style="width: 10%;">
                           <col style="width: 20%;">
                           <col style="width: 10%;">
                           <col style="width: 20%;">
                       </colgroup>
                       <tbody>
                       	<tr>
                       		<th>이름</th>
                       		<td>{{ordInfoDataVO.ds.NM_CONS}}</td>
                       		<th>전화번호</th>
                       		<td>{{ordInfoDataVO.ds.NO_CONSPHNE}}</td>
                       		<th>핸드폰번호</th>
                       		<td>{{ordInfoDataVO.ds.NO_CONSHDPH}}</td>
                       	</tr>
                       	<tr>
                       		<th>우편번호</th>
                       		<td>{{ordInfoDataVO.ds.NO_CONSPOST}}</td>
                       		<th>배송요청 사항</th>
                       		<td colspan="3">{{ordInfoDataVO.ds.DC_PCHRREQCTT}}</td>
                       	</tr>
                       	<tr>
                       		<th>주소(도로명)</th>
                       		<td colspan="5">{{ordInfoDataVO.ds.DC_CONSNEWADDR}}</td>
                       	</tr>
                       	<tr>
                       		<th>주소(지번)</th>
                       		<td colspan="5">{{ordInfoDataVO.ds.DC_CONSOLDADDR}}</td>
                       	</tr>
                       	<tr>
                       		<th>주문시간</th>
                       		<td>{{ordInfoDataVO.ds.DTS_ORD}}</td>
                       		<th>수량</th>
                       		<td>{{ordInfoDataVO.ds.QT_ORD}}</td>
                       		<th>금액</th>
                       		<td>
                       			<kendo-custom-currency-directive val="{{ordInfoDataVO.ds.AM_ORDSALEPRC}}" decimal="c"/>
                       		</td>
                       	</tr>
                       	<tr>
                       		<th>결제번호</th>
                       		<td>{{ordInfoDataVO.ds.NO_APVL}}</td>
                       		<th>주문번호</th>
                       		<td>{{ordInfoDataVO.ds.NO_MRKORD}}</td>
                       		<th>입금일</th>
                       		<td>{{ordInfoDataVO.ds.DT_DPST}}</td>
                       	</tr>
                       </tbody>
                </table>
            </div>
        </div>        
    </div>
    
    <div class="row">
        <!-- 배송정보 -->
        <div class="content-area-container col-xs-12">
        	<div data-content-box-layer data-box-title="ordInfoDataVO.deliveryInfo.boxTitle">
                <table class="table table-bordered">
                	<colgroup>
                           <col style="width: 10%;">
                           <col style="width: 20%;">
                           <col style="width: 10%;">
                           <col style="width: 20%;">
                           <col style="width: 10%;">
                           <col style="width: 20%;">
                       </colgroup>
                       <tbody>
                       	<tr>
                       		<th>배송번호</th>
                       		<td>{{ordInfoDataVO.ds.NO_SHP}}</td>
                       		<th>배송비 결제 내용</th>
                       		<td>{{ordInfoDataVO.ds.DC_SHPCOSTAPVL}}</td>
                       		<th>배송비</th>
                       		<td>                			
                       			<kendo-custom-currency-directive val="{{ordInfoDataVO.ds.AM_SHPCOST}}" decimal="c"/>
                       		</td>
                       	</tr>
                       	<tr>
                       		<th>배송지연일</th>
                       		<td>{{ordInfoDataVO.ds.DTS_SHPDLY}}</td>
                       		<th>배송지연 에고일</th>
                       		<td>{{ordInfoDataVO.ds.DTS_SHPDLYFNTC}}</td>
                       		<th>배송비 상태</th>
                       		<td>{{ordInfoDataVO.ds.DC_SHPCOSTSTAT}}</td>
                       	</tr>
                       	<tr>
                       		<th>택배사</th>
                       		<td>
                       			<!-- <input id="dropdownlist" 
                       					name="CD_PARS"
                       					ng-model="ordInfoDataVO.inputs.CD_PARS" 
                       					style="width: 100%;" 
                       					data-required-msg="택배사를 선택해 주세요."
                       					required /> -->		
                       			<select 
                       				id="CD_PARS"
                       				name="CD_PARS"                       				 
						            kendo-drop-down-list style="width: 100%"
						            k-option-label="'-- 택배사를 선택해 주세요 --'"
						            k-options="ordInfoDataVO.shpCodeOptions"
						            k-ng-model="ordInfoDataVO.ds.CD_PARS"
						            data-required-msg="택배사를 선택해 주세요."				            
                       				required >
                       			</select>	
                       			<span class="k-invalid-msg" data-for="CD_PARS"></span>
							</td>
                       		<th>송장번호</th>
                       		<td>
                       			<input type="text" 
                       				name="NO_INVO" 
                       				ng-model="ordInfoDataVO.ds.NO_INVO" 
                       				class="k-textbox" 
                       				data-eden-type="kor"
                       				style="width: 100%;" 
									data-required-msg="송장번호를 입력해 주세요."
									data-lengthy-msg="송장번호를 100자 이내로 입력해 주세요."
									lengthy required />
								<span class="k-invalid-msg" data-for="NO_INVO"></span>	
                       		</td>
                       		<th></th>
                       		<td></td>
                       	</tr>
                       </tbody>
                </table>
            </div>
        </div>        
    </div>
   	   	
	<div class="btn-group1 mt-20 mb-20">		
		<kendo-button type="button" ng-click="ordInfoDataVO.shpOutPrint()" style="width:120px;"><span class="k-icon k-i-update"></span>송장출력</kendo-button>
		<kendo-button type="submit" ng-click="ordInfoDataVO.shpInfoReg()" style="width:120px;"><span class="k-icon k-i-add"></span>배송정보등록</kendo-button>        
		<kendo-button type="submit" ng-click="ordInfoDataVO.shpInfoSend()" style="width:120px;"><span class="k-icon k-i-redo"></span>배송정보전송</kendo-button>
		<kendo-button type="button" ng-click="ordInfoDataVO.goBack()" style="width:80px;">목록</kendo-button>   
	</div>
	
	</form>  
</div>

<style>
span.k-widget.k-tooltip-validation{
	position: absolute;
	margin: 3px;
	display: block;
}
table > tbody > tr> th{
    background-color: #63CC9E;
    border-color: rgba(0, 0, 0, 0.3);
    color: #f8f8f8;
}    
</style>