<div id="app-content" class="col-xs-12 col-sm-10">
    <div class="row">
        <div id="app-content-header">
            <ol class="breadcrumb">
                <li><a href="#99sy/syDashboard"><i class="fa fa-home fa-2x"></i></a></li>
                <li><a href="#03sa/saShpStdbyOrd">주문·배송 / 주문  / 배송대기&nbsp;주문관리</a></li>
            </ol>
        </div>
    </div>
    
    <div class="row">
        <!-- 검색 -->
        <div class="content-area-container col-xs-12" style="margin:0px 0px -5px 0px;">
        	<div data-content-box-layer data-box-title="shpbyordDataVO.boxTitle" data-is-open="shpbyordDataVO.isOpen(val)">
                <form class="search-type1" id="myForm">
                	<table>
                        <colgroup>
                            <col style="width: 7%;">
                            <col style="width: 18%;">
                            <col style="width: 7%;">
                            <col style="width: 23%;">
                            <col style="width: 7%;">
                            <col style="width: 18%;">
                            <col style="width: 7%;">
                            <col style="width: 18%;">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th>마켓명</th>
                            <td>
                            	<co01-mcbox title="마켓명" model="shpbyordDataVO.ordMrkNameMo" options="shpbyordDataVO.ordMrkNameOp" setting="shpbyordDataVO.setting" style="width:100%;">
        						</co01-mcbox> 
                            </td>
                            <th>상품명</th>
                            <td>
                            	<input data-ng-model="shpbyordDataVO.procName.value"
                            			focus="shpbyordDataVO.procName.focus"
                            			title="상품명"
                            			data-eden-type="kor" 
                            			type="text" 
                            			class="form-control" style="width:100%;"/>
                            </td>		
                            <th>주문상태</th>
                            <td>            
       							<co01-mcbox id="shpbyord-status" title="주문상태" model="shpbyordDataVO.ordStatusMo" options="shpbyordDataVO.ordStatusOp" setting="shpbyordDataVO.setting"  style="width:100%;">
        						</co01-mcbox>        						
                            </td>   
                            <th>주문번호</th>
                            <td>     
					            <input data-ng-model="shpbyordDataVO.orderNo.value"
                            			focus="shpbyordDataVO.orderNo.focus"
                            			title="주문번호"
                            			data-eden-type="kor" 
                            			type="text" 
                            			class="form-control" style="width:100%;"/>
                            </td>         
                        </tr>
                        <tr>
                            <th>구매자/수취인</th>
                            <td>                            	              	
                            	<input data-ng-model="shpbyordDataVO.buyerName.value"
                            			focus="shpbyordDataVO.buyerName.focus"
                            			title="구매자/수취인"
                            			data-eden-type="kor" 
                            			type="text" 
                            			class="form-control" style="width:100%;"/>
                            </td>
                            <th></th>
                            <td></td>
                            <th></th>
                            <td></td>
                            <th></th>
                            <td></td>                            
                        </tr>
                        <tr>
                            <th>기간</th>                            
                            <td>
                            	<select ng-model="shpbyordDataVO.betweenDateOptionMo"
        								ng-options="option.CD_DEF as option.NM_DEF for option in shpbyordDataVO.betweenDateOptionOp"
        								class="form-control"
        								style="width: 100%">
        						</select>	
                            </td>
                            <td colspan="6">                            	              	
                            	<div class="frm-group" data-date-search-group="shpbyordDataVO.datesetting" style="display:inline-block;"></div>
                            </td>
                        </tr>
                        </tbody>
                    </table>         		     
                    <div class="btn-group1 mt-10">
                        <kendo-button type="submit" class="k-primary" title="검색" data-ng-click="shpbyordDataVO.inQuiry()" style="width:70px;">검색</kendo-button>
                        <kendo-button type="botton" title="초기화" data-ng-click="shpbyordDataVO.inIt()" style="width:70px;">초기화</kendo-button>
                    </div>
                </form>
            </div>
        </div>
        
        <!-- 주문 목록 -->          
		<div class="content-area-container col-xs-12" style="padding:0px 0px 0px 0px;">				
	        <div id="divShpbyordGrd" kendo-grid="shpbyordkg" options="grdShpbyordVO">
	        </div>	            
        </div>
    </div>
</div>

<!-- 주문 조회 그리드 툴바 템플릿 -->
<script id="shpbyord-toolbar-template" type="text/x-kendo-template">
	<div class="row">   
		<div class="col-xs-4" style="padding:0px;">   
			<div style="margin-left:15px;">
				<a class="k-button k-button-icontext k-grid-delivery-info" ng-click = "grdShpbyordVO.deliveryInfo()"><span class="k-icon k-i-add"></span>배송정보등록</a>
				<a class="k-button k-button-icontext k-grid-edit" ng-click = "grdShpbyordVO.ordCancel()"><span class="k-icon k-i-close"></span>주문취소</a>       
				<a class="k-button k-button-icontext" ng-click = "grdShpbyordVO.exportExcel()"><span class="k-icon k-i-excel"></span>Excel다운로드</a>
			</div>
		</div>
		<div class="col-xs-8" style="padding:0px;">
			<div style="margin-right:35px;">    
				<p class="text-right" style="margin:0px;">총  <strong>{{shpbyordDataVO.dataTotal}}</strong> 건 검색</p>
			</div>
		</div>
	</div>
</script>

<!-- 주문 조회 그리드 -->
<script id="shpbyord-template" type="text/x-kendo-template">
  	<tr data-uid="#= uid #">
		<td class="ta-c">
        	<input class='k-checkbox' data-role='checkbox' type='checkbox' ng-click="onOrdGrdCkboxClick($event)" id="#= uid #_alt">
			<label class='k-checkbox-label k-no-text' for="#= uid #_alt"></label>
      	</td>
		<!-- 관리번호 -->
		<td class="ta-l">
				# if(NO_ORD){ # 
				#: NO_ORD 	# 
				# }	#
      	</td>
		<!-- 마켓명 -->
		<td class="ta-l">
				# if(NM_MRK){ #
                #: NM_MRK  	# 
		        # } 	#
		</td>
		<!-- 결제번호 -->	
		<td class="ta-l">
				# if(NO_APVL){ # 
				#: NO_APVL 	 # 
				# }#
      	</td>	
		<!-- 주문번호 -->			
		<td class="ta-l">
				# if(NO_MRKORD){  # 
				#: NO_MRKORD 	  # 
				# }		#
      	</td>
		<!-- 마켓상품번호 -->	
		<td class="ta-l">
				# if(NO_MRKITEM){ #
          	    #: NO_MRKITEM # 
                # }   #			
		</td>	
		<!-- 상품명 / 옵션(상품구성) NM_MRKOPT / 주문 수량-->
		<td class="ta-l">
				# if(NM_MRKITEM ){ #
				#: NM_MRKITEM #
				# } #
				# if(NM_MRKOPT){ #	
				&nbsp;(#: NM_MRKOPT #)
				# }	# 	
				# if(QT_ORD){ 	#
				&nbsp;/&nbsp;#: QT_ORD # 개 
				# } 	#
		</td>
		<!-- 주문일시 -->
		<td class="ta-l">	
				# if(DTS_ORD){ # 
				#: DTS_ORD 	 # 
				# }else{ }  #  
      	</td>
		<!-- 택배사 -->
		<td class="ta-l">		
		</td>
		<!-- 송장번호 -->
		<td class="ta-l">		
				# if(NO_INVO){ #
				<span>#: NO_INVO #</span>
				# } #						
      	</td>
		<!-- 구매자 (수취인 /NM_CONS) -->
		<td class="ta-c">
				# if(NM_PCHR){ #
				#: NM_PCHR 	   #
				# }	   # 
				# if(NM_CONS){ #
				(#: NM_CONS #)
				# } #
		</td>
		<!-- 휴대전화 (전화번호  / NO_PCHRPHNE) -->
		<td class="ta-l">
				# if(NO_CONSHDPH){ #
				#: NO_CONSHDPH # 
				# }	 #	
				# if(NO_PCHRPHNE){ #					  
				(#: NO_PCHRPHNE #)		
				# }	 #			
		</td>
		<!-- 주소1 (주소2 /DC_CONSOLDADDR) -->
		<td class="ta-l">
				# if(DC_CONSNEWADDR){ #
				#: DC_CONSNEWADDR 	  # 
				# }	 	      #
				# if(DC_CONSOLDADDR){ #	
				(#: DC_CONSOLDADDR   #) 
				# }          #		
      	</td> 	
		<!-- 상품번호 -->	
		<td class="ta-l">
				# if(NO_MRKREGITEM){ #
				#: NO_MRKREGITEM # 
				# }   #
      	</td>	
		<!-- 판매가 -->	
		<td class="ta-r">
				# if(AM_ORDSALEPRC){ #
				#= kendo.toString(AM_ORDSALEPRC,'C0', 'ko-KR') #
    			# }else{ #
				   0
				#}#
		</td>
		<!-- 구입가 -->	
		<td class="ta-r">
				# if(AM_PCHSPRC){ #
				#= kendo.toString(AM_PCHSPRC,'C0', 'ko-KR') #
				# }else{ #
				   0
				#}#
      	</td>		
		<!-- 이메일 -->			
		<td class="ta-l">
				# if(DC_PCHREMI){ #
				#: DC_PCHREMI 	  #
				# }  			  #
		</td> 
		<!-- 요청내용 -->	
		<td class="ta-l">
				# if(DC_PCHRREQCTT){ #
				#: DC_PCHRREQCTT 	 #
				# } 				 #
		</td>
		<!-- 주문상태-->
		<td class="ta-l">
				# if(CD_ORDSTAT){ #
				<co04-cd-to-nm cd="#:CD_ORDSTAT#" nm-box="shpbyordDataVO.ordStatusOp">
				# }	   #
		</td>
		<!-- 배송방법 -->
		<td class="ta-l">	
				# if(DC_SHPWAY){ #  
				#: DC_SHPWAY # 
				# }	 #
      	</td>
		<!-- 주문확정일시 -->
		<td class="ta-c">
				# if(DTS_APVL){ #
				#: DTS_APVL 	#
				# }		#				
		</td>		
		<!-- 연동구분 -->
		<td class="ta-l">	
				# if(YN_CONN){ #
				#: YN_CONN 	 #
				# }	 #
		</td>
	</tr>			
</script>

<!-- 주문 취소 팝업 -->
<script id="ord_popup_template" type="text/x-kendo-template">
<div class="not_pop_title"><h4>주문 취소 입력</h4></div>
<table class="table signal">
	<colgroup>
      <col style="width: 14%;">
      <col style="width: 30%;">
      <col style="width: 14%;">
      <col style="width: 30%;">
    </colgroup>
    <tbody data-uid="#= uid #">	
	<tr class="border-bottom-line border-top-line">	
		<td class="active border-right-line">
			마켓
		</td>
		<td class="border-right-line">
			#if(NM_MRK){ #
			#: NM_MRK #
			#}#
		</td>
		<td class="active border-right-line">
			주문번호
		</td>
		<td>
			#if(NO_MRKORD){ #
			#: NO_MRKORD #
			#}#
		</td>
	</tr>
	<tr class="border-bottom-line">
		<td class="active border-right-line">
			상품코드
		</td>
		<td colspan="3">
			#if(NO_MRKITEM){ #
			#: NO_MRKITEM #
			#}#	
		</td>
	</tr>
	<tr class="border-bottom-line">
		<td class="active border-right-line">
			상품명
		</td>
		<td colspan="3">
			#if(NM_MRKITEM){ #
			#: NM_MRKITEM #
			#}#
		</td>
	</tr>
	<tr class="border-bottom-line">
		<td class="active border-right-line">
			구매자
		</td>
		<td class="border-right-line">
			#if(NM_PCHR){ #
			#: NM_PCHR #
			#}#	
		</td>
		<td class="active border-right-line">
			배송방법
		</td>
		<td>
			#if(DC_SHPWAY){ #
			#: DC_SHPWAY #
			#}#			
		</td>
	</tr>
	<tr class="border-bottom-line">
		<td class="active border-right-line">
			구매수량
		</td>
		<td class="ta-r">
			#if(QT_ORD){ #
			#: QT_ORD #
			#}#

		<td class="active border-right-line">
		</td>
		<td>
		</td>
	</tr>
	<tr class="border-bottom-line">
		<td class="active border-right-line">
			<code>*</code>취소사유코드
		</td>
		<td>
			<select kendo-drop-down-list
                k-options="shpbyordDataVO.cancelCodeOp"
				name="CD_CCLRSN"
				data-bind="value: CD_CCLRSN"
                style="width: 100%">
			</select>
		</td>
		<td colspan="2">
		</td> 
	</tr>
	<tr class="border-bottom-line">
		<td class="active border-right-line">
			<code>*</code>주문취소사유
		</td>
		<td colspan="3">			
			<textarea class="k-textbox" name="DC_CCLRSNCTT" data-bind="value: DC_CCLRSNCTT" style="width:100%; height:150px;"></textarea>
		</td> 
	</tr>
	</tbody>
</table>
</script>

<style>
.k-edit-form-container{
    width: 900px;
}
.k-popup-edit-form .k-edit-label{
    width: 20%;
    text-align: left;
}
.k-popup-edit-form .k-edit-field{
    width: 70%;
}
.k-popup-edit-form .k-edit-field > .k-textbox,
.k-popup-edit-form .k-edit-field > .k-widget:not(.k-tooltip){
    width: 98%;
}
#divShpbyordGrd table{
    min-width: 1300px;
}
.k-grid table tr td div.k-state-focused-custom
{
	background: #f99;
	color: #fff; 
}
.k-grid td{
    white-space: nowrap;
    text-overflow: ellipsis;
}
.k-grid-content > table > tbody > tr > td{
	text-align: left;
}
.k-grid-content > table > tbody > tr > td:nth-child(1) {
	text-align: center;
}
.k-grid-content > table > tbody > tr > td:nth-child(8) {
	text-align: center;
}
.k-grid-content > table > tbody > tr > td:nth-child(13) {
	text-align: center;
}
.k-grid-content > table > tbody > tr > td:nth-child(15) {
	text-align: center;
}
.k-grid-content > table > tbody > tr > td:nth-child(16) {
	text-align: right;
}
.k-grid-content > table > tbody > tr > td:nth-child(17) {
	text-align: right;
}
.k-grid-content > table > tbody > tr > td:nth-child(18) {
	text-align: right;
}
.k-grid-content > table > tbody > tr > td:nth-child(21) {
	text-align: center;
}
.k-popup-edit-form .k-edit-label{
    width: 20%;
    text-align: left;
}
.k-popup-edit-form .k-edit-field{
    width: 70%;
}
.k-popup-edit-form .k-edit-field > .k-textbox,
.k-popup-edit-form .k-edit-field > .k-widget:not(.k-tooltip){
    width: 98%;
}
.div-rows{
	border-bottom: solid 1px #bbdceb;	
}
.not_pop_title{
	padding: 10px;
}
.signal{    
    width: 99%;
    margin: 5px;
}
</style>
