	<div class="navttt main-menutt" kendo-tab-strip k-content-urls="[null,null]">
		<ul style="height: 35px;">
			<li style="height: 34px" ng-click="onFavorites()">즐겨찾기</li>
			<li class="k-state-active" style="height: 34px" ng-click="onMenu()">메&nbsp뉴</li>
		</ul>
		<div style="padding: 1em; height: 800px;">
			<ul class="nav main-menu">
				<li ng-repeat="menu in favoritesList" ng-class="{'dropdown': menu._children.length > 0, opened: menu.active}">
					<a ng-if="menu._children.length == 0" 
					   ui-sref="{{menu.path}}" 
					   title="{{menu.name}}" 
					   ng-class="{'active-parent active': menu.active}" 
					   ng-style="{'padding-left': menu.depth * 5 + 'px'}">
					    <div class="{{menu.hasMenu}}" id="{{menu.entity.NO_M}}" p-id="{{menu.entity.ID_M_P}}">
							<i class="fa fa-pencil-square-o"></i>&nbsp;<span>{{menu.name}}</span>
						</div>
					</a>
					<a ng-if="menu._children.length > 0" 
					   class="dropdown-toggle" 
					   href="#" 
					   title="{{menu.name}}" 
					   ng-class="{'active-parent active': menu.active}" 
					   ng-style="{'padding-left': menu.depth * 5 + 'px'}">
					    <div class="{{menu.hasMenu}}" id="{{menu.entity.NO_M}}" p-id="{{menu.entity.ID_M_P}}">
							<i class="fa fa-pencil-square-o"></i>&nbsp;<span>{{menu.name}}</span>
						</div>
					</a>
					<ul ng-if="menu._children.length > 0" menu-node="menu._children" class="dropdown-menu"></ul>
				</li>
			</ul>
		</div>
		<div style="padding: 1em; height: 800px;">
			<ul class="nav main-menu">
				<li ng-repeat="menu in menuList" ng-class="{'dropdown': menu._children.length > 0, opened: menu.active}">
					<!-- <div class="{{menu.hasMenu}}" id="{{menu.entity.NO_M}}"> -->
					<a ng-if="menu._children.length == 0" 
					   ui-sref="{{menu.path}}" 
					   title="{{menu.name}}" 
					   ng-class="{'active-parent active': menu.active}" 
					   ng-style="{'padding-left': menu.depth * 5 + 'px'}">
					    <div class="{{menu.hasMenu}}" id="{{menu.entity.NO_M}}">
							<i class="fa {{menu.className}}"></i>&nbsp;<span>{{menu.name}}</span>
						</div>
					</a>
					<a ng-if="menu._children.length > 0" 
					   class="dropdown-toggle" 
					   href="#" 
					   title="{{menu.name}}" 
					   ng-class="{'active-parent active': menu.active}" 
					   ng-style="{'padding-left': menu.depth * 5 + 'px'}">
						<i class="fa {{menu.className}}"></i>&nbsp;<span>{{menu.name}}</span>
					</a>
					<ul ng-if="menu._children.length > 0" menu-node="menu._children" class="dropdown-menu"></ul>
				</li>
			</ul>
		</div>
	</div>

<ul kendo-context-menu 
	k-filter="'.hasGroupMenu'" 
	k-on-open="menuOpen = menuOpen + 1" 
	k-on-close="menuOpen = menuOpen - 1" 
	k-on-select="onSelect(kendoEvent)"> 
	<li id="changeNm">이름변경</li> 
	<li>그룹변경 
		<ul> 
			<li ng-repeat="group in groupList" id="{{group.NO_MYGRP}}" class="k-item k-state-default k-first k-last" role="menuitem"><span class="k-link">{{group.NM_MYGRP}}</span></li>
		</ul> 
	</li> 
	<li id="deleteThis">삭제</li> 
</ul>
<ul kendo-context-menu 
	k-filter="'.hasMenu'" 
	k-on-open="menuOpen = menuOpen + 1" 
	k-on-close="menuOpen = menuOpen - 1" 
	k-on-select="onSelect(kendoEvent)"> 
	<li>즐겨찾기등록 
		<ul> 
			<li ng-repeat="group in groupList" id="{{group.NO_MYGRP}}" class="k-item k-state-default k-first k-last" role="menuitem"><span class="k-link">{{group.NM_MYGRP}}</span></li> 
			'&nbsp;-------------
			<li id="newGroup">새그룹 등록</li> 
		</ul> 
	</li> 
</ul>
