<div id="app-content" class="col-xs-12 col-sm-10">
    <div class="row">
        <div id="app-content-header">
            <ol class="breadcrumb">
                <li><a href="#99sy/syDashboard"><i class="fa fa-home fa-2x"></i></a></li>
                <li><a href="#03sa/saShpStdbyOrd">주문·배송 / 배송준비 &nbsp;Import</a></li>
            </ol>
        </div>
    </div>
    <div class="row">
        <!-- 주문 목록 -->          
		<div class="content-area-container col-xs-12" style="padding:0px 0px 0px 0px;" id="searchId">	
	        <div id="divShpbyordGrd" kendo-grid="shpbyordekg" options="grdShpbyordVO">
	        </div>	            
        </div>
    </div>
</div>

<!-- 주문 조회 그리드 툴바 템플릿 -->
<script id="shpbyord-toolbar-template" type="text/x-kendo-template">
	<div class="row">   
		<div class="col-xs-8" style="padding:0px;">   
			<div style="margin-left:15px;">
				<div style="width:103px;float:left;">
					<a class="k-button k-button-icontext k-grid-delivery-info" ng-click = "shpbyordDataVO.excelExecute()"
                        	analytics-on="click" analytics-event="pc/click" analytics-category="배송준비 Import 주문" analytics-label="배송준비 Import 클릭"><span class="k-icon k-i-add"></span>배송정보등록</a> 
				</div>
				<div style="width:300px;float:left;">
					<input name="files" id="files"
		                   type="file"
		                   kendo-upload
		                   k-async="{ saveUrl: '{{shpbyordDataVO.url}}/sa08ShpImp/excelUpload',  autoUpload: true }"
		                   k-complete="onComplete"
		                   k-multiple="false"
		                   k-validation="{allowedExtensions:['.xlsx']}"
		                   k-localization="{ invalidFileExtension: '엑셀파일이 아닙니다.', select: 'Excel로딩'}"
		        	/>
				</div>
				<span style="padding: 10px; vertical-align: middle;">배송정보등록은 {{shpbyordDataVO.importCnt}}건 까지 가능합니다.</span>
			</div>
		</div>
		<div class="col-xs-4" style="padding:0px;">
			<div style="margin-right:35px;">    
				<p class="text-right" style="margin:0px;">총  <strong>{{shpbyordDataVO.dataTotal}}</strong> 건 검색</p>
			</div>
		</div>
	</div>
</script>

<!-- 주문 조회 그리드 -->
<script id="shpbyord-template" type="text/x-kendo-template">
  	<tr data-uid="#= uid #" ng-dblclick="grdDblClickGo('#: NO_ORD #','#: NO_MRKORD #')">
		<td class="ta-c">
			<label class='k-checkbox-label k-no-text' for="#= uid #_alt"></label>
      	</td>
		<!-- 관리번호 -->
		<td class="ta-l">
				# if(NO_ORD){ # 
				#: NO_ORD 	# 
				# }	#
      	</td>
		<!-- 마켓명 -->
		<td class="ta-l">
				# if(NM_MRK){ #
                #: NM_MRK  	# 
		        # } 	#
		</td>
		<!-- 결제번호 -->	
		<td class="ta-l">
				# if(NO_APVL){ # 
				#: NO_APVL 	 # 
				# }#
      	</td>	
		<!-- 주문번호 -->			
		<td class="ta-l">
				# if(NO_MRKORD){  # 
				#: NO_MRKORD 	  # 
				# }		#
      	</td>
		<!-- 마켓상품번호 -->	
		<td class="ta-l">
				# if(NO_MRKITEM){ #
          	    #: NO_MRKITEM # 
                # }   #			
		</td>	
		<!-- 상품명 / 옵션(상품구성) NM_MRKOPT / 주문 수량-->
		<td class="ta-l">
				# if(NM_MRKITEM){ #
				#: NM_MRKITEM #
				# } #
				# if(NM_MRKOPT){ #	
				&nbsp;(#: NM_MRKOPT #)
				# }	# 	
				# if(QT_ORD){ 	#
				&nbsp;/&nbsp;#: QT_ORD # 개 
				# } 	#
		</td>
		<!-- 주문일시 -->
		<td class="ta-l">	
				# if(DTS_ORD){ # 
				#: DTS_ORD 	 # 
				# }else{ }  #  
      	</td>
		<!-- 택배사 -->
		<td class="ta-l">		
		</td>
		<!-- 송장번호 -->
		<td class="ta-l">		
				# if(NO_INVO){ #
				<span>#: NO_INVO #</span>
				# } #						
      	</td>
		<!-- 구매자 (수취인 /NM_CONS) -->
		<td class="ta-c">
				# if(NM_PCHR){ #
				#: NM_PCHR 	   #
				# }	   # 
				# if(NM_CONS){ #
				(#: NM_CONS #)
				# } #
		</td>
		<!-- 휴대전화 (전화번호  / NO_PCHRPHNE) -->
		<td class="ta-l">
				# if(NO_CONSHDPH){ #
				#: NO_CONSHDPH # 
				# }	 #	
				# if(NO_PCHRPHNE){ #					  
				(#: NO_PCHRPHNE #)		
				# }	 #			
		</td>
		<!-- 주소1 (주소2 /DC_CONSOLDADDR) -->
		<td class="ta-l">
				# if(DC_CONSNEWADDR){ #
				#: DC_CONSNEWADDR 	  # 
				# }	 	      #
				# if(DC_CONSOLDADDR){ #	
				(#: DC_CONSOLDADDR   #) 
				# }          #		
      	</td> 	
		<!-- 상품번호 -->	
		<td class="ta-l">
				# if(NO_MRKREGITEM){ #
				#: NO_MRKREGITEM # 
				# }   #
      	</td>	
		<!-- 판매가 -->	
		<td class="ta-r">
				# if(AM_ORDSALEPRC){ #
				#= kendo.toString(AM_ORDSALEPRC,'C0', 'ko-KR') #
    			# }else{ #
				   0
				#}#
		</td>
		<!-- 주문상태-->
		<td class="ta-l">
				# if(CD_ORDSTAT){ #
				<co04-cd-to-nm cd="#:CD_ORDSTAT#" nm-box="shpbyordDataVO.ordStatusOp">
				# }	   #
		</td>
		<!-- 배송방법 -->
		<td class="ta-l">	
				# if(DC_SHPWAY){ #  
				#: DC_SHPWAY # 
				# }	 #
      	</td>
		<!-- 주문확정일시 -->
		<td class="ta-c">
				# if(DTS_APVL){ #
				#: DTS_APVL 	#
				# }		#				
		</td>		
	</tr>			
</script>

<style>
.k-edit-form-container{
    width: 900px;
}
.k-popup-edit-form .k-edit-label{
    width: 20%;
    text-align: left;
}
.k-popup-edit-form .k-edit-field{
    width: 70%;
}
.k-popup-edit-form .k-edit-field > .k-textbox,
.k-popup-edit-form .k-edit-field > .k-widget:not(.k-tooltip){
    width: 98%;
}
#divShpbyordGrd table{
    min-width: 1300px;
}
.k-grid table tr td div.k-state-focused-custom
{
	background: #f99;
	color: #fff; 
}
.k-grid td{
    white-space: nowrap;
    text-overflow: ellipsis;
}
.k-grid-content > table > tbody > tr > td{
	text-align: left;
}
.k-grid-content > table > tbody > tr > td:nth-child(1) {
	text-align: center;
}
.k-grid-content > table > tbody > tr > td:nth-child(8) {
	text-align: center;
}
.k-grid-content > table > tbody > tr > td:nth-child(13) {
	text-align: center;
}
.k-grid-content > table > tbody > tr > td:nth-child(15) {
	text-align: center;
}
.k-grid-content > table > tbody > tr > td:nth-child(16) {
	text-align: right;
}
.k-grid-content > table > tbody > tr > td:nth-child(17) {
	text-align: right;
}
.k-grid-content > table > tbody > tr > td:nth-child(21) {
	text-align: center;
}
.k-dropzone {
    border-style: solid;
    border-width: 0;
    padding: .1em;
    background-color: transparent;
}
</style>