<div class="modal-header">
	<h3 class="modal-title">기본옵션조회 및 설정</h3>
</div>
<div class="modal-body">
	<div class="simple-search">
		<form class="col-xs-12 left-group">
			<select class="form-control wid-x5" id="searchCode"
                    data-ng-model="bssOpt002VO.selectedCode" style="width: 150px"
                    data-ng-options="item.CD_DEF as item.NM_DEF for item in bssOpt002VO.searchCodeList">
                <option value="">검색유형선택</option>
            </select>
			<input type="text" eden-type="kor" class="form-control" title="검색어 입력" data-ng-model="bssOpt002VO.searchWord" autofocus>
			<kendo-button type="submit" data-ng-click="bssOpt002VO.dataSource.read()" title="">검색</kendo-button>
		</form>
	</div>	
    <div>
   		<div options="bssOpt002VO" kendo-grid="gridVO" id="gridVO">
   		</div>
    </div>
    <div class="modal-footer">
		<kendo-button type="submit" title="현재상품에 적용" data-ng-click="bssOpt002VO.doConfirm()">적용</kendo-button>
		<kendo-button type="button" title="취소" data-ng-click="bssOpt002VO.doCancle()">취소</kendo-button>
	</div>
</div>