<div id="app-content" class="col-xs-12 col-sm-10">
    <div class="row">
        <div id="app-content-header">
            <ol class="breadcrumb">
                <li><a href="#01ma/maDashboard"><i class="fa fa-home fa-2x"></i></a></li>
                <li><a href="#01ma/maItl">연동조회</a></li>
            </ol>
        </div>
    </div>
    
    <div class="row">
        <!-- 검색 -->
        <div class="content-area-container col-xs-12">
        	<div data-content-box-layer data-box-title="itlDataVO.boxTitle" data-is-open="itlDataVO.isOpen(val)">
                <form class="search-type1" id="myForm">
                	<table>
                        <colgroup>
                            <col style="width: 7%;">
                            <col style="width: 13%;">
                            <col style="width: 7%;">
                            <col style="width: 18%;">
                            <col style="width: 7%;">
                            <col style="width: 19%;">
                            <col style="width: 7%;">
                            <col style="width: 25%;">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th>마켓명</th>
                            <td>
                            	<co01-mcbox id="qa-asr-sts" title="답변처리상태" model="itlDataVO.mngMrkModel" options="itlDataVO.mngMrkBind" setting="itlDataVO.settingMrk"  style="width:100%;">
        						</co01-mcbox>
                            </td>
                            <th>작업명</th>
                            <td>
                            	<co01-mcbox id="qa-asr-sts" title="답변처리상태" model="itlDataVO.nmJobModel" options="itlDataVO.nmJobBind" setting="itlDataVO.setting"  style="width:100%;">
        						</co01-mcbox>        		
                            </td>		
                            <th>작업상태</th>
                            <td colspan="2">     
					            <co01-mcbox id="qa-asr-sts" title="답변처리상태" model="itlDataVO.stJobModel" options="itlDataVO.stJobBind" setting="itlDataVO.setting"  style="width:100%;">
        						</co01-mcbox>	
                            </td>      
                            <td></td>   
                        </tr>
                        <tr>
                            <th>예약일시</th>
                            <td colspan="7">                            	              	
                            	<div class="frm-group" data-date-search-group="itlDataVO.datesetting" style="display:inline-block;"></div>
                            </td>
                        </tr>
                        </tbody>
                    </table>            
                    <div class="btn-group1 mt-10">
                        <kendo-button type="submit" class="k-primary" title="검색" data-ng-click="itlDataVO.search()" style="width:70px;">검색</kendo-button>
                        <kendo-button type="botton" title="초기화" data-ng-click="itlDataVO.inIt()" style="width:70px;">초기화</kendo-button>
                    </div>
                </form>
            </div>
        </div>
                
        <!-- qa 리스트 -->          
		<div class="content-area-container col-xs-12" style="padding:0px 0px 0px 0px; margin-top:-5px;">		
			<kendo-tooltip options="itlDataVO.tooltipOptions">		
		        <div id="divItlGrd" kendo-grid="itlkg" options="gridItlVO">
		        </div>	            
		    </kendo-tooltip>
        </div>
        
        <div class="content-area-container col-xs-12" style="padding:0px 0px 0px 0px;">		
			<kendo-tooltip options="itlDataVO.tooltipOptions">		
		        <div kendo-tab-strip k-content-urls="[]">
	              <!-- tab list -->
	              <ul>
	                <li class="k-state-active" data-ng-click = "myInfoVO.tab(myInfoVO)">주문확정</li>
	                <li data-ng-click = "myInfoVO.tab(myInfoVO)">배송정보</li>
	                <li data-ng-click = "myInfoVO.tab(myInfoVO)">취소/반품/교환</li>
	                <li data-ng-click = "myInfoVO.tab(myInfoVO)">문의처</li>
	              </ul>
	          
	              <div style="padding: 1em">
	                <div id="" kendo-grid="" options="">
		        	</div>	 
	              </div>
	          
	              <div style="padding: 1em">
	                <div id="" kendo-grid="" options="">
		        	</div>	 
	              </div>
	              
	              <div style="padding: 1em">
	                <div id="" kendo-grid="" options="">
		        	</div>	 
	              </div>
	              
	              <div style="padding: 1em">
	                <div id="" kendo-grid="" options="">
		        	</div>	 
	              </div>
	            </div>            
		    </kendo-tooltip>
        </div>
    </div>
</div>

<!-- 가입자 검색 그리드(조회용) -->
<div kendo-dialog="dialog" k-options="memSearchGrd">
    <div class='k-textbox k-space-right search-wrapper'>
        <input id="memberSearchMain" class="memberSearch" type='text' ng-model="memSearchGrd.searchValue" ng-keyup="memSearchGrd.searchKeyUp($event)" ng-keydown="memSearchGrd.searchKeyUp($event)"
            placeholder='검색할 가입자를 입력하세요'/><span class='k-icon k-i-search'></span>
    </div>
    <div class='select-all-wrapper'>
        <input type='checkbox' class='k-checkbox' ng-change="memSearchGrd.selectAllItems()" ng-model="memSearchGrd.selectAll" id='selectAllInput'/>
        <label class='k-checkbox-label' for='selectAllInput'>전체 선택</label>
        <span class='selected-count'>{{memSearchGrd.selectedCount}} 명 선택</span>
    </div>
    <div kendo-tree-view="treeView" k-options="memSearchGrd">
        <span k-template data-color-matches="memSearchGrd.searchValue" data-value="{{dataItem.NM}}">
        </span>        
    </div>
    <div data-ng-if="!(dataItem.NM)" style="width:100; text-align:center; margin-top:5px;">
    	<span>조회된 데이터가 없습니다.</span>
    </div>
</div>

<!-- 문의사항 조회 그리드 -->
<script id="qa-template" type="text/x-kendo-template">		
     <tr class="k-grid-row" data-uid="#= uid #">
		<td class="ta-r">
            <span class="seq ells">
				# if(ROW_NUM){		# 
				#: ROW_NUM 			# 
				# } 				#
			</span>
        </td>
		<td class="ta-c">
            <span class="ells">
				# if(NO_C){ 		# 
				#: NO_C 			# 
				# } 				#
			</span>
        </td>
		<td class="ta-c">
            <span class="ells">
				# if(NO_MNGMRK){    #
				#: NO_MNGMRK 		#
      			# } 				#
			</span>
        </td>
		<td class="ta-l">
            <span class="ells">
				# if(NO_MRK){  		#
				#: NO_MRK     		#                             
                # } 			    #	
			</span>
        </td>
		<td class="ta-l">
            <span class="ells">
				# if(DC_MRKID){  	#
				#: DC_MRKID     	#                             
                # } 			    #	
			</span>
        </td>
		<td class="ta-l">
            <span class="ells">
				# if(JOB){  		#
				#: JOB    	 		#                             
                # } 			    #	
			</span>
        </td>
		<td class="ta-l">
            <span class="ells">
				# if(STATUS){  		#
				#: STATUS    	 	#                             
                # } 			    #	
			</span>
        </td>
		<td class="ta-l">
            <span class="ells">
				# if(RESULT){  		#
				#: RESULT    	 	#                             
                # } 			    #	
			</span>
        </td>
		<td class="ta-l">
            <span class="ells">
				# if(RESERVED_DATE){#
				#: RESERVED_DATE    #                             
                # } 			    #	
			</span>
        </td>
		<td class="ta-l">
            <span class="ells">
				# if(START_DATE){   #
				#: START_DATE       #                             
                # } 			    #	
			</span>
        </td>
		<td class="ta-l">
            <span class="ells">
				# if(END_DATE){     #
				#: END_DATE         #                             
                # } 			    #	
			</span>
        </td>
		<td class="ta-l">
            <span class="ells">
				# if(UPDATED){      #
				#: UPDATED          #                             
                # } 			    #	
			</span>
        </td>
	</tr>
</script>

<style>
table tbdoy tr th, table tbody tr td {
	padding: 6px 7px;
	text-align: left;
	vertical-align: middle;
}

.not_pop_title{
	padding: 10px;
}
/*
    Increase the width of the edit form.
    The default one is 400px.
*/
.k-edit-form-container{
    width: 900px;
}
/*
    Decrease the width of the edit form labels. The default one is 30%.
    The new width should depend on the column titles.
    Switch the text alignment to the left. By default, it is to the right.
*/
.k-popup-edit-form .k-edit-label{
    width: 20%;
    text-align: left;
}
/*
    Increase the width of the textbox containers. The default one is 60%.
    The sum of label and editor percentage widths should be around 90%, to make up for existing paddings.
*/
.k-popup-edit-form .k-edit-field{
    width: 70%;
}
/*
    Expand the edit textboxes and any other Kendo UI widgets.
    In case of unexpected side effects, use widget-specific classes, instead of .k-widget.
*/
.k-popup-edit-form .k-edit-field > .k-textbox,
.k-popup-edit-form .k-edit-field > .k-widget:not(.k-tooltip){
    width: 98%;
}
.signal{    
    width: 99%;
    margin: 5px;
}
.border-bottom-line{	
	border-bottom: 1px solid #eee;
}
.k-edit-form-container .k-edit-buttons{
	border-style: none;
}
#example{
    min-height: 200px;
}
#example .title {
    font-weight: bold;
    margin-bottom: 25px;
}
.search-wrapper {
    width: 100%;
}
.query-match {
	color: red;
}
.select-all-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
}
.selected-count {
    float: right;
    color: #aaa;
}
.k-treeview {
    border-width: 1px!important;
    padding: 5px;
}
.selectedName {
    padding: 5px 10px;
    background: #aaa;
    color: white;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
} 
.class-target-dropdown{
	width:65%; 
	display:inline-block; 
	vertical-align:middle;
}
.class-target-button{
	width:33%; 
	display:inline-block; 
	vertical-align:middle; 
	text-align:right;
}
.k-editor-toolbar-wrap{
	text-align: left;
};
</style>
