<div class="wrap" id="login_wrap">
	<div class="header" style="position:relative;">
		<ul class="menu_list">
			<li><a href="index.html"><img src="/mi/assets/img/main-page/logo-1.jpg"/></a></li>
			<li>
				<ul class="menu">
					<li><a href="index.html#info">소개</a></li>
					<li><a href="index.html#char">특징</a></li>
					<li><a href="index.html#function">주요기능</a></li>
					<li><a href="/mi/assets/download/MembershipJoin(V1.0).pdf" target="_blank">회원가입메뉴얼</a></li>
				</ul>
			</li>
		</ul>
		<div class="btn" data-ng-click="loginVO.openClk()"><img src="/mi/assets/img/main-page/menu_btn.png"  border="0" alt=""/></div>
		<div class="clearfix"></div>
	</div>
	<div class="login">
		<div class="login_left">
			<form name="loginForm" id="loginForm">
				<h3>로그인</h3>
				<div class="clearfix"></div>
				<ul class="input">
					<li><input type="text" id="bsCdId" title="가입자번호입력" placeholder="가입자번호" data-ng-model="loginVO.info.bsCd" required /></li>
					<li><input type="text" title="ID입력" placeholder="아이디" data-ng-model="loginVO.info.user" required /></li>
					<li><input type="password" id="passWord" title="PW입력" placeholder="비밀번호" data-ng-model="loginVO.info.password" required/></li>
				</ul>
				<button type="submit" class="login_buttom" style="width:100px;"title="로그인" data-ng-click="loginVO.doLogin()" data-ng-disabled="loginForm.$invalid">로그인</button>
				<div class="clearfix"></div>
				<div class="login_bottom">
					<ul>
						<li>
							<label class="container1">
								아이디 저장
								<input type="checkbox" id="registerId" title="아이디 저장" data-ng-model="loginVO.isRegisterId" />
								<span class="checkmark"></span>
							</label>							
						</li>
						<li><a data-ng-click="loginVO.modalUserJoin()" >회원가입</a> | <a data-ng-click="loginVO.modalRePassword()">비밀번호재설정</a></li>
					</ul>
				</div>
			</form>
		</div>		
		<div id="loginAvtmSlides" class="login_right"></div>			
		<span>www.marketmanager.co.kr {{loginVO.version}}</span>	
	</div>
</div>
	
<!-- 모바일 메뉴 -->
<div id="menu" class="wrap">
	<div class="mobile_close" ><img src="/mi/assets/img/main-page/menu_x.png" data-ng-click="loginVO.openClk()" width="100%"></div>
	<ul class="menu_footer">
	  	<li><a href="index.html#info">소개</a></li>
		<li><a href="index.html#char">특징</a></li>
		<li><a href="index.html#function">주요기능</a></li>
		<li><a href="/mi/assets/download/MembershipJoin(V1.0).pdf" target="_blank">회원가입메뉴얼</a></li>
	</ul>
</div>
<!-- 
<style>
body{
	background:#FFFFFF;
}	
</style> -->